interactions:
- request:
    body: '{"query": "query GetPullRequest($owner: String!, $repo: String!, $pr_number:
      Int!) {\n    repository(owner: $owner, name: $repo) {\n        pullRequest(number:
      $pr_number) {\n            number\n            title\n            author {\n                login\n                ...
      on User {\n                    databaseId\n                }\n                ...
      on Bot {\n                    databaseId\n                }\n            }\n            labels(first:
      100) {\n                nodes {\n                    name\n                }\n            }\n            state\n            mergeCommit
      {\n                oid\n            }\n            baseRefOid\n            baseRefName\n            baseRepository
      {\n                name\n                owner {\n                    login\n                }\n            }\n            headRefOid\n            headRefName\n            headRepository
      {\n                name\n                owner {\n                    login\n                }\n            }\n        }\n    }\n}\n",
      "variables": {"owner": "ThiagoCodecov", "repo": "example-python", "pr_number":
      17}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    content: '{"data":{"repository":{"pullRequest":{"number":17,"title":"Thiago/f/something","author":{"login":"ThiagoCodecov","databaseId":44376991},"labels":{"nodes":[]},"state":"MERGED","mergeCommit":{"oid":"92e005b57ad5a3b68dbb757ed436756826a397c7"},"baseRefOid":"6dc3afd80a8deea5ea949d284d996d58811cd01d","baseRefName":"master","baseRepository":{"name":"example-python","owner":{"login":"ThiagoCodecov"}},"headRefOid":"c9fb9262268f11b53c6b0682d4f9acac89bdeee5","headRefName":"thiago/f/something","headRepository":{"name":"example-python","owner":{"login":"ThiagoCodecov"}}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v4
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4999'
      X-RateLimit-Reset:
      - '1728551192'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '1'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/pulls/17/commits?per_page=100&page=1
  response:
    content: '[{"sha":"e2de2b261cfd934b45babfe241012ddd129ff8ed","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OmUyZGUyYjI2MWNmZDkzNGI0NWJhYmZlMjQxMDEyZGRkMTI5ZmY4ZWQ=","commit":{"author":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2020-01-07T16:47:05Z"},"committer":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2020-01-07T16:47:05Z"},"message":"5609B3F3-74E2-42AE-B298-51B8280371C6","tree":{"sha":"50f132271f74df3d310ab2eef0eb6f8b0e993c9f","url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees/50f132271f74df3d310ab2eef0eb6f8b0e993c9f"},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits/e2de2b261cfd934b45babfe241012ddd129ff8ed","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/e2de2b261cfd934b45babfe241012ddd129ff8ed","html_url":"https://github.com/ThiagoCodecov/example-python/commit/e2de2b261cfd934b45babfe241012ddd129ff8ed","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/e2de2b261cfd934b45babfe241012ddd129ff8ed/comments","author":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"committer":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"parents":[{"sha":"6dc3afd80a8deea5ea949d284d996d58811cd01d","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/6dc3afd80a8deea5ea949d284d996d58811cd01d","html_url":"https://github.com/ThiagoCodecov/example-python/commit/6dc3afd80a8deea5ea949d284d996d58811cd01d"}]},{"sha":"7a7153d24f76c9ad58f421bcac8276203d589b1a","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjdhNzE1M2QyNGY3NmM5YWQ1OGY0MjFiY2FjODI3NjIwM2Q1ODliMWE=","commit":{"author":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","da[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits?sha=master
  response:
    content: '[{"sha":"93189ce50f224296d6412e2884b93dcc3c7c8654","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjkzMTg5Y2U1MGYyMjQyOTZkNjQxMmUyODg0YjkzZGNjM2M3Yzg2NTQ=","commit":{"author":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2020-12-04T04:21:18Z"},"committer":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2020-12[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/compare/6dc3afd80a8deea5ea949d284d996d58811cd01d...6dc3afd80a8deea5ea949d284d996d58811cd01d
  response:
    content: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/6dc3afd80a8deea5ea949d284d996d58811cd01d...6dc3afd80a8deea5ea949d284d996d58811cd01d","html_url":"https://github.com/ThiagoCodecov/example-python/compare/6dc3afd80a8deea5ea949d284d996d58811cd01d...6dc3afd80a8deea5ea949d284d996d58811cd01d","permalink_url":"https://github.com/ThiagoCodecov/example-python/compare/ThiagoCodecov:6dc3afd...ThiagoCodecov:6dc3afd","diff_url":"https://github.com/ThiagoCodecov/example-python/compare/6dc3afd80a8deea5ea949d284d996d58811cd01d...6dc3afd80a8deea5ea949d284d996d58811cd01d.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/compare/6dc3afd80a8deea5ea949d284d996d58811cd01d...6dc3afd80a8deea5ea949d284d996d58811cd01d.patch","base_commit":{"sha":"6dc3afd80a8deea5ea949d284d996d58811cd01d","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjZkYzNhZmQ4MGE4ZGVlYTVlYTk0OWQyODRkOTk2ZDU4ODExY2QwMWQ=","commit":{"author":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2020-01-07T04:55:14Z"},"committer":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2020-01-07T04:55:14Z"},"message":"8C93D40F-9BD0-4C70-A474-3DE83B491330","tree":{"sha":"777f74a8f509fb4aa173678312251ca2f9d01698","url":"https://api.github.com/repos/ThiagoCo[...]
