interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/pulls/17
  response:
    body: {string: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/17","id":360077097,"node_id":"MDExOlB1bGxSZXF1ZXN0MzYwMDc3MDk3","html_url":"https://github.com/ThiagoCodecov/example-python/pull/17","diff_url":"https://github.com/ThiagoCodecov/example-python/pull/17.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/pull/17.patch","issue_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/17","number":17,"state":"closed","locked":false,"title":"Thiago/f/something","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"body":"","created_at":"2020-01-07T16:47:39Z","updated_at":"2020-02-07T18:50:34Z","closed_at":"2020-02-07T18:50:34Z","merged_at":"2020-02-07T18:50:34Z","merge_commit_sha":"92e005b57ad5a3b68dbb757ed436756826a397c7","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/17/commits","review_comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/17/comments","review_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/comments{/number}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/17/comments","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/c9fb9262268f11b53c6b0682d4f9acac89bdeee5","head":{"label":"ThiagoCodecov:thiago/f/something","ref":"thiago/f/something","sha":"c9fb9262268f11b53c6b0682d4f9acac89bdeee5","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"repo":{"id":156617777,"node_id":"MDEwOlJlcG9zaXRvcnkxNTY2MTc3Nzc=","name":"example-python","full_name":"ThiagoCodecov/example-python","private":false,"owner":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ThiagoCodecov/example-python","description":"Python
        coverage example","fork":true,"url":"https://api.github.com/repos/ThiagoCodecov/example-python","forks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/forks","keys_url":"https://api.github.com/repos/ThiagoCodecov/example-python/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ThiagoCodecov/example-python/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ThiagoCodecov/example-python/teams","hooks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks","issue_events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/events{/number}","events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/events","assignees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/assignees{/user}","branches_url":"https://api.github.com/repos/ThiagoCodecov/example-python/branches{/branch}","tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/tags","blobs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/refs{/sha}","trees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/{sha}","languages_url":"https://api.github.com/repos/ThiagoCodecov/example-python/languages","stargazers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/stargazers","contributors_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contributors","subscribers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscribers","subscription_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscription","commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits{/sha}","git_commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits{/sha}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/comments{/number}","issue_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/comments{/number}","contents_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/{+path}","compare_url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ThiagoCodecov/example-python/merges","archive_url":"https://api.github.com/repos/ThiagoCodecov/example-python/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ThiagoCodecov/example-python/downloads","issues_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues{/number}","pulls_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls{/number}","milestones_url":"https://api.github.com/repos/ThiagoCodecov/example-python/milestones{/number}","notifications_url":"https://api.github.com/repos/ThiagoCodecov/example-python/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ThiagoCodecov/example-python/labels{/name}","releases_url":"https://api.github.com/repos/ThiagoCodecov/example-python/releases{/id}","deployments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/deployments","created_at":"2018-11-07T22:40:20Z","updated_at":"2020-02-09T13:51:32Z","pushed_at":"2020-02-09T13:51:30Z","git_url":"git://github.com/ThiagoCodecov/example-python.git","ssh_url":"git@github.com:ThiagoCodecov/example-python.git","clone_url":"https://github.com/ThiagoCodecov/example-python.git","svn_url":"https://github.com/ThiagoCodecov/example-python","homepage":"https://codecov.io","size":174,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":4,"license":null,"forks":0,"open_issues":4,"watchers":0,"default_branch":"master"}},"base":{"label":"ThiagoCodecov:master","ref":"master","sha":"6dc3afd80a8deea5ea949d284d996d58811cd01d","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/pulls/17/commits
  response:
    body: {string: '[{"sha":"e2de2b261cfd934b45babfe241012ddd129ff8ed","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OmUyZGUyYjI2MWNmZDkzNGI0NWJhYmZlMjQxMDEyZGRkMTI5ZmY4ZWQ=","commit":{"author":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2020-01-07T16:47:05Z"},"committer":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2020-01-07T16:47:05Z"},"message":"5609B3F3-74E2-42AE-B298-51B8280371C6","tree":{"sha":"50f132271f74df3d310ab2eef0eb6f8b0e993c9f","url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees/50f132271f74df3d310ab2eef0eb6f8b0e993c9f"},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits/e2de2b261cfd934b45babfe241012ddd129ff8ed","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/e2de2b261cfd934b45babfe241012ddd129ff8ed","html_url":"https://github.com/ThiagoCodecov/example-python/commit/e2de2b261cfd934b45babfe241012ddd129ff8ed","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/e2de2b261cfd934b45babfe241012ddd129ff8ed/comments","author":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/contents?ref=thiago%2Ff%2Fsomething
  response:
    body: {string: '[{"name":".gitignore","path":".gitignore","sha":"e9428a03c7fc4ce77bba5997760efb3bb6ec42ee","size":1765,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.gitignore?ref=thiago/f/something","html_url":"https://github.com/ThiagoCodecov/example-python/blob/thiago/f/something/.gitignore","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/e9428a03c7fc4ce77bba5997760efb3bb6ec42ee","download_url":"https://raw.githubusercontent.com/ThiagoCodecov/example-python/thiago/f/something/.gitignore","type":"file","_links":{"self":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.gitignore?ref=thiago/f/something","git":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/e9428a03c7fc4ce77bba5997760efb3bb6ec42ee","html":"https://github.com/ThiagoCodecov/example-python/blob/thiago/f/something/.gitignore"}},{"name":"Makefile","path":"Makefile","sha":"8feacc0b967da9f0be4d936d2e43a9d9c23ade8e","size":854,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/Makefile?ref=thiago/f/something","html_url":"https://github.com/ThiagoCodecov/example-python/blob/thiago/f/something/Makefile","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/8feacc0b967da9f0be4d936d2e43a9d9c23a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/contents/codecov.yaml?ref=thiago%2Ff%2Fsomething
  response:
    body: {string: '{"name":"codecov.yaml","path":"codecov.yaml","sha":"842e646f82cbcbb30cd0da6ede1f417a32939182","size":396,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/codecov.yaml?ref=thiago/f/something","html_url":"https://github.com/ThiagoCodecov/example-python/blob/thiago/f/something/codecov.yaml","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/842e646f82cbcbb30cd0da6ede1f417a32939182","download_url":"https://raw.githubusercontent.com/ThiagoCodecov/example-python/thiago/f/something/codecov.yaml","type":"file","content":"Y29kZWNvdjoKICBub3RpZnk6CiAgICByZXF1aXJlX2NpX3RvX3Bhc3M6IHll\ncwoKY292ZXJhZ2U6CiAgcHJlY2lzaW9uOiAyCiAgcm91bmQ6IGRvd24KICBy\nYW5nZTogIjcwLi4uMTAwIgoKICBzdGF0dXM6CiAgICBwcm9qZWN0OiB5ZXMK\nICAgIHBhdGNoOiB5ZXMKICAgIGNoYW5nZXM6IG5vCgpwYXJzZXJzOgogIGdj\nb3Y6CiAgICBicmFuY2hfZGV0ZWN0aW9uOgogICAgICBjb25kaXRpb25hbDog\neWVzCiAgICAgIGxvb3A6IHllcwogICAgICBtZXRob2Q6IG5vCiAgICAgIG1h\nY3JvOiBubwoKZmxhZ3M6CiAgZmxhZ29uZToKICAgIGNhcnJ5Zm9yd2FyZDog\ndHJ1ZQoKY29tbWVudDoKICBsYXlvdXQ6ICJoZWFkZXIsIGRpZmYiCiAgYmVo\nYXZpb3I6IGRlZmF1bHQKICByZXF1aXJlX2NoYW5nZXM6IG5v\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/codecov.yaml?ref=thiago/f/something","git":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/842e646f82cbcbb30cd0da6ede1f417a32939182","html":"https://github.com/ThiagoCodecov/example-python/blob/thiago/f/something/codecov.yaml"}}'}
    headers:
    - !!python/tuple
      - Date
      - ['Tue, 18 Feb 2020 18:29:09 GMT']
    - !!python/tuple
      - Content-Type
      - [application/js[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/compare/6dc3afd80a8deea5ea949d284d996d58811cd01d...6dc3afd80a8deea5ea949d284d996d58811cd01d
  response:
    body: {string: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/6dc3afd80a8deea5ea949d284d996d58811cd01d...6dc3afd80a8deea5ea949d284d996d58811cd01d","html_url":"https://github.com/ThiagoCodecov/example-python/compare/6dc3afd80a8deea5ea949d284d996d58811cd01d...6dc3afd80a8deea5ea949d284d996d58811cd01d","permalink_url":"https://github.com/ThiagoCodecov/example-python/compare/ThiagoCodecov:6dc3afd...ThiagoCodecov:6dc3afd","diff_url":"https://github.com/ThiagoCodecov/example-python/compare/6dc3afd80a8deea5ea949d284d996d58811cd01d...6dc3afd80a8deea5ea949d284d996d58811cd01d.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/compare/6dc3afd80a8deea5ea949d284d996d58811cd01d...6dc3afd80a8deea5ea949d284d996d58811cd01d.patch","base_commit":{"sha":"6dc3afd80a8deea5ea949d284d996d58811cd01d","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjZkYzNhZmQ4MGE4ZGVlYTVlYTk0OWQyODRkOTk2ZDU4ODExY2QwMWQ=","commit":{"author":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2020-01-07T04:55:14Z"},"committer":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2020-01-07T04:55:14Z"},"message":"8C93D40F-9BD0-4C70-A474-3DE83B491330","tree":{"sha":"777f74a8f509fb4aa173678312251ca2f9d01698","url":"https://api.github.com/repos/Thia[...]
[...]
