interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/abf6d4df662c47e32460020ab14abf9303581429
  response:
    content: '{"sha":"abf6d4df662c47e32460020ab14abf9303581429","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OmFiZjZkNGRmNjYyYzQ3ZTMyNDYwMDIwYWIxNGFiZjkzMDM1ODE0Mjk=","commit":{"author":{"name":"Thiago
      Ribeiro Ramos","email":"thiago@ribeiroramos.com","date":"2019-01-10T01:39:55Z"},"committer":{"name":"Thiago
      Ribeiro Ramos","email":"thiago@ribeiroramos.com","date":"2019-01-10T01:39:55Z"},"message":"dsidsahdsahdsa","tree":{"sha":"88796ed5686cfd7dffdb2db34b6b12ccaefde90e","url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees/88796ed5686cfd7dffdb2db34b6b12ccaefde90e"},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits/abf6d4df662c47e32460020ab14abf9303581429","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/abf6d4df662c47e32460020ab14abf9303581429","html_url":"https://github.com/ThiagoCodecov/example-python/commit/abf6d4df662c47e32460020ab14abf9303581429","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/abf6d4df662c47e32460020ab14abf9303581429/comments","author":null,"committer":null,"parents":[{"sha":"c5b67303452bbff57cc1f49984339cde39eb1db5","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/c5b67303452bbff57cc1f49984339cde39eb1db5","html_url":"https://github.com/ThiagoCodecov/example-python/commit/c5b67303452bbff57cc1f49984339cde39eb1db5"}],"stats":{"total":6,"additions":5,"deletions":1},"files":[{"sha":"770f2e8c26296c665565d336490a5306380b61d4","filename":"awesome/__init__.py","status":"modified","additions":4,"deletions":0,"changes":4,"blob_url":"https://github.com/ThiagoCodecov/example-python/blob/abf6d4df662c47e32460020ab14abf9303581429/awesome/__init__.py","raw_url":"https://github.com/ThiagoCodecov/example-python/raw/abf6d4df662c47e32460020ab14abf9303581429/awesome/__init__.py","contents_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/awesome/__init__.py?ref=abf6d4df662c47e32460020ab14abf9303581429","patch":"@@
      -10,3 +10,7 @@ def fib(n):\n     if n < 2:\n         return 1\n     return fib(n
      - 2) + fib(n - 1)\n+\n+\n+def coala(k):\n+    return k * k"},{"sha":"d4076376a0834a54939fe778da2f0524e10bace0","filename":"coverage.xml","status":"modified","additions":1,"deletions":1,"changes":2,"blob_url":"https://github.com/ThiagoCodecov/example-python/blob/abf6d4df662c47e32460020ab14abf9303581429/coverage.xml","raw_url":"https://github.com/ThiagoCodecov/example-python/raw/abf6d4df662c47e32460020ab14abf9303581429/coverage.xml","contents_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/coverage.xml?ref=abf6d4df662c47e32460020ab14abf9303581429","patch":"@@
      -1,5 +1,5 @@\n <?xml version=\"1.0\" ?>\n-<coverage branch-rate=\"0\" branches-covered=\"0\"
      branches-valid=\"0\" complexity=\"0\" line-rate=\"0.8889\" lines-covered=\"16\"
      lines-valid=\"18\" timestamp=\"1547083947227\" version=\"4.5.1\">\n+<coverage
      branch-rate=\"0\" branches-covered=\"0\" branches-valid=\"0\" complexity=\"0\"
      line-rate=\"0.8889\" lines-covered=\"16\" lines-valid=\"18\" timestamp=\"1547084360935\"
      version=\"4.5.1\">\n \t<!-- Generated by coverage.py: https://coverage.readthedocs.io
      -->\n \t<!-- Based on https://raw.githubusercontent.com/cobertura/web/master/htdocs/xml/coverage-04.dtd
      -->\n \t<sources>"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e7b5f4329ef951f5157b29b27f6f5602"
      Last-Modified:
      - Thu, 10 Jan 2019 01:39:55 GMT
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - ''
      X-Consumed-Content-Encoding:
      - gzip
      X-Github-Media-Type:
      - github.v3
      X-Oauth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, write:discussion
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1576096965'
    status:
      code: 200
      message: OK
    status_code: 200
    url: https://api.github.com/repos/ThiagoCodecov/example-python/commits/abf6d4df662c47e32460020ab14abf9303581429
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/pulls/1
  response:
    content: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/1","id":229193531,"node_id":"MDExOlB1bGxSZXF1ZXN0MjI5MTkzNTMx","html_url":"https://github.com/ThiagoCodecov/example-python/pull/1","diff_url":"https://github.com/ThiagoCodecov/example-python/pull/1.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/pull/1.patch","issue_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/1","number":1,"state":"closed","locked":false,"title":"Creating
      new code for reasons no one knows","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"body":"Why
      you ask?\r\n\r\nI dont know","created_at":"2018-11-07T22:44:49Z","updated_at":"2019-12-09T12:13:24Z","closed_at":"2019-09-09T22:23:11Z","merged_at":"2019-09-09T22:23:11Z","merge_commit_sha":"038ac8ac2127baa19a927c67f0d5168d9928abf3","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/1/commits","review_comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/1/comments","review_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/comments{/number}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/1/comments","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/119c1907fb266f374b8440bbd70dccbea54daf8f","head":{"label":"ThiagoCodecov:reason/some-testing","ref":"reason/some-testing","sha":"119c1907fb266f374b8440bbd70dccbea54daf8f","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"repo":{"id":156617777,"node_id":"MDEwOlJlcG9zaXRvcnkxNTY2MTc3Nzc=","name":"example-python","full_name":"ThiagoCodecov/example-python","private":false,"owner":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ThiagoCodecov/example-python","description":"Python
      coverage example","fork":true,"url":"https://api.github.com/repos/ThiagoCodecov/example-python","forks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/forks","keys_url":"https://api.github.com/repos/ThiagoCodecov/example-python/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ThiagoCodecov/example-python/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ThiagoCodecov/example-python/teams","hooks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks","issue_events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/events{/number}","events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/events","assignees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/assignees{/user}","branches_url":"https://api.github.com/repos/ThiagoCodecov/example-python/branches{/branch}","tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/tags","blobs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/refs{/sha}","trees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/{sha}","languages_url":"https://api.github.com/repos/ThiagoCodecov/example-python/languages","stargazers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/stargazers","contributors_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contributors","subscribers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscribers","subscription_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscription","commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits{/sha}","git_commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits{/sha}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/comments{/number}","issue_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/comments{/number}","contents_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/{+path}","compare_url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ThiagoCodecov/example-python/merges","archive_url":"https://api.github.com/repos/ThiagoCodecov/example-python/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ThiagoCodecov/example-python/downloads","issues_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues{/number}","pulls_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls{/number}","milestones_url":"https://api.github.com/repos/ThiagoCodecov/example-python/milestones{/number}","notifications_url":"https://api.github.com/repos/ThiagoCodecov/example-python/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ThiagoCodecov/example-python/labels{/name}","releases_url":"https://api.github.com/repos/ThiagoCodecov/example-python/releases{/id}","deployments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/deployments","created_at":"2018-11-07T22:40:20Z","updated_at":"2019-12-09T12:18:20Z","pushed_at":"2019-12-09T12:19:02Z","git_url":"git://github.com/ThiagoCodecov/example-python.git","ssh_url":"git@github.com:ThiagoCodecov/example-python.git","clone_url":"https://github.com/ThiagoCodecov/example-python.git","svn_url":"https://github.com/ThiagoCodecov/example-python","homepage":"https://codecov.io","size":65,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":3,"license":null,"forks":0,"open_issues":3,"watchers":0,"default_branch":"master"}},"base":{"label":"ThiagoCodecov:master","ref":"master","sha":"68946ef98daec68c7798459150982fc799c87d85","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/[...]
- request:
    body: '{"name": "web", "active": true, "events": ["pull_request", "delete", "push",
      "public", "status", "repository"], "config": {"url": "https://codecov.io/webhooks/github",
      "secret": "test46nudghi6oft49bay37keyiuhok7", "content_type": "json"}}'
    headers:
    method: POST
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/hooks
  response:
    content: '{"message":"Validation Failed","errors":[{"resource":"Hook","code":"custom","message":"Hook
      already exists on this repository"}],"documentation_url":"https://developer.github.com/v3/repos/hooks/#create-a-hook"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, repo, write:repo_hook
      X-Github-Media-Type:
      - github.v3
      X-Oauth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, write:discussion
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1576096965'
    status:
      code: 422
      message: Unprocessable Entity
    status_code: 422
    url: https://api.github.com/repos/ThiagoCodecov/example-python/hooks
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/pulls/1/commits
  response:
    content: '[{"sha":"587662b6e5403ae0d126e0c7839a8d98382c4760","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjU4NzY2MmI2ZTU0MDNhZTBkMTI2ZTBjNzgzOWE4ZDk4MzgyYzQ3NjA=","commit":{"author":{"name":"Thiago
      Ribeiro Ramos","email":"thiago@ribeiroramos.com","date":"2018-11-07T22:43:54Z"},"committer":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/contents?ref=abf6d4df662c47e32460020ab14abf9303581429
  response:
    content: '[{"name":".coverage","path":".coverage","sha":"23e6e577d9e906f1fa619e8a8672d9537ff27326","size":335,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.coverage?ref=abf6d4df662c47e32460020ab14abf9303581429","html_url":"https://github.com/ThiagoCodecov/example-python/blob/abf6d4df662c47e32460020ab14abf9303581429/.coverage","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/23e6e577d9e906f1fa619e8a8672d9537ff27326","download_url":"https://raw.githubusercontent.com/ThiagoCodecov/example-python/abf6d4df662c47e32460020ab14abf9303581429/.coverage","type":"file","_links":{"self":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.coverage?ref=abf6d4df662c47e32460020ab14abf9303581429","git":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/23e6e577d9e906f1fa619e8a8672d9537ff27326","html":"https://github.com/ThiagoCodecov/example-python/blob/abf6d4df662c47e32460020ab14abf9303581429/.coverage"}},{"name":".travis.yml","path":".travis.yml","sha":"11d295c04e2feac0a533bf5b1df52b84f8076eec","size":144,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.travis.yml?ref=abf6d4df662c47e32460020ab14abf9303581429","html_url":"https://github.com/ThiagoCodecov/example-python/blob/abf6d4df662c47e32460020ab14abf9303581429/.travis.yml","git_url":"https://api.github.com/repo[...]
