interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/abf6d4df662c47e32460020ab14abf9303581429
  response:
    content: '{"sha":"abf6d4df662c47e32460020ab14abf9303581429","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OmFiZjZkNGRmNjYyYzQ3ZTMyNDYwMDIwYWIxNGFiZjkzMDM1ODE0Mjk=","commit":{"author":{"name":"Thiago
      Ribeiro Ramos","email":"thiago@ribeiroramos.com","date":"2019-01-10T01:39:55Z"},"committer":{"name":"Thiago
      Ribeiro Ramos","email":"thiago@ribeiroramos.com","date":"2019-01-10T01:39:55Z"},"message":"dsidsahdsahdsa","tree":{"sha":"88796ed5686cfd7dffdb2db34b6b12ccaefde90e","url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees/88796ed5686cfd7dffdb2db34b6b12ccaefde90e"},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits/abf6d4df662c47e32460020ab14abf9303581429","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/abf6d4df662c47e32460020ab14abf9303581429","html_url":"https://github.com/ThiagoCodecov/example-python/commit/abf6d4df662c47e32460020ab14abf9303581429","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/abf6d4df662c47e32460020ab14abf9303581429/comments","author":null,"committer":null,"parents":[{"sha":"c5b67303452bbff57cc1f49984339cde39eb1db5","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/c5b67303452bbff57cc1f49984339cde39eb1db5","html_url":"https://github.com/ThiagoCodecov/example-python/commit/c5b67303452bbff57cc1f49984339cde39eb1db5"}],"stats":{"total":6,"additions":5,"deletions":1},"files":[{"sha":"770f2e8c26296c665565d336490a5306380b61d4","filename":"awesome/__init__.py","status":"modified","additions":4,"deletions":0,"changes":4,"blob_url":"https://github.com/ThiagoCodecov/example-python/blob/abf6d4df662c47e32460020ab14abf9303581429/awesome%2F__init__.py","raw_url":"https://github.com/ThiagoCodecov/example-python/raw/abf6d4df662c47e32460020ab14abf9303581429/awesome%2F__init__.py","contents_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/awesome%2F__init__.py?ref=abf6d4df662c47e32460020ab14abf9303581429","patch":"@@
      -10,3 +10,7 @@ def fib(n):\n     if n < 2:\n         return 1\n     return fib(n
      - 2) + fib(n - 1)\n+\n+\n+def coala(k):\n+    return k * k"},{"sha":"d4076376a0834a54939fe778da2f0524e10bace0","filename":"coverage.xml","status":"modified","additions":1,"deletions":1,"changes":2,"blob_url":"https://github.com/ThiagoCodecov/example-python/blob/abf6d4df662c47e32460020ab14abf9303581429/coverage.xml","raw_url":"https://github.com/ThiagoCodecov/example-python/raw/abf6d4df662c47e32460020ab14abf9303581429/coverage.xml","contents_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/coverage.xml?ref=abf6d4df662c47e32460020ab14abf9303581429","patch":"@@
      -1,5 +1,5 @@\n <?xml version=\"1.0\" ?>\n-<coverage branch-rate=\"0\" branches-covered=\"0\"
      branches-valid=\"0\" complexity=\"0\" line-rate=\"0.8889\" lines-covered=\"16\"
      lines-valid=\"18\" timestamp=\"1547083947227\" version=\"4.5.1\">\n+<coverage
      branch-rate=\"0\" branches-covered=\"0\" branches-valid=\"0\" complexity=\"0\"
      line-rate=\"0.8889\" lines-covered=\"16\" lines-valid=\"18\" timestamp=\"1547084360935\"
      version=\"4.5.1\">\n \t<!-- Generated by coverage.py: https://coverage.readthedocs.io
      -->\n \t<!-- Based on https://raw.githubusercontent.com/cobertura/web/master/htdocs/xml/coverage-04.dtd
      -->\n \t<sources>"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5097b661d57cf506d2e8a87fdcff450493c64e576ed4b67e5d9b4080d7b7f47c"
      Last-Modified:
      - Thu, 10 Jan 2019 01:39:55 GMT
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4981'
      X-RateLimit-Reset:
      - '1728551192'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '19'
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: '{"query": "query GetPullRequest($owner: String!, $repo: String!, $pr_number:
      Int!) {\n    repository(owner: $owner, name: $repo) {\n        pullRequest(number:
      $pr_number) {\n            number\n            title\n            author {\n                login\n                ...
      on User {\n                    databaseId\n                }\n                ...
      on Bot {\n                    databaseId\n                }\n            }\n            labels(first:
      100) {\n                nodes {\n                    name\n                }\n            }\n            state\n            mergeCommit
      {\n                oid\n            }\n            baseRefOid\n            baseRefName\n            baseRepository
      {\n                name\n                owner {\n                    login\n                }\n            }\n            headRefOid\n            headRefName\n            headRepository
      {\n                name\n                owner {\n                    login\n                }\n            }\n        }\n    }\n}\n",
      "variables": {"owner": "ThiagoCodecov", "repo": "example-python", "pr_number":
      1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    content: '{"data":{"repository":{"pullRequest":{"number":1,"title":"Creating new
      code for reasons no one knows","author":{"login":"ThiagoCodecov","databaseId":44376991},"labels":{"nodes":[]},"state":"MERGED","mergeCommit":{"oid":"038ac8ac2127baa19a927c67f0d5168d9928abf3"},"baseRefOid":"68946ef98daec68c7798459150982fc799c87d85","baseRefName":"master","baseRepository":{"name":"example-python","owner":{"login":"ThiagoCodecov"}},"headRefOid":"119c1907fb266f374b8440bbd70dccbea54daf8f","headRefName":"reason/some-testing","headRepository":{"name":"example-python","owner":{"login":"ThiagoCodecov"}}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v4
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4996'
      X-RateLimit-Reset:
      - '1728551192'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '4'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/pulls/1/commits?per_page=100&page=1
  response:
    content: '[{"sha":"587662b6e5403ae0d126e0c7839a8d98382c4760","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjU4NzY2MmI2ZTU0MDNhZTBkMTI2ZTBjNzgzOWE4ZDk4MzgyYzQ3NjA=","commit":{"author":{"name":"Thiago
      Ribeiro Ramos","email":"thiago@ribeiroramos.com","date":"2018-11-07T22:43:54Z"},"committer":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2019-07-10T20:34:45Z"},"message":"Creating
      new code for reasons no one knows","tree":{"sha":"ec56802a37b981f13bdc3c9a56ae68ef82ab424a","url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees/ec56802a37b981f13bdc3c9a56ae68ef82ab424a"},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits/587662b6e5403ae0d126e0c7839a8d98382c4760","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/587662b6e5403ae0d126e0c7839a8d98382c4760","html_url":"https://github.com/ThiagoCodecov/example-python/commit/587662b6e5403ae0d126e0c7839a8d98382c4760","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/587662b6e5403ae0d126e0c7839a8d98382c4760/comments","author":null,"committer":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"parents":[{"sha":"68946ef98daec68c7798459150982fc799c87d85","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/68946ef98daec68c7798459150982fc799c87d85","html_url":"https://github.com/ThiagoCodecov/example-python/commit/68946ef98daec68c7798459150982fc799c87d85"}]},{"sha":"03a8b737cb9d8585076ebdbac7b7235c8da0620d","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjAzYThiNzM3Y2I5ZDg1ODUwNzZlYmRiYWM3YjcyMzVjOGRhMDYyMGQ=","commit":{"author":{"name":"Thiago
      Ramos","email":"thiag[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits?sha=abf6d4df662c47e32460020ab14abf9303581429
  response:
    content: "[{\"sha\":\"abf6d4df662c47e32460020ab14abf9303581429\",\"node_id\":\"MDY6Q29tbWl0MTU2NjE3Nzc3OmFiZjZkNGRmNjYyYzQ3ZTMyNDYwMDIwYWIxNGFiZjkzMDM1ODE0Mjk=\",\"commit\":{\"author\":{\"name\":\"Thiago
      Ribeiro Ramos\",\"email\":\"thiago@ribeiroramos.com\",\"date\":\"2019-01-10T01:39:55Z\"},\"committer\[...]
- request:
    body: '{"name": "web", "active": true, "events": ["pull_request", "delete", "push",
      "public", "status", "repository"], "config": {"url": "https://codecov.io/webhooks/github",
      "secret": "ab164bf3f7d947f2a0681b215404873e", "content_type": "json"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/hooks
  response:
    content: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/webhooks#create-a-repository-webhook","status":"404"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - admin:repo_hook, public_repo, repo, write:repo_hook
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4978'
      X-RateLimit-Reset:
      - '1728551192'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '22'
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 404
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/contents?ref=abf6d4df662c47e32460020ab14abf9303581429
  response:
    content: '[{"name":".coverage","path":".coverage","sha":"23e6e577d9e906f1fa619e8a8672d9537ff27326","size":335,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.coverage?ref=abf6d4df662c47e32460020ab14abf9303581429","html_url":"https://github.com/ThiagoCodecov/example-python/blob/abf6d4df662c47e32460020ab14abf9303581429/.coverage","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/23e6e577d9e906f1fa619e8a8672d9537ff27326","download_url":"https://raw.githubusercontent.com/ThiagoCodecov/example-python/abf6d4df662c47e32460020ab14abf9303581429/.coverage","type":"file","_links":{"self":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.coverage?ref=abf6d4df662c47e32460020ab14abf9303581429","git":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/23e6e577d9e906f1fa619e8a8672d9537ff27326","html":"https://github.com/ThiagoCodecov/example-python/blob/abf6d4df662c47e32460020ab14abf9303581429/.coverage"}},{"name":".travis.yml","path":".travis.yml","sha":"11d295c04e2feac0a533bf5b1df52b84f8076eec","size":144,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.travis.yml?ref=abf6d4df662c47e32460020ab14abf9303581429","html_url":"https://github.com/ThiagoCodecov/example-python/blob/abf6d4df662c47e32460020ab14abf9303581429/.travis.yml","git_url":"https://api.github.com/repo[...]
