-e git+https://github.com/codecov/shared.git@v0.3.5#egg=shared
boto3==1.9.218
celery==4.3
cryptography==2.7
factory-boy==2.11.1
google-cloud-storage==1.18.0
lxml==4.3.1
pathmap==0.1.5
psycopg2==2.7.6.1
PyJWT==1.7.1
pytest-asyncio==0.10.0
pytest-mock==1.10.1
pytest-sqlalchemy==0.2.1
pytest==4.5.0
python-dateutil==2.8.0
python-json-logger==0.1.11
PyYAML==3.13
redis==3.2.0
requests==2.22.0
sentry-sdk==0.14.0
SQLAlchemy-Utils==0.33.9
SQLAlchemy==1.2.14
statsd==3.3.0
stripe==2.42.0
timestring==1.6.2
vcrpy==2.1.0