https://github.com/codecov/test-results-parser/archive/c840502d1b4dd7d05b2efc2c1328affaf2acd27c.tar.gz#egg=test-results-parser
https://github.com/codecov/shared/archive/8c5de3fadd3c987304043c6cfd64864f372d674f.tar.gz#egg=shared
https://github.com/codecov/timestring/archive/d37ceacc5954dff3b5bd2f887936a98a668dda42.tar.gz#egg=timestring
asgiref>=3.7.2
analytics-python==1.3.0b1
boto3>=1.34
celery>=5.3.6
click
codecov-ribs
coverage
Django>=4.2.16
django-postgres-extra>=2.0.8
factory-boy
google-cloud-pubsub
google-cloud-storage>=2.10.0
httpx
jinja2>=3.1.3
lxml>=4.9.1
mock
openai
orjson
pre-commit
polars==1.12.0
psycopg2
PyJWT>=2.4.0
pytest
pytest-asyncio
pytest-celery
pytest-cov
pytest-django
pytest-freezegun
pytest-mock
pytest-sqlalchemy
python-dateutil
python-json-logger
python-redis-lock
PyYAML
redis>=4.4.4
regex
requests>=2.32.0
respx
sentry-sdk>=2.13.0
sentry-sdk[celery]
SQLAlchemy
SQLAlchemy-Utils
statsd
stripe>=9.6.0
time-machine
urllib3>=1.26.18
vcrpy
zstandard