file:./shared#egg=shared
git+ssh://git@github.com/codecov/opentelem-python.git@v0.0.4a1#egg=codecovopentelem
boto3
celery>=5.2.7
click
coverage
factory-boy
google-cloud-storage>=2.10.0
httpx
analytics-python==1.3.0b1
lxml>=4.9.1
mock
psycopg2
PyJWT>=2.4.0
pytest-asyncio
pytest-cov
pytest-celery
pytest-mock
pytest-sqlalchemy
pytest-freezegun
pytest
python-dateutil
python-json-logger
PyYAML
redis>=4.4.4
requests
respx
sentry-sdk
SQLAlchemy-Utils
SQLAlchemy==1.3.23
statsd
stripe
timestring
vcrpy
opentelemetry-instrumentation-celery
opentelemetry-sdk
