interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.github.com/app/installations/1654873/access_tokens
  response:
    body:
      string: '{"token":"v1.test50wm4qyel2pbtpbusklcarg7c2etcbunnswp","expires_at":"2019-08-26T01:25:56Z","permissions":{"checks":"write","pull_requests":"write","statuses":"write","administration":"read","contents":"read","issues":"read","metadata":"read"},"repository_selection":"selected"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"d5bbd7f7363c549c2faa22e8f4419077"'
      Status:
      - 201 Created
      X-GitHub-Media-Type:
      - github.machine-man-preview; format=json
    status:
      code: 201
      message: Created
version: 1
