interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.github.com/app/installations/12345678/access_tokens
  response:
    body:
      string: '{"token":"v1.test50wm4qyel2pbtpbusklcarg7c2etcbunnswp","expires_at":"2024-02-16T22:30:34Z","permissions":{"administration":"read","checks":"write","contents":"write","issues":"read","metadata":"read","pull_requests":"write","statuses":"write"},"repository_selection":"all"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"771b7286c1ded7925d1a3eebc819f2b0a629c329aadf7674cc8be5784c8f1638"'
      X-GitHub-Media-Type:
      - github.v3; param=machine-man-preview; format=json
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 201
      message: Created
version: 1
