interactions:
- request:
    body: '{"list_ids": ["ff08b4ae-367e-49ac-9d5a-d6e0e004d19f"], "contacts": [{"email":
      "tom@codecov.io"}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.sendgrid.com/v3/marketing/contacts
  response:
    body:
      string: '{"job_id":"9791f6a7-3d3b-4ae9-8f71-67bd98f33008"}

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - GuLlIG2RPHcFtbA=
      x-amzn-requestid:
      - d4e105c8-b312-4585-97b4-f67d7f463ccf
    status:
      code: 202
      message: Accepted
version: 1
