interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/47404140/repository/compare/?from=0fc784af11c401449e56b24a174bae7b9af86c98&to=0b6a213fc300cd328c0625f38f30432ee6e066e5
  response:
    content: '{"commit":{"id":"0b6a213fc300cd328c0625f38f30432ee6e066e5","short_id":"0b6a213f","created_at":"2023-06-27T12:30:01.000-04:00","parent_ids":["0c11f75d3f08db4bdf9a9f077e9e513990cd7a18"],"title":"5","message":"5\n","author_name":"joseph-sentry","author_email":"joseph.sawaya@sentry.io","authored_date":"2023-06-27T11:14:35.000-04:00","committer_name":"joseph-sentry","committer_email":"joseph.sawaya@sentry.io","committed_date":"2023-06-27T12:30:01.000-04:00","trailers":{},"web_url":"https://gitlab.com/joseph-sentry/example-python/-/commit/0b6a213fc300cd328c0625f38f30432ee6e066e5"},"commits":[{"id":"0c11f75d3f08db4bdf9a9f077e9e513990cd7a18","short_id":"0c11f75d","created_at":"2023-06-27T12:30:00.000-04:00","parent_ids":["5ad8e6ce797491865e815667384f93c87b1c7245"],"title":"4","message":"4\n","author_name":"joseph-sentry","author_email":"joseph.sawaya@sentry.io","authored_date":"2023-06-27T11:13:52.000-04:00","committer_name":"joseph-sentry","committer_email":"joseph.sawaya@sentry.io","committed_date":"2023-06-27T12:30:00.000-04:00","trailers":{},"web_url":"https://gitlab.com/joseph-sentry/example-python/-/commit/0c11f75d3f08db4bdf9a9f077e9e513990cd7a18"},{"id":"0b6a213fc300cd328c0625f38f30432ee6e066e5","short_id":"0b6a213f","created_at":"2023-06-27T12:30:01.000-04:00","parent_ids":["0c11f75d3f08db4bdf9a9f077e9e513990cd7a18"],"title":"5","message":"5\n","author_name":"joseph-sentry","author_email":"joseph.sawaya@sentry.io","authored_date":"2023-06-27T11:14:35.000-04:00","committer_name":"joseph-sentry","committer_email":"joseph.sawaya@sentry.io","committed_date":"2023-06-27T12:30:01.000-04:00","trailers":{},"web_url":"https://gitlab.com/joseph-sentry/example-python/-/commit/0b6a213fc300cd328c0625f38f30432ee6e066e5"}],"diffs":[{"diff":"","new_path":"4.txt","old_path":"4.txt","a_mode":"0","b_mode":"100644","new_file":true,"renamed_file":false,"deleted_file":false},{"diff":"@@
      -24,7 +24,4 @@ def test_multiply():\n     assert Calculator.multiply(-4, 2.0)
      == -8.0\n \n def test_divide():\n-    assert Calculator.divide(1, 2) == 0.5\n-    assert
      Calculator.divide(1.0, 2.0) == 0.5\n-    assert Calculator.divide(0, 2.0) ==
      0\n-    assert Calculator.divide(-4, 2.0) == -2.0\n\\ No newline at end of file\n+    assert
      Calculator.divide(1, 2) == 0.5\n\\ No newline at end of file\n","new_path":"api/calculator/test_calculator.py","old_path":"api/calculator/test_calculator.py","a_mode":"100644","b_mode":"100644","new_file":false,"renamed_file":false,"deleted_file":false}],"compare_timeout":false,"compare_same_ref":false,"web_url":"https://gitlab.com/joseph-sentry/example-python/-/compare/5ad8e6ce797491865e815667384f93c87b1c7245...0b6a213fc300cd328c0625f38f30432ee6e066e5"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bb9ffde5bcafb3a779105cac464ca1f3"
      GitLab-LB:
      - fe-09-lb-gprd
      GitLab-SV:
      - api-gke-us-east1-b
      X-Gitlab-Meta:
      - '{"correlation_id":"6a5cbc836eac371c289f44dbc2313eb3","version":"1"}'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/47404140/repository/branches
  response:
    content: '[{"name":"behind","commit":{"id":"0b6a213fc300cd328c0625f38f30432ee6e066e5","short_id":"0b6a213f","created_at":"2023-06-27T12:30:01.000-04:00","parent_ids":["0c11f75d3f08db4bdf9a9f077e9e513990cd7a18"],"title":"5","message":"5\n","author_name":"joseph-sentry","author_email":"joseph.sawaya@sentry.io","authored_date":"2023-06-27T11:14:35.000-04:00","committer_name":"joseph-sentry","committer_email":"joseph.sawaya@sentry.io","committed_date":"2023-06-27T12:30:01.000-04:00","trailers":{},"web_url":"https://gitlab.com/joseph-sentry/example-python/-/commit/0b6a213fc300cd328c0625f38f30432ee6e066e5"},"merged":false,"protected":false,"developers_can_push":false,"developers_can_merge":false,"can_push":true,"default":false,"web_url":"https://gitlab.com/joseph-sentry/example-python/-/tree/behind"},{"name":"main","commit":{"id":"0fc784af11c401449e56b24a174bae7b9af86c98","short_id":"0fc784af","created_at":"2023-06-27T11:13:34.000-04:00","parent_ids":["b64b9b4c25c6c088781ead5eae424f156ee98d8c"],"title":"3","message":"3\n","author_name":"joseph-sentry","author_email":"joseph.sawaya@sentry.io","authored_date":"2023-06-27T11:13:34.000-04:00","committer_name":"joseph-sentry","committer_email":"joseph.sawaya@sentry.i[...]
- request:
    body: '{"body": "## [Codecov](https://app.codecov.io/gl/joseph-sentry/example-python/pull/1?src=pr&el=h1&utm_medium=referral&utm_source=gitlab&utm_content=comment&utm_campaign=pr+comments&utm_term=Gina+French)
      Report\n> Merging [#1](https://app.codecov.io/gl/joseph-sentry/example-python/pull/1?src=pr&el=desc&utm_medium=referral&utm_source=gitlab&utm_content=comment&utm_campaign=pr+comments&utm_term=Gina+French)
      (0b6a213) into [main](https://app.codecov.io/gl/joseph-sen[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/47404140/repository/branches/main
  response:
    content: '{"message":"401 Unauthorized"}'
    headers:
      Content-Type:
      - application/json
      GitLab-LB:
      - fe-05-lb-gprd
      GitLab-SV:
      - localhost
      RateLimit-Limit:
      - '2000'
      RateLimit-Observed:
      - '2'
      RateLimit-Remaining:
      - '1998'
      RateLimit-Reset:
      - '1693421144'
      RateLimit-ResetTime:
      - Wed, 30 Aug 2023 18:45:44 GMT
      X-Gitlab-Meta:
      - '{"correlation_id":"0a55ef3f31f3613df4edf90f82a78c20","version":"1"}'
    status_code: 401
version: 1
