interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/compare/4535be18e90467d6d9a99c0ce651becec7f7eba6...2e2600aa09525e2e1e1d98b09de61454d29c94bb
  response:
    content: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/4535be18e90467d6d9a99c0ce651becec7f7eba6...2e2600aa09525e2e1e1d98b09de61454d29c94bb","html_url":"https://github.com/ThiagoCodecov/example-python/compare/4535be18e90467d6d9a99c0ce651becec7f7eba6...2e2600aa09525e2e1e1d98b09de61454d29c94bb","permalink_url":"https://github.com/ThiagoCodecov/example-python/compare/ThiagoCodecov:4535be1...ThiagoCodecov:2e2600a","diff_url":"https://github.com/ThiagoCodecov/example-python/compare/4535be18e90467d6d9a99c0ce651becec7f7eba6...2e2600aa09525e2e1e1d98b09de61454d29c94bb.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/compare/4535be18e90467d6d9a99c0ce651becec7f7eba6...2e2600aa09525e2e1e1d98b09de61454d29c94bb.patch","base_commit":{"sha":"4535be18e90467d6d9a99c0ce651becec7f7eba6","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjQ1MzViZTE4ZTkwNDY3ZDZkOWE5OWMwY2U2NTFiZWNlYzdmN2ViYTY=","commit":{"author":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2019-12-31T03:23:55Z"},"committer":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2019-12-31T03:23:55Z"},"message":"20EE4D09-F49E-474B-B7AF-4E4916EF82FA","tree":{"sha":"7da71bf52d31d24403d4208835b5d1333ba54695","url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees/7da71bf52d31d24403d4208835b5d1333ba54695"},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits/4535be18e90467d6d9a99c0ce651becec7f7eba6","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/4535be18e90467d6d9a99c0ce651becec7f7eba6","html_url":"https://github.com/ThiagoCodecov/example-python/commit/4535be18e90467d6d9a99c0ce651becec7f7eba6","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/4535be18e90467d6d9a99c0ce651becec7f7eba6/comments","author":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"committer":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"parents":[{"sha":"66567ec66e07440e3170910df61cf458812323fc","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/66567ec66e07440e3170910df61cf458812323fc","html_url":"https://github.com/ThiagoCodecov/example-python/commit/66567ec66e07440e3170910df61cf458812323fc"}]},"merge_base_commit":{"sha":"30cc1ed751a59fa9e7ad8e79fff41a6fe11ef5dd","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjMwY2MxZWQ3NTFhNTlmYTllN2FkOGU3OWZmZjQxYTZmZTExZWY1ZGQ=","commit":{"author":{"name":"Thiago","email":"44376991+ThiagoCodecov@users.noreply.github.com","date":"2019-12-09T12:02:11Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2019-12-09T12:02:11Z"},"message":"Update
      README.md","tree":{"sha":"c901b3cb75fd85aebf03f254494d5ad06b86777e","url":"https://api.github.com/repos/ThiagoCodecov/e[...]
- request:
    body: '{"body": "## [Codecov](https://app.codecov.io/gh/ThiagoCodecov/example-python/pull/15?src=pr&el=h1&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=Vernon+Cooper)
      Report\nPatch coverage has no change and project coverage change: **`+10.00%`**
      :tada:\n> Comparison is base [(`4535be1`)](https://app.codecov.io/gh/ThiagoCodecov/example-python/commit/4535be18e90467d6d9a99c0ce651becec7f7eba6?el=desc&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=Vernon+Cooper)
      50.00% compared to head [(`2e2600a`)](https://app.codecov.io/gh/ThiagoCodecov/example-python/commit/2e2600aa09525e2e1e1d98b09de61454d29c94bb?el=desc&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=Vernon+Cooper)
      60.00%.\n\n:exclamation: Your organization is not using the GitHub App Integration.
      As a result you may experience degraded service beginning May 15th. Please [install
      the GitHub App Integration](https://github.com/apps/codecov) for your organization.
      [Read more](https://about.codecov.io/blog/codecov-is-updating-its-github-integration/?utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=Vernon+Cooper).\n\n<details><summary>Additional
      details and impacted files</summary>\n\n\n[![Impacted file tree graph](https://app.codecov.io/gh/ThiagoCodecov/example-python/pull/15/graphs/tree.svg?width=650&height=150&src=pr&token=abcdefghij&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=Vernon+Cooper)](https://app.codecov.io/gh/ThiagoCodecov/example-python/pull/15?src=pr&el=tree&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=Vernon+Coo[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/branches?per_page=100&page=1
  response:
    content: '[{"name":"master","commit":{"sha":"93189ce50f224296d6412e2884b93dcc3c7c8654","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/93189ce50f224296d6412e2884b93dcc3c7c8654"},"protected":false},{"name":"random-branch","commit":{"sha":"b12b8ba6046c1738c5c89325b8a63a6f51bc4ff6","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/b12b8ba6046c1738c5c89325b8a63a6f51bc4ff6"},"protected":false},{"name":"thiago/base-no-base","commit":{"sha":"620b8042c2f846fcc6dda1c732dedd15cdbe76db","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/620b8042c2f846fcc6dda1c732dedd15cdbe76db"},"protected":false},{"name":"thiago/f/big-pt","commit":{"sha":"d55dc4ef748fd11537e50c9abed4ab1864fa1d94","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/d55dc4ef748fd11537e50c9abed4ab1864fa1d94"},"protected":false},{"name":"thiago/f/cool-branch","commit":{"sha":"89f3d20f2be3fb2d098e544814f8ce3636dc78c4","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/89f3d20f2be3fb2d098e544814f8ce3636dc78c4"},"protected":false},{"name":"thiago/f/something","commit":{"sha":"c9fb9262268f11b53c6b0682d4f9acac89bdeee5","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/c9fb9262268f11b53c6b0682d4f9acac89bdeee5"},"protected":false},{"name":"thiago/test-1","commit":{"sha":"2e2600aa09525e2e1e1d98b09de61454d29c94bb","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/2e2600aa09525e2e1e1d98b09de61454d29c94bb"},"protected":false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"dab6303e47e5d12f9bb596bcb1e3fd8a7e482a11e1e543c0b1e05e279ea55fe3"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4995'
      X-RateLimit-Reset:
      - '1688361672'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '5'
      github-authentication-token-expiration:
      - 2023-08-02 04:17:36 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/joseph-sentry/codecov-demo/compare/5b174c2b40d501a70c479e91025d5109b1ad5c1b...5601846871b8142ab0df1e0b8774756c658bcc7d
  response:
    content: '{"url":"https://api.github.com/repos/joseph-sentry/codecov-demo/compare/5b174c2b40d501a70c479e91025d5109b1ad5c1b...5601846871b8142ab0df1e0b8774756c658bcc7d","html_url":"https://github.com/joseph-sentry/codecov-demo/compare/5b174c2b40d501a70c479e91025d5109b1ad5c1b.[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/joseph-sentry/codecov-demo/branches/main
  response:
    content: '{"name":"main","commit":{"sha":"38c2d0214f2a48c9212a140f5311977059a15b35","node_id":"C_kwDOJu7MkNoAKDM4YzJkMDIxNGYyYTQ4YzkyMTJhMTQwZjUzMTE5NzcwNTlhMTViMzU","commit":{"author":{"name":"joseph-sentry","email":"joseph.sawaya@sentry.io","date":"2023-08-18T16:48:10Z"},"committer":{"name":"joseph-sentry","email":"joseph.sawaya@sentry.io","date":"[...]
[...]
- request:
    body: '{"body": "## [Codecov](https://app.codecov.io/gh/joseph-sentry/codecov-demo/pull/9?src=pr&el=h1&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=Tara+Grant+MD)
      Report\nPatch coverage has no change and project coverage change: **`+10.00%`**
      :tada:\n> Comparison is base [(`5b174c2`)](https://app.codecov.io/gh/joseph-sentry/codecov-demo/commit/5b174c2b40d501a70c479e91025d5109b1ad5c1b?el=desc&utm_medium=referral&utm_source=[...]
