interactions:
- request:
    body: '{"body": "The author of this PR, codecove2e, is not an activated member
      of this organization on Codecov.\nPlease [activate this user on Codecov](https://app.codecov.io/members/gh/codecove2e?utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=Bryan+Brewer)
      to display this PR comment.\nCoverage data is still being uploaded to Codecov.io
      for purposes of overall coverage calculations.\nPlease don''t hesitate to email
      us at support@codecov.io with any questions."}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/codecove2e/example-python/issues/2/comments
  response:
    content: '{"url":"https://api.github.com/repos/codecove2e/example-python/issues/comments/1361234119","html_url":"https://github.com/codecove2e/example-python/pull/4#issuecomment-1361234119","issue_url":"https://api.github.com/repos/codecove2e/example-python/issues/4","id":1361234119,"node_id":"IC_kwDOHrbKcs5RIsjH","user":{"login":"codecove2e","id":93560619,"node_id":"U_kgDOBZOfKw","avatar_url":"https://avatars.githubusercontent.com/u/93560619?v=4","gravatar_id":"","url":"https://api.github.com/users/codecove2e","html_url":"https://github.com/codecove2e","followers_url":"https://api.github.com/users/codecove2e/followers","following_url":"https://api.github.com/users/codecove2e/following{/other_user}","gists_url":"https://api.github.com/users/codecove2e/gists{/gist_id}","starred_url":"https://api.github.com/users/codecove2e/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codecove2e/subscriptions","organizations_url":"https://api.github.com/users/codecove2e/orgs","repos_url":"https://api.github.com/users/codecove2e/repos","events_url":"https://api.github.com/users/codecove2e/events{/privacy}","received_events_url":"https://api.github.com/users/codecove2e/received_events","type":"User","site_admin":false},"created_at":"2022-12-21T12:07:36Z","updated_at":"2022-12-21T12:07:36Z","author_association":"OWNER","body":"The
      author of this PR, codecove2e, is not an activated member of this organization
      on Codecov.\nPlease [activate this user on Codecov](https://app.codecov.io/members/gh/codecove2e?utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=Bryan+Brewer)
      to display this PR comment.\nCoverage data is still being uploaded to Codecov.io
      for purposes of overall coverage calculations.\nPlease don''t hesitate to email
      us at support@codecov.io with any questions.","reactions":{"url":"https://api.github.com/repos/codecove2e/example-python/issues/comments/1361234119/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"bd60879875bf26300655202f2977cfa5b7c96c86445e0f87e8ddf3fa06a94292"'
      Location:
      - https://api.github.com/repos/codecove2e/example-python/issues/comments/1361234119
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo, user
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4996'
      X-RateLimit-Reset:
      - '1671627083'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '4'
      github-authentication-token-expiration:
      - 2023-02-18 19:09:58 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 201
version: 1
