interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/1nf1n1t3l00p/priv_example/pulls/1
  response:
    content: '{"url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/pulls/1","id":399231250,"node_id":"MDExOlB1bGxSZXF1ZXN0Mzk5MjMxMjUw","html_url":"https://github.com/1nf1n1t3l00p/priv_example/pull/1","diff_url":"https://github.com/1nf1n1t3l00p/priv_example/pull/1.diff","patch_url":"https://github.com/1nf1n1t3l00p/priv_example/pull/1.patch","issue_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/issues/1","number":1,"state":"open","locked":false,"title":"Some
      random change","user":{"login":"1nf1n1t3l00p","id":45343385,"node_id":"MDQ6VXNlcjQ1MzQzMzg1","avatar_url":"https://avatars1.githubusercontent.com/u/45343385?v=4","gravatar_id":"","url":"https://api.github.com/users/1nf1n1t3l00p","html_url":"https://github.com/1nf1n1t3l00p","followers_url":"https://api.github.com/users/1nf1n1t3l00p/followers","following_url":"https://api.github.com/users/1nf1n1t3l00p/following{/other_user}","gists_url":"https://api.github.com/users/1nf1n1t3l00p/gists{/gist_id}","starred_url":"https://api.github.com/users/1nf1n1t3l00p/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/1nf1n1t3l00p/subscriptions","organizations_url":"https://api.github.com/users/1nf1n1t3l00p/orgs","repos_url":"https://api.github.com/users/1nf1n1t3l00p/repos","events_url":"https://api.github.com/users/1nf1n1t3l00p/events{/privacy}","received_events_url":"https://api.github.com/users/1nf1n1t3l00p/received_events","type":"User","site_admin":false},"body":"","created_at":"2020-04-05T20:30:23Z","updated_at":"2020-04-05T20:30:23Z","closed_at":null,"merged_at":null,"merge_commit_sha":"5b502d3784c5336d38096a2337bd23a1f6e1f78b","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/pulls/1/commits","review_comments_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/pulls/1/comments","review_comment_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/pulls/comments{/number}","comments_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/issues/1/comments","statuses_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/statuses/6341a94d2bb77a6153cec905363348937d258720","head":{"label":"1nf1n1t3l00p:featureA","ref":"featureA","sha":"6341a94d2bb77a6153cec905363348937d258720","user":{"login":"1nf1n1t3l00p","id":45343385,"node_id":"MDQ6VXNlcjQ1MzQzMzg1","avatar_url":"https://avatars1.githubusercontent.com/u/45343385?v=4","gravatar_id":"","url":"https://api.github.com/users/1nf1n1t3l00p","html_url":"https://github.com/1nf1n1t3l00p","followers_url":"https://api.github.com/users/1nf1n1t3l00p/followers","following_url":"https://api.github.com/users/1nf1n1t3l00p/following{/other_user}","gists_url":"https://api.github.com/users/1nf1n1t3l00p/gists{/gist_id}","starred_url":"https://api.github.com/users/1nf1n1t3l00p/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/1nf1n1t3l00p/subscriptions","organizations_url":"https://api.github.com/users/1nf1n1t3l00p/orgs","repos_url":"https://api.github.com/users/1nf1n1t3l00p/repos","events_url":"https://api.github.com/users/1nf1n1t3l00p/events{/privacy}","received_events_url":"https://api.github.com/users/1nf1n1t3l00p/received_events","type":"User","site_admin":false},"repo":{"id":159090505,"node_id":"MDEwOlJlcG9zaXRvcnkxNTkwOTA1MDU=","name":"priv_example","full_name":"1nf1n1t3l00p/priv_example","private":true,"owner":{"login":"1nf1n1t3l00p","id":45343385,"node_id":"MDQ6VXNlcjQ1MzQzMzg1","avatar_url":"https://avatars1.githubusercontent.com/u/45343385?v=4","gravatar_id":"","url":"https://api.github.com/users/1nf1n1t3l00p","html_url":"https://github.com/1nf1n1t3l00p","followers_url":"https://api.github.com/users/1nf1n1t3l00p/followers","following_url":"https://api.github.com/users/1nf1n1t3l00p/following{/other_user}","gists_url":"https://api.github.com/users/1nf1n1t3l00p/gists{/gist_id}","starred_url":"https://api.github.com/users/1nf1n1t3l00p/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/1nf1n1t3l00p/subscriptions","organizations_url":"https://api.github.com/users/1nf1n1t3l00p/orgs","repos_url":"https://api.github.com/users/1nf1n1t3l00p/repos","events_url":"https://api.github.com/users/1nf1n1t3l00p/events{/privacy}","received_events_url":"https://api.github.com/users/1nf1n1t3l00p/received_events","type":"User","site_admin":false},"html_url":"https://github.com/1nf1n1t3l00p/priv_example","description":"Example
      private repo","fork":false,"url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example","forks_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/forks","keys_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/keys{/key_id}","collaborators_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/teams","hooks_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/hooks","issue_events_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/issues/events{/number}","events_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/events","assignees_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/assignees{/user}","branches_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/branches{/branch}","tags_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/tags","blobs_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/git/refs{/sha}","trees_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/git/trees{/sha}","statuses_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/statuses/{sha}","languages_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/languages","stargazers_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/stargazers","contributors_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/contributors","subscribers_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/subscribers","subscription_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/subscription","commits_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/commits{/sha}","git_commits_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/git/commits{/sha}","comments_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/comments{/number}","issue_comment_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/issues/comments{/number}","contents_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/contents/{+path}","compare_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/compare/{base}...{head}","merges_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/merges","archive_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/downloads","issues_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/issues{/number}","pulls_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/pulls{/number}","milestones_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/milestones{/number}","notifications_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/labels{/name}","releases_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/releases{/id}","deployments_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/deployments","created_at":"2018-11-26T00:59:07Z","updated_at":"2018-11-26T00:59:12Z","pushed_at":"2020-04-05T20:30:23Z","git_url":"git://github.com/1nf1n1t3l00p/priv_example.git","ssh_url":"git@github.com:1nf1n1t3l00p/priv_example.git","clone_url":"https://github.com/1nf1n1t3l00p/priv_example.git","svn_url":"https://github.com/1nf1n1t3l00p/priv_example","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master"}},"base":{"label":"1nf1n1t3l00p:master","ref":"master","sha":"ca084b346c2f1450f011adbd5ec950e3532b57b6","user":{"login":"1nf1n1t3l00p","id":45343385,"node_id":"MDQ6VXNlcjQ1MzQzMzg1","avatar_url":"https://avatars1.githubusercontent.com/u/45343385?v=4","gravatar_id":"","url":"https://api.github.com/users/1nf1n1t3l00p","html_url":"https://github.com/1nf1n1t3l00p","followers_url":"https://api.github.com/users/1nf1n1t3l00p/followers","following_url":"https://api.github.com/users/1nf1n1t3l00p/following{/other_[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/1nf1n1t3l00p/priv_example/pulls/1/commits
  response:
    content: '[{"sha":"6341a94d2bb77a6153cec905363348937d258720","node_id":"MDY6Q29tbWl0MTU5MDkwNTA1OjYzNDFhOTRkMmJiNzdhNjE1M2NlYzkwNTM2MzM0ODkzN2QyNTg3MjA=","commit":{"author":{"name":"Thomas
      Buida","email":"thomasbuida@gmail.com","date":"2020-04-05T20:29:51Z"},"committer":{"name":"Thomas
      Buida","email":"thomasbuida@gmail.com","date":"2020-04-05T20:29:51Z"},"message":"Some
      random change","tree":{"sha":"b091d2e878626b6d3a2b2f87081a600206da70e0","url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/git/trees/b091d2e878626b6d3a2b2f87081a600206da70e0"},"url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/git/commits/6341a94d2bb77a6153cec905363348937d258720","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/commits/6341a94d2bb77a6153cec905363348937d258720","html_url":"https://github.com/1nf1n1t3l00p/priv_example/commit/6341a94d2bb77a6153cec905363348937d258720","comments_url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/commits/6341a94d2bb77a6153cec905363348937d258720/comments","author":{"login":"TJBIII","id":13630281,"node_id":"MDQ6VXNlcjEzNjMwMjgx","avatar_url":"https://avatars0.githubusercontent.com/u/13630281?v=4","g[...]
- request:
    body: '{"body": "The author of this PR, 1nf1n1t3l00p, is not an active member
      of this organization on Codecov.\nPlease [activate this user on Codecov](None/members/gh/1nf1n1t3l00p)
      to display this PR comment."}'
    headers:
    method: POST
    uri: https://api.github.com/repos/1nf1n1t3l00p/priv_example/issues/1/comments
  response:
    content: '{"url":"https://api.github.com/repos/1nf1n1t3l00p/priv_example/issues/comments/609479265","html_url":"https://github.com/1n[...]
