interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecove2e/example-python/compare/93189ce50f224296d6412e2884b93dcc3c7c8654...8589c19ce95a2b13cf7b3272cbf275ca9651ae9c
  response:
    content: '{"url":"https://api.github.com/repos/codecove2e/example-python/compare/93189ce50f224296d6412e2884b93dcc3c7c8654...8589c19ce95a2b13cf7b3272cbf275ca9651ae9c","html_url":"https://github.com/codecove2e/example-python/compare/93189ce50f224296d6412e2884b93dcc3c7c8654...8589c19ce95a2b13cf7b3272cbf275ca9651ae9c","permalink_url":"https://github.com/codecove2e/example-python/compare/codecove2e:93189ce...codecove2e:8589c19","diff_url":"https://github.com/codecove2e/example-python/compare/93189ce50f224296d6412e2884b93dcc3c7c8654...8589c19ce95a2b13cf7b3272cbf275ca9651ae9c.diff","patch_url":"https://github.com/codecove2e/example-python/compare/93189ce50f224296d6412e2884b93dcc3c7c8654...8589c19ce95a2b13cf7b3272cbf275ca9651ae9c.patch","base_commit":{"sha":"93189ce50f224296d6412e2884b93dcc3c7c8654","node_id":"MDY6Q29tbWl0NTE1Mjk1ODU4OjkzMTg5Y2U1MGYyMjQyOTZkNjQxMmUyODg0YjkzZGNjM2M3Yzg2NTQ=","commit":{"author":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2020-12-04T04:21:18Z"},"committer":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2020-12-04T04:21:18Z"},"message":"Adding
      some encoding","tree":{"sha":"966e4dc888b0828c5dea75f21e82eb2daa9a4485","url":"https://api.github.com/repos/codecove2e/example-python/git/trees/966e4dc888b0828c5dea75f21e82eb2daa9a4485"},"url":"https://api.github.com/repos/codecove2e/example-python/git/commits/93189ce50f224296d6412e2884b93dcc3c7c8654","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/codecove2e/example-python/commits/93189ce50f224296d6412e2884b93dcc3c7c8654","html_url":"https://github.com/codecove2e/example-python/commit/93189ce50f224296d6412e2884b93dcc3c7c8654","comments_url":"https://api.github.com/repos/codecove2e/example-python/commits/93189ce50f224296d6412e2884b93dcc3c7c8654/comments","author":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"committer":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"parents":[{"sha":"6f87a6bba8b0151bb78064a0dba9fa4f13b76a67","url":"https://api.github.com/repos/codecove2e/example-python/commits/6f87a6bba8b0151bb78064a0dba9fa4f13b76a67","html_url":"https://github.com/codecove2e/example-python/commit/6f87a6bba8b0151bb78064a0dba9fa4f13b76a67"}]},"merge_base_commit":{"sha":"93189ce50f224296d6412e2884b93dcc3c7c8654","node_id":"MDY6Q29tbWl0NTE1Mjk1ODU4OjkzMTg5Y2U1MGYyMjQyOTZkNjQxMmUyODg0YjkzZGNjM2M3Yzg2NTQ=","commit":{"author":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2020-12-04T04:21:18Z"},"committer":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2020-12-04T04:21:18Z"},"message":"Adding
      some encoding","tree":{"sha":"966e4dc888b0828c5dea75f21e82eb2daa9a4485","url":"https://api.github.com/repos/codecove2e/example[...]
- request:
    body: '{"body": "## [Codecov](None/gh/codecove2e/example-python/pull/4?src=pr&el=h1)
      Report\nBase: **50.00**% // Head: **60.00**% // Increases project coverage by
      **`+10.00%`** :tada:\n> Coverage data is based on head [(`8589c19`)](None/gh/codecove2e/example-python/pull/4?src=pr&el=desc)
      compared to base [(`93189ce`)](None/gh/codecove2e/example-python/commit/93189ce50f224296d6412e2884b93dcc3c7c8654?el=desc).\n>
      Patch has no changes to coverable lines.\n\n<details><summary>Additional details
      and impacted files</summary>\n\n\n[![Impacted file tree graph](None/gh/codecove2e/example-python/pull/4/graphs/tree.svg?width=650&height=150&src=pr&token=abcdefghij)](None/gh/codecove2e/example-python/pull/4?src=pr&el=tree)\n\n```diff\n@@              Coverage
      Diff              @@\n##             master       #4       +/-   ##\n=============================================\n+
      Coverage     50.00%   60.00%   +10.00%     \n+ Complexity       11       10        -[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/codecove2e/example-python/branches?per_page=100&page=1
  response:
    content: '[{"name":"codecove2e-patch-1","commit":{"sha":"dd2085468f3d09d3e277c04bec61aeb84a782dee","url":"https://api.github.com/repos/codecove2e/example-python/commits/dd2085468f3d09d3e277c04bec61aeb84a782dee"},"protected":false},{"name":"codecove2e-patch-2","commit":{"sha":"12f3e9a05310ed583cd1b0ad683d373f88a84053","url":"https://api.github.com/repos/codecove2e/example-python/commits/12f3e9a05310ed583cd1b0ad683d373f88a84053"},"protected":false},{"name":"codecove2e-patch-3","commit":{"sha":"0206296b1424912cc05069a9bf4025cbb95f5ecc","url":"https://api.github.com/repos/codecove2e/example-python/commits/0206296b1424912cc05069a9bf4025cbb95f5ecc"},"protected":false},{"name":"master","commit":{"sha":"93189ce50f224296d64[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/joseph-sentry/codecov-demo/compare/5b174c2b40d501a70c479e91025d5109b1ad5c1b...5601846871b8142ab0df1e0b8774756c658bcc7d
  response:
    content: '{"url":"https://api.github.com/repos/joseph-sentry/codecov-demo/compare/5b174c2b40d501a70c479e91025d5109b1ad5c1b...5601846871b8142ab0df1e0b8774756c658bcc7d","html_url":"https://github.com/joseph-sentry/codecov-demo/compare/5b174c2b40d501a70c479e91025d5109b1ad5c1b.[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/joseph-sentry/codecov-demo/branches/main
  response:
    content: '{"name":"main","commit":{"sha":"38c2d0214f2a48c9212a140f5311977059a15b35","node_id":"C_kwDOJu7MkNoAKDM4YzJkMDIxNGYyYTQ4YzkyMTJhMTQwZjUzMTE5NzcwNTlhMTViMzU","commit":{"author":{"name":"joseph-sentry","email":"joseph.sawaya@sentry.io","date":"2023-08-18T16:48:10Z"},"committer":{"name":"joseph-sentry","email":"joseph.sawaya@sentry.io","date":"[...]
[...]
- request:
    body: '{"body": "## [Codecov](https://app.codecov.io/gh/joseph-sentry/codecov-demo/pull/9?src=pr&el=h1&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=Juan+Villarreal)
      Report\nPatch coverage has no change and project coverage change: **`+10.00%`**
      :tada:\n> Comparison is base [(`5b174c2`)](https://app.codecov.io/gh/joseph-sentry/codecov-demo/commit/5b174c2b40d501a70c479e91025d5109b1ad5c1b?el=desc&utm_medium=referral&utm_sourc[...]
