interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/11087339/repository/compare/?from=842f7c86a5d383fee0ece8cf2a97a1d8cdfeb7d4&to=46ce216948fe8c301fc80d9ba3ba1a582a0ba497
  response:
    content: '{"commit":{"id":"46ce216948fe8c301fc80d9ba3ba1a582a0ba497","short_id":"46ce2169","created_at":"2020-03-15T19:40:40.000-05:00","parent_ids":["39f0cd520381dc3d2e61aeb4c31e4d805a895515"],"title":"Add
      test","message":"Add test\n","author_name":"Thomas Buida","author_email":"thomasbuida@gmail.com","authored_date":"2020-03-15T19:40:40.000-05:00","committer_name":"Thomas
      Buida","committer_email":"thomasbuida@gmail.com","committed_date":"2020-03-15T19:40:40.000-05:00","web_url":"https://gitlab.com/l00p_group_1/subgroup1/proj-b/-/commit/46ce216948fe8c301fc80d9ba3ba1a582a0ba497"},"commits":[{"id":"77b456d6209583d9674546970948fcc24305f5dc","short_id":"77b456d6","created_at":"2020-03-15T15:56:00.000-05:00","parent_ids":["842f7c86a5d383fee0ece8cf2a97a1d8cdfeb7d4"],"title":"Add
      div method","message":"Add div method\n","author_name":"Thomas Buida","author_email":"thomasbuida@gmail.com","authored_date":"2020-03-15T15:56:00.000-05:00","committer_name":"Thomas
      Buida","committer_email":"thomasbuida@gmail.com","committed_date":"2020-03-15T15:56:00.000-05:00","web_url":"https://g[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/11087339/merge_requests/11
  response:
    content: '{"id":52607662,"iid":11,"project_id":11087339,"title":"Add div method","description":"","state":"opened","created_at":"2020-03-15T20:59:13.834Z","updated_at":"2020-03-16T00:41:51.925Z","merged_by":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch":"master","source_branch":"div","user_notes_count":1,"upvotes":0,"downvotes":0,"assignee":null,"author":{"id":3215137,"name":"Infinite
      Loop","username":"1nf1n1t3l00p","state":"active","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/user/avatar/3215137/avatar.png","web_url":"https://gitlab.com/1nf1n1t3l00p"},"assignees":[],"source_project_id":11087339,"target_project_id":11087339,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"46ce216948fe8c301fc80d9ba3ba1a582a0ba497","merge_commit_sha":null,"squash_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":false,"reference":"!11","references":{"short":"!11","relative":"!11","full":"l00p_group_1/subgroup1/proj-b!11"},"web_url":"https://gitlab.com/l00p_group_1/subgroup1/proj-b/-/merge_requests/11","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":false,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":false,"blocking_discussions_resolved":true,"approvals_before_merge":null,"subscribed":true,"changes_count":"2","latest_build_started_at":"2020-03-16T00:40:47.057Z","latest_build_finished_at":"2020-03-16T00:41:45.162Z","first_deployed_to_production_at":null,"pipeline":{"id":126521180,"sha":"46ce216948fe8c301fc80d9ba3ba1a582a0ba497","ref":"refs/merge-requests/11/head","status":"success","created_at":"2020-03-16T00:40:46.113Z","updated_at":"2020-03-16T00:41:45.167Z","web_url":"https://gitlab.com/l00p_group_1/subgroup1/proj-b/pipelines/126521180"},"head_pipeline":{"id":126521180,"sha":"46ce216948fe8c301fc80d9ba3ba1a582a0ba497","ref":"refs/merge-requests/11/head","status":"success","created_at":"2020-03-16T00:40:46.113Z","updated_at":"2020-03-16T00:41:45.167Z","web_url":"https://gitlab.com/l00p_group_1/subgroup1/proj-b/pipelines/126521180","before_sha":"0000000000000000000000000000000000000000","tag":false,"yaml_errors":null,"user":{"id":3215137,"name":"Infinite
      Loop","username":"1nf1n1t3l00p","state":"active","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/user/avatar/3215137/avatar.png","web_url":"https://gitlab.com/1nf1n1t3l00p"},"started_at":"2020-03-16T00:40:47.057Z","finished_at":"2020-03-16T00:41:45.162Z","committed_at":null,"duration":58,"coverage":"95.83","detailed_status":{"icon":"status_success","text":"passed","label":"passed","group":"success","tooltip":"passed","has_details":true,"details_path":"/l00p_group_1/subgroup1/proj-b/pipelines/126521180","illustration":null,"favicon":"https://gitlab.com/assets/ci_favicons/favicon_status_success-8451333011eee8ce9f2ab25dc487fe24a8758c694827a582f17f42b0a90446a2.png"}},"diff_refs":{"base_sha":"842f7c86a5d383fee0ece8cf2a97a1d8cdfeb7d4","head_sha":"46ce216948fe8c301fc80d9ba3ba1a582a0ba497","start_sha":"842f7c86a5d383fee0ece8cf2a97a1d8cdfeb7d4"},"merge_error":null,"user":{"can_merge":true}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"40b3a54a1c37ad86bd5626826e77a132"
      Gitlab-Lb:
      - fe-11-lb-gprd
      Gitlab-Sv:
      - localhost
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '598'
      Ratelimit-Reset:
      - '1584319955'
      Ratelimit-Resettime:
      - Mon, 16 Mar 2020 00:52:35 GMT
    status:
      code: 200
      message: OK
    status_code: 200
    url: https://gitlab.com/api/v4/projects/11087339/merge_requests/11
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/11087339/merge_requests/11/commits
  response:
    content: '[{"id":"46ce216948fe8c301fc80d9ba3ba1a582a0ba497","short_id":"46ce2169","created_at":"2020-03-16T00:40:40.000Z","parent_ids":[],"title":"Add
      test","message":"Add test\n","author_name":"Thomas Buida","author_email":"thomasbuida@gmail.com","authored_date":"2020-03-16T00:40:40.000Z","committer_name":"Thomas
      Buida","committer_emai[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/11087339/repository/commits/77b456d6209583d9674546970948fcc24305f5dc
  response:
    content: '{"id":"77b456d6209583d9674546970948fcc24305f5dc","short_id":"77b456d6","created_at":"2020-03-15T15:56:00.000-05:00","parent_ids":["842f7c86a5d383fee0ece8cf2a97a1d8cdfeb7d4"],"title":"Add
      div method","message":"Add div method\n","author_name":"Thomas Buida","author_email":"thomasbuida@gmail.com","authored_date":"2020-03-15T15:56:00.000-05:00","committer_name":"Thomas
      Buida","committer_email":"thomasbuida@gmail.com","committed_date":"2020-03-15T15:56:00.000-05:00","web_url":"https://gitlab.com/l00p_group_1/subgroup1/proj-b/-/commit/77b456d6209583d9674546970948fcc24305f5dc","stats":{"additions":3,"deletions":0,"total":3},"status":"success","project_id":11087339,"last_pipeline":{"id":126498814,"sha":"77b456d6209583d9674546970948fcc24305f5dc","ref":"refs/merge-requests/11/head","status":"success","created_at":"2020-03-15T20:59:14.185Z","updated_at":"2020-03-15T21:00:21.433Z","web_url":"https://gitlab.com/l00p_group_1/subgroup1/proj-b/pipelines/126498814"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f44db3e368026778646fee8f496a698d"
      Gitlab-Lb:
      - fe-13-lb-gprd
      Gitlab-Sv:
      - localhost
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '3'
      Ratelimit-Remaining:
      - '597'
      Ratelimit-Reset:
      - '1584319956'
      Ratelimit-Resettime:
      - Mon, 16 Mar 2020 00:52:36 GMT
    status:
      code: 200
      message: OK
    status_code: 200
    url: https://gitlab.com/api/v4/projects/11087339/repository/commits/77b456d6209583d9674546970948fcc24305f5dc
- request:
    body: '{"body": "# [Codecov](None/gl/l00p_group_1:subgroup1/proj-b/pull/11?src=pr&el=h1)
      Report\n> Merging [#11](None/gl/l00p_group_1:subgroup1/proj-b/pull/11?src=pr&el=desc)
      into [master](None/gl/l00p_group_1:subgroup1/proj-b/commit/842f7c86a5d383fee0ece8cf2a97a1d8cdfeb7d4&el=desc)
      will **increase** coverage by `10.00%`.\n> The diff coverage is `n/a`.\n\n[![Impacted
      file tree graph](None/gl/l00p_group_1:subgroup1/proj-b/pull/11/graphs/tree.svg?width=650&he[...]
