interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/compare/4535be18e90467d6d9a99c0ce651becec7f7eba6...2e2600aa09525e2e1e1d98b09de61454d29c94bb
  response:
    content: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/4535be18e90467d6d9a99c0ce651becec7f7eba6...2e2600aa09525e2e1e1d98b09de61454d29c94bb","html_url":"https://github.com/ThiagoCodecov/example-python/compare/4535be18e90467d6d9a99c0ce651becec7f7eba6...2e2600aa09525e2e1e1d98b09de61454d29c94bb","permalink_url":"https://github.com/ThiagoCodecov/example-python/compare/ThiagoCodecov:4535be1...ThiagoCodecov:2e2600a","diff_url":"https://github.com/ThiagoCodecov/example-python/compare/4535be18e90467d6d9a99c0ce651becec7f7eba6...2e2600aa09525e2e1e1d98b09de61454d29c94bb.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/compare/4535be18e90467d6d9a99c0ce651becec7f7eba6...2e2600aa09525e2e1e1d98b09de61454d29c94bb.patch","base_commit":{"sha":"4535be18e90467d6d9a99c0ce651becec7f7eba6","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjQ1MzViZTE4ZTkwNDY3ZDZkOWE5OWMwY2U2NTFiZWNlYzdmN2ViYTY=","commit":{"author":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2019-12-31T03:23:55Z"},"committer":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2019-12-31T03:23:55Z"},"message":"20EE4D09-F49E-474B-B7AF-4E4916EF82FA","tree":{"sha":"7da71bf52d31d24403d4208835b5d1333ba54695","url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees/7da71bf52d31d24403d4208835b5d1333ba54695"},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits/4535be18e90467d6d9a99c0ce651becec7f7eba6","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/4535be18e90467d6d9a99c0ce651becec7f7eba6","html_url":"https://github.com/ThiagoCodecov/example-python/commit/4535be18e90467d6d9a99c0ce651becec7f7eba6","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/4535be18e90467d6d9a99c0ce651becec7f7eba6/comments","author":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"committer":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"parents":[{"sha":"66567ec66e07440e3170910df61cf458812323fc","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/66567ec66e07440e3170910df61cf458812323fc","html_url":"https://github.com/ThiagoCodecov/example-python/commit/66567ec66e07440e3170910df61cf458812323fc"}]},"merge_base_commit":{"sha":"30cc1ed751a59fa9e7ad8e79fff41a6fe11ef5dd","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjMwY2MxZWQ3NTFhNTlmYTllN2FkOGU3OWZmZjQxYTZmZTExZWY1ZGQ=","commit":{"author":{"name":"Thiago","email":"44376991+ThiagoCodecov@users.noreply.github.com","date":"2019-12-09T12:02:11Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2019-12-09T12:02:11Z"},"message":"Update
      README.md","tree":{"sha":"c901b3cb75fd85aebf03f254494d5ad06b86777e","url":"https://api.github.com/repos/ThiagoCodecov/e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/pulls/15
  response:
    content: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/15","id":350683791,"node_id":"MDExOlB1bGxSZXF1ZXN0MzUwNjgzNzkx","html_url":"https://github.com/ThiagoCodecov/example-python/pull/15","diff_url":"https://github.com/ThiagoCodecov/example-python/pull/15.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/pull/15.patch","issue_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/15","number":15,"state":"open","locked":false,"title":"Thiago/test
      1","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"body":"","created_at":"2019-12-09T12:19:01Z","updated_at":"2019-12-09T12:19:01Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/15/commits","review_comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/15/comments","review_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/comments{/number}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/15/comments","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/2e2600aa09525e2e1e1d98b09de61454d29c94bb","head":{"label":"ThiagoCodecov:thiago/test-1","ref":"thiago/test-1","sha":"2e2600aa09525e2e1e1d98b09de61454d29c94bb","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"repo":{"id":156617777,"node_id":"MDEwOlJlcG9zaXRvcnkxNTY2MTc3Nzc=","name":"example-python","full_name":"ThiagoCodecov/example-python","private":false,"owner":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ThiagoCodecov/example-python","description":"Python
      coverage example","fork":true,"url":"https://api.github.com/repos/ThiagoCodecov/example-python","forks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/forks","keys_url":"https://api.github.com/repos/ThiagoCodecov/example-python/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ThiagoCodecov/example-python/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ThiagoCodecov/example-python/teams","hooks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks","issue_events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/events{/number}","events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/events","assignees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/assignees{/user}","branches_url":"https://api.github.com/repos/ThiagoCodecov/example-python/branches{/branch}","tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/tags","blobs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/refs{/sha}","trees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/{sha}","languages_url":"https://api.github.com/repos/ThiagoCodecov/example-python/languages","stargazers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/stargazers","contributors_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contributors","subscribers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscribers","subscription_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscription","commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits{/sha}","git_commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits{/sha}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/comments{/number}","issue_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/comments{/number}","contents_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/{+path}","compare_url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ThiagoCodecov/example-python/merges","archive_url":"https://api.github.com/repos/ThiagoCodecov/example-python/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ThiagoCodecov/example-python/downloads","issues_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues{/number}","pulls_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls{/number}","milestones_url":"https://api.github.com/repos/ThiagoCodecov/example-python/milestones{/number}","notifications_url":"https://api.github.com/repos/ThiagoCodecov/example-python/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ThiagoCodecov/example-python/labels{/name}","releases_url":"https://api.github.com/repos/ThiagoCodecov/example-python/releases{/id}","deployments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/deployments","created_at":"2018-11-07T22:40:20Z","updated_at":"2019-12-31T03:24:04Z","pushed_at":"2019-12-31T03:24:02Z","git_url":"git://github.com/ThiagoCodecov/example-python.git","ssh_url":"git@github.com:ThiagoCodecov/example-python.git","clone_url":"https://github.com/ThiagoCodecov/example-python.git","svn_url":"https://github.com/ThiagoCodecov/example-python","homepage":"https://codecov.io","size":161,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":4,"license":null,"forks":0,"open_issues":4,"watchers":0,"default_branch":"master"}},"base":{"label":"ThiagoCodecov:master","ref":"master","sha":"d723f5cb5c9c9f48c47f2df97c47de20457d3fdc","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/[...]
- request:
    body: '{"body": "## [Codecov](None/gh/ThiagoCodecov/example-python/pull/15?src=pr&el=h1)
      Report\n> Merging [#15](None/gh/ThiagoCodecov/example-python/pull/15?src=pr&el=desc)
      into [master](None/gh/ThiagoCodecov/example-python/commit/4535be18e90467d6d9a99c0ce651becec7f7eba6&el=desc)
      will **increase** coverage by `10.00%`.\n> The diff coverage is `n/a`.\n\n[![Impacted
      file tree graph](None/gh/ThiagoCodecov/example-python/pull/15/graphs/tree.svg?width=650&heigh[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/pulls/15/commits
  response:
    content: '[{"sha":"e022f588e40269f8ab1c568080dc4a7662ff2335","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OmUwMjJmNTg4ZTQwMjY5ZjhhYjFjNTY4MDgwZGM0YTc2NjJmZjIzMzU=","commit":{"author":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2019-12-09T12:17:44Z"},"committer":{"name":"Thiago
      Ramos","email":"thiago@codecov.io","date":"2019-12[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/branches?per_page=100&page=1
  response:
    content: '[{"name":"master","commit":{"sha":"93189ce50f224296d6412e2884b93dcc3c7c8654","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/93189ce50f224296d6412e2884b93dcc3c7c8654"},"protected":false},{"name":"random-branch","commit":{"sha":"b12b8ba6046c1738c5c89325b8a63a6f51bc4ff6","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/b12b8ba6046c1738c5c89325b8a63a6f51bc4ff6"},"protected":false},{"name":"thiago/base-no-base","commit":{"sha":"620b8042c2f846fcc6dda1c732dedd15cdbe76db","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/620b8042c2f846fcc6dda1c732dedd15cdbe76db"},"protected":false},{"name":"thiago/f/big-pt","commit":{"sha":"d55dc4ef748fd11537e50c9abed4ab1864fa1d94","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/d55dc4ef748fd11537e50c9abed4ab1864fa1d94"},"protected":false},{"name":"thiago/f/cool-branch","commit":{"sha":"89f3d20f2be3fb2d098e544814f8ce3636dc78c4","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/89f3d20f2be3fb2d098e544814f8ce3636dc78c4"},"protected":false},{"name":"thiago/f/something","commit":{"sha":"c9fb9262268f11b53c6b0682d4f9acac89bdeee5","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/c9fb9262268f11b53c6b0682d4f9acac89bdeee5"},"protected":false},{"name":"thiago/test-1","commit":{"sha":"2e2600aa09525e2e1e1d98b09de61454d29c94bb","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/2e2600aa09525e2e1e1d98b09de61454d29c94bb"},"protected":false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"dab6303e47e5d12f9bb596bcb1e3fd8a7e482a11e1e543c0b1e05e279ea55fe3"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4997'
      X-RateLimit-Reset:
      - '1688361672'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '3'
      github-authentication-token-expiration:
      - 2023-08-02 04:17:36 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/joseph-sentry/codecov-demo/compare/5b174c2b40d501a70c479e91025d5109b1ad5c1b...5601846871b8142ab0df1e0b8774756c658bcc7d
  response:
    content: '{"url":"https://api.github.com/repos/joseph-sentry/codecov-demo/compare/5b174c2b40d501a70c479e91025d5109b1ad5c1b...5601846871b8142ab0df1e0b8774756c658bcc7d","html_url":"https://github.com/joseph-sentry/codecov-demo/compare/5b174c2b40d501a70c479e91025d5109b1ad5c1b.[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/joseph-sentry/codecov-demo/branches/main
  response:
    content: '{"name":"main","commit":{"sha":"38c2d0214f2a48c9212a140f5311977059a15b35","node_id":"C_kwDOJu7MkNoAKDM4YzJkMDIxNGYyYTQ4YzkyMTJhMTQwZjUzMTE5NzcwNTlhMTViMzU","commit":{"author":{"name":"joseph-sentry","email":"joseph.sawaya@sentry.io","date":"2023-08-18T16:48:10Z"},"committer":{"name":"joseph-sentry","email":"joseph.sawaya@sentry.io","date":"[...]
[...]
- request:
    body: '{"body": "## [Codecov](https://app.codecov.io/gh/joseph-sentry/codecov-demo/pull/9?src=pr&el=h1&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=James+Mitchell)
      Report\n> Merging [#9](https://app.codecov.io/gh/joseph-sentry/codecov-demo/pull/9?src=pr&el=desc&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=James+Mitchell)
      (5601846) into [main](https://app.codecov.io/gh/joseph-s[...]
