interactions:
- request:
    body: '{"body": "## [Codecov](None/account/gh/test-acc9/billing) upload limit reached
      :warning:\nThis org is currently on the free Basic Plan; which includes 250
      free private repo uploads each month.                 This month''s limit has
      been reached and additional reports cannot be generated. For unlimited uploads,                      upgrade
      to our [pro plan](None/account/gh/test-acc9/billing).\n\n**Do you have questions
      or need help?** Connect with our sales team today at ` sales@codecov.io `"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/test-acc9/priv_example/issues/3/comments
  response:
    content: '{"url":"https://api.github.com/repos/test-acc9/priv_example/issues/comments/1111984446","html_url":"https://github.com/test-acc9/priv_example/pull/1#issuecomment-1111984446","issue_url":"https://api.github.com/repos/test-acc9/priv_example/issues/1","id":1111984446,"node_id":"IC_kwDOHP_eEc5CR4k-","user":{"login":"test-acc9","id":104562106,"node_id":"U_kgDOBjt9ug","avatar_url":"https://avatars.githubusercontent.com/u/104562106?v=4","gravatar_id":"","url":"https://api.github.com/users/test-acc9","html_url":"https://github.com/test-acc9","followers_url":"https://api.github.com/users/test-acc9/followers","following_url":"https://api.github.com/users/test-acc9/following{/other_user}","gists_url":"https://api.github.com/users/test-acc9/gists{/gist_id}","starred_url":"https://api.github.com/users/test-acc9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-acc9/subscriptions","organizations_url":"https://api.github.com/users/test-acc9/orgs","repos_url":"https://api.github.com/users/test-acc9/repos","events_url":"https://api.github.com/users/test-acc9/events{/privacy}","received_events_url":"https://api.github.com/users/test-acc9/received_events","type":"User","site_admin":false},"created_at":"2022-04-28T09:42:44Z","updated_at":"2022-04-28T09:42:44Z","author_association":"OWNER","body":"#
      [Codecov](None/account/gh/test-acc9/billing) upload limit reached :warning:\nThis
      org is currently on the free Basic Plan; which includes 250 free private repo
      uploads each rolling month.                 This limit has been reached and
      additional reports cannot be generated. For unlimited uploads,                      upgrade
      to our [pro plan](None/account/gh/test-acc9/billing).\n\n**Do you have questions
      or need help?** Connect with our sales team today at ` sales@codecov.io `","reactions":{"url":"https://api.github.com/repos/test-acc9/priv_example/issues/comments/1111984446/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"58258dde9e030e0de7c45373103c8d3fa593b19403d53a0ad35289df6dc5a682"'
      Location:
      - https://api.github.com/repos/test-acc9/priv_example/issues/comments/1111984446
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - notifications, repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4999'
      X-RateLimit-Reset:
      - '1651142564'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '1'
      github-authentication-token-expiration:
      - 2022-04-28 21:00:00 UTC
    status_code: 201
version: 1
