interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/test-acc9/test_example/branches?per_page=100&page=1
  response:
    content: '[{"name":"featureA","commit":{"sha":"a2d3e3c30547a000f026daa47610bb3f7b63aece","url":"https://api.github.com/repos/test-acc9/test_example/commits/a2d3e3c30547a000f026daa47610bb3f7b63aece"},"protected":false},{"name":"main","commit":{"sha":"ef6edf5ae6643d53a7971fb8823d3f7b2ac65619","url":"https://api.github.com/repos/test-acc9/test_example/commits/ef6edf5ae6643d53a7971fb8823d3f7b2ac65619"},"protected":false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e8806c7436fe3bbbbc43660e85532d37d5c6d546af9bd7752e5d0bdffde7c987"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - public_repo, repo:status, repo_deployment
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4993'
      X-RateLimit-Reset:
      - '1688060452'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '7'
      github-authentication-token-expiration:
      - 2023-07-06 14:34:07 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/test-acc9/test_example/compare/ef6edf5ae6643d53a7971fb8823d3f7b2ac65619...ef6edf5ae6643d53a7971fb8823d3f7b2ac65619
  response:
    content: '{"url":"https://api.github.com/repos/test-acc9/test_example/compare/ef6edf5ae6643d53a7971fb8823d3f7b2ac65619...ef6edf5ae6643d53a7971fb8823d3f7b2ac65619","html_url":"https://github.com/test-acc9/test_example/compare/ef6edf5ae6643d53a7971fb8823d3f7b2ac65619...ef6edf5ae6643d53a7971fb8823d3f7b2ac65619","permalink_url":"https://github.com/test-acc9/test_example/compare/test-acc9:ef6edf5...test-acc9:ef6edf5","diff_url":"https://github.com/test-acc9/test_example/compare/ef6edf5ae6643d53a7971fb8823d3f7b2ac65619...ef6edf5ae6643d53a7971fb8823d3f7b2ac65619.diff","patch_url":"https://github.com/test-acc9/test_example/compare/ef6edf5ae6643d53a7971fb8823d3f7b2ac65619...ef6edf5ae6643d53a7971fb8823d3f7b2ac65619.patch","base_commit":{"sha":"ef6edf5ae6643d53a7971fb8823d3f7b2ac65619","node_id":"C_kwDOHP_eEdoAKGVmNmVkZjVhZTY2NDNkNTNhNzk3MWZiODgyM2QzZjdiMmFjNjU2MTk","commit":{"author":{"name":"test-acc9","email":"104562106+test-acc9@users.noreply.github.com","date":"2022-04-28T09:35:11Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2022-04-28T09:35:11Z"},"message":"Create
      read.me","tree":{"sha":"5e836bead2ad06cc76854f5f8d3f4ab983ec60a1","url":"https://api.github.com/repos/test-acc9/test_example/git/trees/5e836bead2ad06cc76854f5f8d3f4ab983ec60a1"},"url":"https://api.github.com/repos/test-acc9/test_example/git/commits/ef6edf5ae6643d53a7971fb8823d3f7b2ac65619","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
      PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJial/QCRBK7hj4Ov3rIwAA29QIAAdOIKu3w9SwC5g7UPjXj8xi\nYOt30BqPzSY/ktq7scRf/uOiO97uAC0XANXwmfkWCgI6YZSijysJdHEALFg7NwXp\n/aF8u9fFk+nHbhfTsCtM0jgabWRt0FSMsO0VreWn5ExiqWqPnDMTydbyCEzkHwsz\nMvVUGj8uqP4P7NM6DvCsOSM0m9Xg6IEFNqpsMd8yfvP5fF57YXnpixhISAUkGjuq\nJx/ouGxFircoRLTlJi5ZfmFNGFsXfoqvCyBMZ62lkg81lUYXEGKhDvFWnz6OR9sZ\n+4SxRgaFLz05xUKl3EEAhnWHjzrBkQP7gJBIz2MJ1VvFmH3h/hH86NtaN+TMCKU=\n=k3dl\n-----END
      PGP SIGNATURE-----\n","payload":"tree 5e836bead2ad06cc76854f5f8d3f4ab983ec60a1\nauthor
      test-acc9 <104562106+test-acc9@users.noreply.github.com> 1651138511 +0300\ncommitter
      GitHub <noreply@github.com> 1651138511 +0300\n\nCreate read.me"}},"url":"https://api.github.com/repos/test-acc9/test_example/commits/ef6edf5ae6643d53a7971fb8823d3f7b2ac65619","html_url":"https://github.com/test-acc9/test_example/commit/ef6edf5ae6643d53a7971fb8823d3f7b2ac65619","comments_url":"https://api.github.com/repos/test-acc9/test_example/commits/ef6edf5ae6643d53a7971fb8823d3f7b2ac65619/comments","author":{"login":"test-acc9","id":104562106,"node_id":"U_kgDOBjt9ug","avatar_url":"https://avatars.githubusercontent.com/u/104562106?v=4","gravatar_id":"","url":"https://api.github.com/users/test-acc9","html_url":"https://github.com/test-acc9","followers_url":"https://api.github.com/users/test-acc9/followers","following_url":"https://api.github.com/users/test-acc9/following{/other_user}","gists_url":"https://api.github.com/users/test-acc9/gists{/gist_id}","starred_url":"https://api.github.com/users/test-acc9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-acc9/subscriptions","organizations_url":"https://api.github.com/users/test-acc9/orgs","repos_url":"https://api.github.com/users/test-acc9/repos","events_url":"https://api.github.com/users/test-acc9/events{/privacy}","received_events_url":"https://api.github.com/users/test-acc9/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[]},"merge_base_commit":{"sha":"ef6edf5ae6643d53a7971fb8823d3f7b2ac65619","node_id":"C_kwDOHP_eEdoAKGVmNmVkZjVhZTY2NDNkNTNhNzk3MWZiODgyM2QzZjdiMmFjNjU2MTk","commit":{"author":{"name":"test-acc9","email":"104562106+test-acc9@users.noreply.github.com","date":"2022-04-28T09:35:11Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2022-04-28T09:35:11Z"},"message":"Create
      read.me","tree":{"sha":"5e836bead2ad06cc76854f5f8d3f4ab983ec60a1","url":"https://api.github.com/repos/test-acc9/test_example/git/t[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/test-acc9/test_example/commits/610ada9fa2bbc49f1a08917da3f73bef2d03709c/status?page=1&per_page=100
  response:
    content: '{"state":"success","statuses":[{"url":"https://api.github.com/repos/test-acc9/test_example/statuses/610ada9fa2bbc49f1a08917da3f73bef2d03709c","avatar_url":"https://avatars.githubusercontent.com/u/104562106?v=4","id":18593754782,"node_id":"SC_kwDOHP_eEc8AAAAEVEYung","state":"success","description":"85.00%
      (+0.00%) compared to ef6edf5","target_url":"https://myexamplewebsite.io/gh/test-acc9/test_example/pull/1","context":"codecov/project","created_at":"2022-08-02T17:58:52Z","updated_at":"2022-08-02T17:58:52Z"},{"url":"https://api.github.com/repos/test-acc9/test_example/statuses/610ada9fa2bbc49f1a08917da3f73bef2d03709c","avatar_url":"https://avatars.githubusercontent.com/u/104562106?v=4","id":18593755520,"node_id":"SC_kwDOHP_eEc8AAAAEVEYxgA","state":"success","description":"No
      unexpected coverage changes found","target_url":"https://myexamplewebsite.io/gh/test-acc9/test_example/pull/1","context":"codecov/changes","created_at":"2022-08-02T17:58:55Z","updated_at":"2022-08-02T17:58:55Z"},{"url":"https://api.github.com/repos/test-acc9/test_example/statuses/610ada9fa2bbc49f1a08917da3f73bef2d03709c","avatar_url":"https://avatars.githubusercontent.com/u/104562106?v=4","id":18593755542,"node_id":"SC_kwDOHP_eEc8AAAAEVEYxlg","state":"success","description":"Coverage
      not affected when comparing ef6edf5...610ada9","target_url":"https://myexamplewebsite.io/gh/test-acc9/test_example/pull/1","context":"codecov/patch","created_at":"2022-08-02T17:58:55Z","updated_at":"2022-08-02T17:58:55Z"}],"sha":"610ada9fa2bbc49f1a08917da3f73bef2d03709c","total_count":3,"repository":{"id":486530577,"node_id":"R_kgDOHP_eEQ","name":"test_example","full_name":"test-acc9/test_example","private":false,"owner":{"login":"test-acc9","id":104562106,"node_id":"U_kgDOBjt9ug","avatar_url":"https://avatars.githubusercontent.com/u/104562106?v=4","gravatar_id":"","url":"https://api.github.com/users/test-acc9","html_url":"https://github.com/test-acc9","followers_url":"https://api.github.com/users/test-acc9/followers","following_url":"https://api.github.com/users/test-acc9/following{/other_user}","gists_url":"https://api.github.com/users/test-acc9/gists{/gist_id}","starred_url":"https://api.github.com/users/test-acc9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-acc9/subscriptions","organizations_url":"https://api.github.com/users/test-acc9/orgs","repos_url":"https://api.github.com/users/test-acc9/repos","events_url":"https://api.github.com/users/test-acc9/events{/privacy}","received_events_url":"https://api.github.com/users/test-acc9/received_events","type":"User","site_admin":false},"html_url":"https://github.com/test-acc9/test_example","description":null,"fork":false,"url":"https://api.github.com/repos/test-acc9/test_example","forks_url":"https://api.github.com/repos/test-acc9/test_example/forks","keys_url":"https://api.github.com/repos/test-acc9/test_example/keys{/key_id}","collaborators_url":"https://api.github.com/repos/test-acc9/test_example/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/test-acc9/test_example/teams","hooks_url":"https://api.github.com/repos/test-acc9/test_example/hooks","issue_events_url":"https://api.github.com/repos/test-acc9/test_example/issues/events{/number}","events_url":"https://api.github.com/repos/test-acc9/test_example/events","assignees_url":"https://api.github.com/repos/test-acc9/test_example/assignees{/user}","branches_url":"https://api.github.com/repos/test-acc9/test_example/branches{/branch}","tags_url":"https://api.github.com/repos/test-acc9/test_example/tags","blobs_url":"https://api.github.com/repos/test-acc9/test_example/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/test-acc9/test_example/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/test-acc9/test_example/git/refs{/sha}","trees_url":"https://api.github.com/repos/test-acc9/test_example/git/trees{/sha}","statuses_url":"https://api.github.com/repos/test-acc9/test_example/statuses/{sha}","languages_url":"https://api.github.com/repos/test-acc9/test_example/languages","stargazers_url":"https://api.github.com/repos/test-acc9/test_example/stargazers","contributors_url":"https://api.github.com/repos/test-acc9/test_example/contributors","subscribers_url":"https://api.github.com/repos/test-acc9/test_example/subscribers","subscription_url":"https://api.github.com/repos/test-acc9/test_example/subscription","commits_url":"https://api.github.com/repos/test-acc9/test_example/commits{/sha}","git_commits_url":"https://api.github.com/repos/test-acc9/test_example/git/commits{/sha}","comments_url":"https://api.github.com/repos/test-acc9/test_example/comments{/number}","issue_comment_url":"https://api.github.com/repos/test-acc9/test_example/issues/comments{/number}","contents_url":"https://api.github.com/repos/test-acc9/test_example/contents/{+path}","compare_url":"https://api.github.com/repos/test-acc9/test_example/compare/{base}...{head}","merges_url":"https://api.github.com/repos/test-acc9/test_example/merges","archive_url":"https://api.github.com/repos/test-acc9/test_example/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/test-acc9/test_example/downloads","issues_url":"https://api.github.com/repos/test-acc9/test_example/issues{/number}","pulls_url":"https://api.github.com/repos/test-acc9/test_example/pulls{/number}","milestones_url":"https://api.github.com/repos/test-acc9/test_example/milestones{/number}","notifications_url":"https://api.github.com/repos/test-acc9/test_example/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/test-acc9/test_example/labels{/name}","releases_url":"https://api.github.com/repos/test-acc9/test_example/releases{/id}","deployments_url":"https://api.github.com/repos/test-acc9/test_example/deployments"},"commit_url":"https://api.github.com/repos/test-acc9/test_example/commits/610ada9fa2bbc49f1a08917da3f73bef2d03709c","url":"https://api.github.com/repos/test-acc9/test_example/commits/610ada9fa2bbc49f1a08917da3f73bef2d03709c/status"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d2b162701dbf6a7a8eff7d2ccbe045ed2e3639a937946c5029cef4c0b8a98243"
      X-Accepted-OAuth-Scopes:
      - repo, repo:status
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4987'
      X-RateLimit-Reset:
      - '1659466112'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '13'
      github-authentication-token-expiration:
      - 2022-09-01 17:26:32 UTC
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/search/issues?q=610ada9fa2bbc49f1a08917da3f73bef2d03709c+repo%3Atest-acc9%2Ftest_example+type%3Apr+state%3Aopen
  response:
    content: '{"total_count":1,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/test-acc9/test_example/issues/1","repository_url":"https://api.github.com/repos/test-acc9/test_example","labels_url":"https://api.github.com/repos/test-acc9/test_example/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/test-acc9/test_example/issues/1/comments","events_url":"https://api.github.com/repos/test-acc9/test_example/issues/1/events","html_url":"https://github.com/test-acc9/test_example/pull/1","id":1218464748,"node_id":"PR_kwDOHP_eEc427r9u","number":1,"title":"Create
      random-commit.me","user":{"login":"test-acc9","id":104562106,"node_id":"U_kgDOBjt9ug","avatar_url":"https://avatars.githubusercontent.com/u/104562106?v=4","gravatar_id":"","url":"https://api.github.com/users/test-acc9","html_url":"https://github.com/test-acc9","followers_url":"https://api.github.com/users/test-acc9/followers","following_url":"https://api.github.com/users/test-acc9/following{/other_user}","gists_url":"https://api.github.com/users/test-acc9/gists{/gist_id}","starred_url":"https://api.github.com/users/test-acc9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-acc9/subscriptions","organizations_url":"https://api.github.com/users/test-acc9/orgs","repos_url":"https://api.github.com/users/test-acc9/repos","events_url":"https://api.github.com/users/test-acc9/events{/privacy}","received_events_url":"https://api.github.com/users/test-acc9/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":3,"created_at":"2022-04-28T09:37:10Z","updated_at":"2022-08-02T17:58:55Z","closed_at":null,"author_association":"OWNER","active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/test-acc9/test_example/pulls/1","html_url":"https://github.com/test-acc9/test_example/pull/1","diff_url":"https://github.com/test-acc9/test_example/pull/1.diff","patch_url":"https://github.com/test-acc9/test_example/pull/1.patch","merged_at":null},"body":null,"reactions":{"url":"https://api.github.com/repos/test-acc9/test_example/issues/1/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/test-acc9/test_example/issues/1/timeline","performed_via_github_app":null,"state_reason":null,"score":1.0}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '29'
      X-RateLimit-Reset:
      - '1659464164'
      X-RateLimit-Resource:
      - search
      X-RateLimit-Used:
      - '1'
      github-authentication-token-expiration:
      - 2022-09-01 17:26:32 UTC
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/test-acc9/test_example/pulls/1
  response:
    content: '{"url":"https://api.github.com/repos/test-acc9/test_example/pulls/1","id":921616238,"node_id":"PR_kwDOHP_eEc427r9u","html_url":"https://github.com/test-acc9/test_example/pull/1","diff_url":"https://github.com/test-acc9/test_example/pull/1.diff","patch_url":"https://github.com/test-acc9/test_example/pull/1.patch","issue_url":"https://api.github.com/repos/test-acc9/test_example/issues/1","number":1,"state":"open","locked":false,"title":"Create
      random-commit.me","user":{"login":"test-acc9","id":104562106,"node_id":"U_kgDOBjt9ug","avatar_url":"https://avatars.githubusercontent.com/u/104562106?v=4","gravatar_id":"","url":"https://api.github.com/users/test-acc9","html_url":"https://github.com/test-acc9","followers_url":"https://api.github.com/users/test-acc9/followers","following_url":"https://api.github.com/users/test-acc9/following{/other_user}","gists_url":"https://api.github.com/users/test-acc9/gists{/gist_id}","starred_url":"https://api.github.com/users/test-acc9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-acc9/subscriptions","organizations_url":"https://api.github.com/users/test-acc9/orgs","repos_url":"https://api.github.com/users/test-acc9/repos","events_url":"https://api.github.com/users/test-acc9/events{/privacy}","received_events_url":"https://api.github.com/users/test-acc9/received_events","type":"User","site_admin":false},"body":null,"created_at":"2022-04-28T09:37:10Z","updated_at":"2022-08-02T17:58:55Z","closed_at":null,"merged_at":null,"merge_commit_sha":"188bca08574e22fdc3cbdbde0bb98bfcf7e64425","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/test-acc9/test_example/pulls/1/commits","review_comments_url":"https://api.github.com/repos/test-acc9/test_example/pulls/1/comments","review_comment_url":"https://api.github.com/repos/test-acc9/test_example/pulls/comments{/number}","comments_url":"https://api.github.com/repos/test-acc9/test_example/issues/1/comments","statuses_url":"https://api.github.com/repos/test-acc9/test_example/statuses/a2d3e3c30547a000f026daa47610bb3f7b63aece","head":{"label":"test-acc9:featureA","ref":"featureA","sha":"a2d3e3c30547a000f026daa47610bb3f7b63aece","user":{"login":"test-acc9","id":104562106,"node_id":"U_kgDOBjt9ug","avatar_url":"https://avatars.githubusercontent.com/u/104562106?v=4","gravatar_id":"","url":"https://api.github.com/users/test-acc9","html_url":"https://github.com/test-acc9","followers_url":"https://api.github.com/users/test-acc9/followers","following_url":"https://api.github.com/users/test-acc9/following{/other_user}","gists_url":"https://api.github.com/users/test-acc9/gists{/gist_id}","starred_url":"https://api.github.com/users/test-acc9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-acc9/subscriptions","organizations_url":"https://api.github.com/users/test-acc9/orgs","repos_url":"https://api.github.com/users/test-acc9/repos","events_url":"https://api.github.com/users/test-acc9/events{/privacy}","received_events_url":"https://api.github.com/users/test-acc9/received_events","type":"User","site_admin":false},"repo":{"id":486530577,"node_id":"R_kgDOHP_eEQ","name":"test_example","full_name":"test-acc9/test_example","private":false,"owner":{"login":"test-acc9","id":104562106,"node_id":"U_kgDOBjt9ug","avatar_url":"https://avatars.githubusercontent.com/u/104562106?v=4","gravatar_id":"","url":"https://api.github.com/users/test-acc9","html_url":"https://github.com/test-acc9","followers_url":"https://api.github.com/users/test-acc9/followers","following_url":"https://api.github.com/users/test-acc9/following{/other_[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/test-acc9/test_example/pulls/1/commits?per_page=250
  response:
    content: '[{"sha":"610ada9fa2bbc49f1a08917da3f73bef2d03709c","node_id":"C_kwDOHP_eEdoAKDYxMGFkYTlmYTJiYmM0OWYxYTA4OTE3ZGEzZjczYmVmMmQwMzcwOWM","commit":{"author":{"name":"test-acc9","email":"104562106+test-acc9@users.noreply.github.com","date":"2022-04-28T09:37:05Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2022-04[...]
[...]
- request:
    body: '{"text": "Coverage for <https://myexamplewebsite.io/gh/test-acc9/test_example/commit/610ada9fa2bbc49f1a08917da3f73bef2d03709c|test-acc9/test_example>
      *no change* `<https://myexamplewebsite.io/gh/test-acc9/test_example/pull/1|0.00%>`
      on `featureA` is `85.00000%` via `<https://myexamplewebsite.io/gh/test-acc9/test_example/commit/610ada9fa2bbc49f1a08917da3f73bef2d03709c|610ada9>`",
      "author_name": "Codecov", "author_link": "https://myexamplewebsite.io/gh/test-acc9/test_example/commit/610ada9fa2bbc49f1a08917da3f73bef2d03709c",
      "attachments": []}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://hooks.slack.com/services/testkylhk/test01hg7/testohfnij1e83uy4xt8sxml
  response:
    content: ok
    headers:
      content-type:
      - text/html
      x-backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      x-edge-backend:
      - envoy-www
      x-server:
      - slack-www-hhvm-main-iad-ssoj
      x-slack-backend:
      - r
      x-slack-edge-shared-secret-outcome:
      - no-match
      x-slack-shared-secret-outcome:
      - no-match
    status_code: 200
- request:
    body: '{"repo": {"url": "https://myexamplewebsite.io/gh/test-acc9/test_example",
      "service_id": "id_422", "name": "test_example", "private": true}, "head": {"author":
      {"username": "test-acc9", "service_id": "104562106", "email": "atest7321@gmail.com",
      "service": "github", "name": "Paul Arellano"}, "url": "https://myexamplewebsite.io/gh/test-acc9/test_example/commit/610ada9fa2bbc49f1a08917da3f73bef2d03709c",
      "timestamp": "2019-02-01T17:59:47", "totals": {"files": 3, "lines": 20, "hits":
      17, "misses": 3, "partials": 0, "coverage": "85.00000", "branches": 0, "methods":
      0, "messages": 0, "sessions": 1, "complexity": 0, "complexity_total": 0, "diff":
      [1, 2, 1, 1, 0, "50.00000", 0, 0, 0, 0, 0, 0, 0]}, "commitid": "610ada9fa2bbc49f1a08917da3f73bef2d03709c",
      "service_url": "https://github.com/test-acc9/test_example/commit/610ada9fa2bbc49f1a08917da3f73bef2d03709c",
      "branch": "featureA", "message": ""}, "base": {"author": {"username": "test-acc9",
      "service_id": "104562106", "email": "atest7321@gmail.com", "service": "github",
      "name": "Paul Arellano"}, "url": "https://myexamplewebsite.io/gh/test-acc9/test_example/commit/ef6edf5ae6643d53a7971fb8823d3f7b2ac65619",
      "timestamp": "2019-02-01T17:59:47", "totals": {"files": 3, "lines": 20, "hits":
      17, "misses": 3, "partials": 0, "coverage": "85.00000", "branches": 0, "methods":
      0, "messages": 0, "sessions": 1, "complexity": 0, "complexity_total": 0, "diff":
      [1, 2, 1, 1, 0, "50.00000", 0, 0, 0, 0, 0, 0, 0]}, "commitid": "ef6edf5ae6643d53a7971fb8823d3f7b2ac65619",
      "service_url": "https://github.com/test-acc9/test_example/commit/ef6edf5ae6643d53a7971fb8823d3f7b2ac65619",
      "branch": "master", "message": ""}, "compare": {"url": "https://myexamplewebsite.io/gh/test-acc9/test_example/pull/1",
      "message": "no change", "coverage": "0.00", "notation": ""}, "owner": {"username":
      "test-acc9", "service_id": "104562106", "service": "github"}, "pull": {"head":
      {"commit": "610ada9fa2bbc49f1a08917da3f73bef2d03709c", "branch": "master"},
      "number": "1", "base": {"commit": "ef6edf5ae6643d53a7971fb8823d3f7b2ac65619",
      "branch": "master"}, "open": true, "id": 1, "merged": false}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://6da6786648c8a8e5b8b09bc6562af8b4.m.pipedream.net
  response:
    content: ''
    headers:
    status_code: 200
[...]
- request:
    body: '{"body": "## [Codecov](https://myexamplewebsite.io/gh/test-acc9/test_example/pull/1?src=pr&el=h1)
      Report\n> Merging [#1](https://myexamplewebsite.io/gh/test-acc9/test_example/pull/1?src=pr&el=desc)
      (610ada9) into [main](https://myexamplewebsite.io/gh/test-acc9/test_example/commit/ef6edf5ae6643d53a7971fb8823d3f7b2ac65619?el=desc)
      (ef6edf5) will **not change** coverage.\n> The diff coverage is `n/a`.\n\n>
      :exclamation: Current head 610ada9 differs from[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/test-acc9/test_example/commits/610ada9fa2bbc49f1a08917da3f73bef2d03709c/pulls
  response:
    content: '[{"url":"https://api.github.com/repos/test-acc9/test_example/pulls/1","id":921616238,"node_id":"PR_kwDOHP_eEc427r9u","html_url":"https://github.com/test-acc9/test_example/pull/1","diff_url":"https://github.com/test-acc9/test_example/pull/1.diff","patch_url":"https://github.com/test-acc9/test_example/pull[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/joseph-sentry/codecov-demo/commits/5601846871b8142ab0df1e0b8774756c658bcc7d/status?page=1&per_page=100
  response:
    content: '{"state":"success","statuses":[{"url":"https://api.github.com/repos/joseph-sentry/codecov-demo/statuses/5601846871b8142ab0df1e0b8774756c658bcc7d","avatar_url":"https://avatars.githubusercontent.com/u/136376984?v=4","id":24842855406,"node_id":"SC_kwDOJu7MkM8AAAAFyL_j7g","state":"s[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/joseph-sentry/codecov-demo/pulls/9
  response:
    content: '{"url":"https://api.github.com/repos/joseph-sentry/codecov-demo/pulls/9","id":1494493271,"node_id":"PR_kwDOJu7MkM5ZFChX","html_url":"https://github.com/joseph-sentry/codecov-demo/pull/9","diff_url":"https://github.com/joseph-sentry/codecov-demo/pull/9.diff","patch_url":"https://github.com/joseph-sentry/codecov-demo/pull/9.patch","issue_url":"http[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/joseph-sentry/codecov-demo/pulls/9/commits?per_page=250
  response:
    content: '[{"sha":"5601846871b8142ab0df1e0b8774756c658bcc7d","node_id":"C_kwDOJu7MkNoAKDU2MDE4NDY4NzFiODE0MmFiMGRmMWUwYjg3NzQ3NTZjNjU4YmNjN2Q","commit":{"author":{"name":"joseph-sentry","email":"joseph.sawaya@sentry.io","date":"2023-08-14T15:16:17Z"},"committer":{"name":"joseph-sentry","email":"joseph.sawaya@sentry.io","date":"2023-08-[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/joseph-sentry/codecov-demo/compare/5b174c2b40d501a70c479e91025d5109b1ad5c1b...5601846871b8142ab0df1e0b8774756c658bcc7d
  response:
    content: '{"url":"https://api.github.com/repos/joseph-sentry/codecov-demo/compare/5b174c2b40d501a70c479e91025d5109b1ad5c1b...5601846871b8142ab0df1e0b8774756c658bcc7d","html_url":"https://github.com/joseph-sentry/codecov-demo/compare/5b174c2b40d501a70c479e91025d5109b1ad5c1b.[...]
- request:
    body: '{"state": "success", "target_url": "https://myexamplewebsite.io/gh/joseph-sentry/codecov-demo/pull/9",
      "context": "codecov/patch", "description": "Coverage not affected when comparing
      5b174c2...5601846"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/joseph-sentry/codecov-demo/statuses/5601846871b8142ab0df1e0b8774756c658bcc7d
  response:
    content: '{"url":"https://api.github.com/repos/joseph-sentry/codecov-demo/statuses/5601846871b8142ab0df1e0b8774756c658bcc7d","avatar_url":"https://avatars.githubusercontent.com/u/136376984?v=4","id":24846000025,"node_id":"SC_kwDOJu7MkM8AAAAFyO_fmQ","state":"success","description":"Coverage
      not affected when comparing 5b174c2...5601846","target_url":"https://myexamplewebsite.io/gh/joseph-sentry/codecov-demo/pull/9","context":"codecov/patch","created_at":"2023-08-30T18:45:00Z","updated_at":"2023-08-30T18:45:00Z","creator":{"login":"joseph-sentry","id":136376984,"node_id":"U_kgDOCCDymA","avatar_url":"https://avatars.githubusercontent.com/u/136376984?v=4","gravatar_id":"","url":"https://api.github.com/users/joseph-sentry","html_url":"https://github.com/joseph-sentry","followers_url":"https://api.github.com/users/joseph-sentry/followers","following_url":"https://api.github.com/users/joseph-sentry/following{/other_user}","gists_url":"https://api.github.com/users/joseph-sentry/gists{/gist_id}","starred_url":"https://api.github.com/users/joseph-sentry/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joseph-sentry/subscriptions","organizations_url":"https://api.github.com/users/joseph-sentry/orgs","repos_url":"https://api.github.com/users/joseph-sentry/repos","events_url":"https://api.github.com/users/joseph-sentry/events{/privacy}","received_events_url":"https://api.github.com/users/joseph-sentry/received_events","type":"User","site_admin":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"6082b52302afdc137a43de77d677c72bca91f142539336b3dd79fe2658a7ce2c"'
      Location:
      - https://api.github.com/repos/joseph-sentry/codecov-demo/statuses/5601846871b8142ab0df1e0b8774756c658bcc7d
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo
[...]
