interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/11daa27b1b74fd181836a64106f936a16404089c/status?page=1&per_page=100
  response:
    body: {string: '{"state":"success","statuses":[{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/11daa27b1b74fd181836a64106f936a16404089c","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","id":9333363767,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ5MzMzMzYzNzY3","state":"success","description":"85.00%
        (+0.00%) compared to f089529","target_url":"https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/compare/f0895290dc26668faeeb20ee5ccd4cc995925775...11daa27b1b74fd181836a64106f936a16404089c","context":"codecov/project","created_at":"2020-04-09T16:19:24Z","updated_at":"2020-04-09T16:19:24Z"},{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/11daa27b1b74fd181836a64106f936a16404089c","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","id":9333363778,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ5MzMzMzYzNzc4","state":"success","description":"No
        unexpected coverage changes found","target_url":"https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/compare/f0895290dc26668faeeb20ee5ccd4cc995925775...11daa27b1b74fd181836a64106f936a16404089c","context":"codecov/changes","created_at":"2020-04-09T16:19:24Z","updated_at":"2020-04-09T16:19:24Z"},{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/11daa27b1b74fd181836a64106f936a16404089c","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","id":9333363801,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ5MzMzMzYzODAx","state":"success","description":"Coverage
        not affected when comparing f089529...11daa27","target_url":"https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/compare/f0895290dc26668faeeb20ee5ccd4cc995925775...11daa27b1b74fd181836a64106f936a16404089c","context":"codecov/patch","created_at":"2020-04-09T16:19:24Z","updated_at":"2020-04-09T16:19:24Z"}],"sha":"11daa27b1b74fd181836a64106f936a16404089c","total_count":3,"repository":{"id":156617777,"node_id":"MDEwOlJlcG9zaXRvcnkxNTY2MTc3Nzc=","name":"example-python","full_name":"ThiagoCodecov/example-python","private":false,"owner":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ThiagoCodecov/example-python","description":"Python
        coverage example","fork":true,"url":"https://api.github.com/repos/ThiagoCodecov/example-python","forks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/forks","keys_url":"https://api.github.com/repos/ThiagoCodecov/example-python/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ThiagoCodecov/example-python/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ThiagoCodecov/example-python/teams","hooks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks","issue_events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/events{/number}","events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/events","assignees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/assignees{/user}","branches_url":"https://api.github.com/repos/ThiagoCodecov/example-python/branches{/branch}","tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/tags","blobs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/refs{/sha}","trees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/{sha}","languages_url":"https://api.github.com/repos/ThiagoCodecov/example-python/languages","stargazers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/stargazers","contributors_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contributors","subscribers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscribers","subscription_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscription","commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits{/sha}","git_commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits{/sha}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/comments{/number}","issue_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/comments{/number}","contents_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/{+path}","compare_url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ThiagoCodecov/example-python/merges","archive_url":"https://api.github.com/repos/ThiagoCodecov/example-python/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ThiagoCodecov/example-python/downloads","issues_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues{/number}","pulls_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls{/number}","milestones_url":"https://api.github.com/repos/ThiagoCodecov/example-python/milestones{/number}","notifications_url":"https://api.github.com/repos/ThiagoCodecov/example-python/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ThiagoCodecov/example-python/labels{/name}","releases_url":"https://api.github.com/repos/ThiagoCodecov/example-python/releases{/id}","deployments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/deployments"},"commit_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/11daa27b1b74fd181836a64106f936a16404089c","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/11daa27b1b74fd181836a64106f936a16404089c/status"}'}
    headers:
    - !!python/tuple
      - Date
      - ['Thu, 09 Apr 2020 16:24:40 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
      - Transfer-Encoding
      - [chunked]
    - !!python/tuple
      -[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/issues?q=11daa27b1b74fd181836a64106f936a16404089c+repo%3AThiagoCodecov%2Fexample-python+type%3Apr+state%3Aopen
  response:
    body: {string: '{"total_count":1,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/18","repository_url":"https://api.github.com/repos/ThiagoCodecov/example-python","labels_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/18/labels{/name}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/18/comments","events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/18/events","html_url":"https://github.com/ThiagoCodecov/example-python/pull/18","id":575148804,"node_id":"MDExOlB1bGxSZXF1ZXN0MzgzMzQ4Nzc1","number":18,"title":"Thiago/base
        no base","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":6,"created_at":"2020-03-04T05:32:53Z","updated_at":"2020-04-08T20:50:42Z","closed_at":null,"author_association":"OWNER","draft":false,"pull_request":{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/18","html_url":"https://github.com/ThiagoCodecov/example-python/pull/18","diff_url":"https://github.com/ThiagoCodecov/example-python/pull/18.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/pull/18.patch"},"body":"","score":1.0}]}'}
    headers:
    - !!python/tuple
      - Date
      - ['Thu, 09 Apr 2020 16:24:41 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
      - Transfer-Encoding
      - [chunked]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Server
      - [GitHub.com]
    - !!python/tuple
      - Status
      - [200 OK]
    - !!python/tuple
      - X-Ratelimit-Limit
      - ['30']
    - !!python/tuple
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/pulls/18
  response:
    body: {string: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/18","id":383348775,"node_id":"MDExOlB1bGxSZXF1ZXN0MzgzMzQ4Nzc1","html_url":"https://github.com/ThiagoCodecov/example-python/pull/18","diff_url":"https://github.com/ThiagoCodecov/example-python/pull/18.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/pull/18.patch","issue_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/18","number":18,"state":"open","locked":false,"title":"Thiago/base
        no base","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"body":"","created_at":"2020-03-04T05:32:53Z","updated_at":"2020-04-08T20:50:42Z","closed_at":null,"merged_at":null,"merge_commit_sha":"63c31ff299fa85e990a635e7fe47debc242b027a","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/18/commits","review_comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/18/comments","review_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/comments{/number}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/18/comments","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/e999aac5b33acbca52601d2a655ab0ac46a1ffdf","head":{"label":"ThiagoCodecov:thiago/base-no-base","ref":"thiago/base-no-base","sha":"e999aac5b33acbca52601d2a655ab0ac46a1ffdf","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"repo":{"id":156617777,"node_id":"MDEwOlJlcG9zaXRvcnkxNTY2MTc3Nzc=","name":"example-python","full_name":"ThiagoCodecov/example-python","private":false,"owner":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/pulls/18/commits
  response:
    body: {string: '[{"sha":"11daa27b1b74fd181836a64106f936a16404089c","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjExZGFhMjdiMWI3NGZkMTgxODM2YTY0MTA2ZjkzNmExNjQwNDA4OWM=","commit":{"author":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2020-03-04T05:31:33Z"},"committer":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2020-03-04T05:31:33Z"},"message":"F8926640-91E9-4A1E-B209-0101666AB0BB","tree":{"sha":"6be9ab3da2917081449644850f6ecf058d0feded","url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees/6be9ab3da2917081449644850f6ecf058d0feded"},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits/11daa27b1b74fd181836a64106f936a16404089c","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/11daa27b1b74fd181836a64106f936a16404089c","html_url":"https://github.com/ThiagoCodecov/example-python/commit/11daa27b1b74fd181836a64106f936a16404089c","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/11daa27b1b74fd181836a64106f936a16404089c/comments","author":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/081d91921f05a8a39d39aef667eddb88e96300c7
  response:
    body: {string: '{"sha":"081d91921f05a8a39d39aef667eddb88e96300c7","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjA4MWQ5MTkyMWYwNWE4YTM5ZDM5YWVmNjY3ZWRkYjg4ZTk2MzAwYzc=","commit":{"author":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2020-03-04T05:30:27Z"},"committer":{"name":"Thiago
        Ramos","e[...]
- request:
    body: '{"repo": {"url": "https://myexamplewebsite.io/gh/ThiagoCodecov/example-python",
      "service_id": "id_4", "name": "example-python", "private": true}, "head": {"author":
      {"username": "ThiagoCodecov", "service_id": "user12", "email": "jspencer@ruiz-parker.com",
      "service": "github", "name": "Alexandra Morris"}, "url": "https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/commit/11daa27b1b74fd181836a64106f936a16404089c",
      "timestamp": "2019-02-01T17:59:47", "totals": {"files": 3, "lines": 20, "hits":
      17, "misses": 3, "partials": 0, "coverage": "85.00000", "branches": 0, "methods":
      0, "messages": 0, "sessions": 1, "complexity": 0, "complexity_total": 0, "diff":
      [1, 2, 1, 1, 0, "50.00000", 0, 0, 0, 0, 0, 0, 0]}, "commitid": "11daa27b1b74fd181836a64106f936a16404089c",
      "service_url": "https://github.com/ThiagoCodecov/example-python/commit/11daa27b1b74fd181836a64106f936a16404089c",
      "branch": "thiago/f/something", "message": ""}, "base": {"author": {"username":
      "ThiagoCodecov", "service_id": "user12", "email": "jspencer@ruiz-parker.com",
      "service": "github", "name": "Alexandra Morris"}, "url": "https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/commit/f0895290dc26668faeeb20ee5ccd4cc995925775",
      "timestamp": "2019-02-01T17:59:47", "totals": {"files": 3, "lines": 20, "hits":
      17, "misses": 3, "partials": 0, "coverage": "85.00000", "branches": 0, "methods":
      0, "messages": 0, "sessions": 1, "complexity": 0, "complexity_total": 0, "diff":
      [1, 2, 1, 1, 0, "50.00000", 0, 0, 0, 0, 0, 0, 0]}, "commitid": "f0895290dc26668faeeb20ee5ccd4cc995925775",
      "service_url": "https://github.com/ThiagoCodecov/example-python/commit/f0895290dc26668faeeb20ee5ccd4cc995925775",
      "branch": "master", "message": ""}, "compare": {"url": "https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/compare/f0895290dc26668faeeb20ee5ccd4cc995925775...11daa27b1b74fd181836a64106f936a16404089c",
      "message": "no change", "coverage": "0.00", "notation": ""}, "owner": {"username":
      "ThiagoCodecov", "service_id": "user12", "service": "github"}, "pull": {"head":
      {"commit": "11daa27b1b74fd181836a64106f936a16404089c", "branch": "master"},
      "number": "18", "base": {"commit": "081d91921f05a8a39d39aef667eddb88e96300c7",
      "branch": "master"}, "open": true, "id": 18, "merged": false}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://enntvaucxboe.x.pipedream.net/
  response:
    body: {string: '{"success":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-pd-status: [sent to primary]
    status: {code: 200, message: OK}
- request:
    body: '{"text": "Coverage for <https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/commit/11daa27b1b74fd181836a64106f936a16404089c|ThiagoCodecov/example-python>
      *no change* `<https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/compare/f0895290dc26668faeeb20ee5ccd4cc995925775...11daa27b1b74fd181836a64106f936a16404089c|0.00%>`
      on `thiago/f/something` is `85.00000%` via `<https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/commit/11daa27b1b74fd181836a64106f936a16404089c|11daa27>`",
      "author_name": "Codecov", "author_link": "https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/commit/11daa27b1b74fd181836a64106f936a16404089c",
      "attachments": []}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://hooks.slack.com/services/testkylhk/test01hg7/testohfnij1e83uy4xt8sxml
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAA8vPBgBH3dx5AgAAAA==
    headers:
      Content-Type: [text/html]
      X-Slack-Backend: [h]
      X-Via: [haproxy-www-qqeu]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/compare/f0895290dc26668faeeb20ee5ccd4cc995925775...11daa27b1b74fd181836a64106f936a16404089c
  response:
    body: {string: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/f0895290dc26668faeeb20ee5ccd4cc995925775...11daa27b1b74fd181836a64106f936a16404089c","html_url":"https://github.com/ThiagoCodecov/example-python/compare/f0895290dc26668faeeb20ee5ccd4cc995925775...11daa27b1b74fd181836a64106f936a16404089c","permalink_url":"https://github.com/ThiagoCodecov/example-python/compare/ThiagoCodecov:f089529...ThiagoCodecov:11daa27","diff_url":"https://github.com/ThiagoCodecov/example-python/compare/f0895290dc26668faeeb20ee5ccd4cc995925775...11daa27b1b74fd181836a64106f936a16404089c.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/compare/f0895290dc26668faeeb20ee5ccd4cc995925775...11daa27b1b74fd181836a64106f936a16404089c.patch","base_commit":{"sha":"f0895290dc26668faeeb20ee5ccd4cc995925775","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OmYwODk1MjkwZGMyNjY2OGZhZWViMjBlZTVjY2Q0Y2M5OTU5MjU3NzU=","commit":{"author":{"name":"Thiago","email":"44376991+ThiagoCodecov@users.noreply.github.com","date":"2020-03-24T22:01:33Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2020-03-24T22:01:33Z"},"message":"Merge
        pull request #12 from ThiagoCodecov/thiago/f/cool-branch\n\nThiago/f/cool
        branch","tree":{"sha":"cda64d688c17a[...]
[...]
- request:
    body: '{"body": "# [Codecov](https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/pull/18?src=pr&el=h1)
      Report\n> Merging [#18](https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/pull/18?src=pr&el=desc)
      into [master](https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/commit/f0895290dc26668faeeb20ee5ccd4cc995925775&el=desc)
      will **not change** coverage by `%`.\n> The diff coverage is `n/a`.\n\n[![Impacted
      file tree graph](https://mye[...]
