interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/f0895290dc26668faeeb20ee5ccd4cc995925775/status?page=1&per_page=100
  response:
    body: {string: '{"state":"failure","statuses":[{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/f0895290dc26668faeeb20ee5ccd4cc995925775","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","id":9324244409,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ5MzI0MjQ0NDA5","state":"pending","description":"pending
        - 4 - turtle","target_url":"https://localhost:50036/github/codecov","context":"turtle","created_at":"2020-04-08T20:49:44Z","updated_at":"2020-04-08T20:49:44Z"},{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/f0895290dc26668faeeb20ee5ccd4cc995925775","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","id":9324244483,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ5MzI0MjQ0NDgz","state":"failure","description":"failure
        - 5 - bird","target_url":"https://localhost:50036/github/codecov","context":"bird","created_at":"2020-04-08T20:49:44Z","updated_at":"2020-04-08T20:49:44Z"},{"url":"https://api.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/issues?q=f0895290dc26668faeeb20ee5ccd4cc995925775+repo%3AThiagoCodecov%2Fexample-python+type%3Apr+state%3Aopen
  response:
    body: {string: '{"total_count":0,"incomplete_results":false,"items":[]}'}
    headers:
    - !!python/tuple
      - Date
      - ['Thu, 09 Apr 2020 16:12:07 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
      - Transfer-Encoding
      - [chunked]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Server
      - [GitHub.com]
    - !!python/tuple
      - Status
      - [200 OK]
    - !!python/tuple
      - X-Ratelimit-Limit
      - ['30']
    - !!python/tuple
      -[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/compare/081d91921f05a8a39d39aef667eddb88e96300c7...f0895290dc26668faeeb20ee5ccd4cc995925775
  response:
    body: {string: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/081d91921f05a8a39d39aef667eddb88e96300c7...f0895290dc26668faeeb20ee5ccd4cc995925775","html_url":"https://github.com/ThiagoCodecov/example-python/compare/081d91921f05a8a39d39aef667eddb88e96300c7...f0895290dc26668faeeb20ee5ccd4cc995925775","permalink_url":"https://github.com/ThiagoCodecov/example-python/compare/ThiagoCodecov:081d919...ThiagoCodecov:f089529","diff_url":"https://github.com/ThiagoCodecov/example-python/compare/081d91921f05a8a39d39aef667eddb88e96300c7...f0895290dc26668faeeb20ee5ccd4cc995925775.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/compare/081d91921f05a8a39d39aef667eddb88e96300c7...f0895290dc26668faeeb20ee5ccd4cc995925775.patch","base_commit":{"sha":"081d91921f05a8a39d39aef667eddb88e96300c7","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjA4MWQ5MTkyMWYwNWE4YTM5ZDM5YWVmNjY3ZWRkYjg4ZTk2MzAwYzc=","commit":{"author":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2020-03-04T05:30:27Z"},"committer":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2020-03-04T05:30:27Z"},"message":"182B7277-7D2C-420B-B005-92418CBD6F09","tree":{"sha":"e6af1eb1d589c63cf9cc5caf7b80024a30c2e892","url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees/e6af1eb1d589c63cf9cc5caf7b80024a30c2e892"},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits/081d91921f05a8a39d39aef667eddb88e96300c7","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/081d91921f05a8a39d39aef667eddb88e96300c7","html_url":"https://github.com/ThiagoCodecov/example-python/commit/081d91921f05a8a39d39aef667eddb88e96300c7","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/081d91921f05a8a39d39aef667eddb88e96300c7/comments","author":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"committer":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"parents":[{"sha":"f60187a642531c18d7af0b0f1d37294b809081fb","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/f60187a642531c18d7af0b0f1d37294b809081fb","html_url":"https://github.com/ThiagoCodecov/example-python/commit/f60187a642531c18d7af0b0f1d37294b809081fb"}]},"merge_base_commit":{"sha":"081d91921f05a8a39d39aef667eddb88e96300c7","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjA4MWQ5MTkyMWYwNWE4YTM5ZDM5YWVmNjY3ZWRkYjg4ZTk2MzAwYzc=","commit":{"author":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2020-03-04T05:30:27Z"},"committer":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2020-03-04T05:30:27Z"},"message":"182B7277-7D2C-420B-B005-92418CBD6F09","tree":{"sha":"e6af1eb1d589c63cf9cc5caf7b80024a30c2e892","url":"https://api.github.com/repos/Thia[...]
[...]
- request:
    body: '{"state": "success", "target_url": "https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/commit/f0895290dc26668faeeb20ee5ccd4cc995925775",
      "context": "codecov/project", "description": "85.00% (+0.00%) compared to 081d919"}'
    headers:
    method: POST
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/statuses/f0895290dc26668faeeb20ee5ccd4cc995925775
  response:
    body: {string: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/f0895290dc26668faeeb20ee5ccd4cc995925775","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","id":9333281614,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ5MzMzMjgxNjE0","state":"success","description":"85.00%
        (+0.00%) compared to 081d919","target_url":"https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/commit/f0895290dc26668faeeb20ee5ccd4cc995925775","context":"codecov/project","created_at":"2020-04-09T16:12:08Z","updated_at":"2020-04-09T16:12:08Z","creator":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"ht[...]
[...]
