interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/2e2600aa09525e2e1e1d98b09de61454d29c94bb/statuses?page=1&per_page=100
  response:
    body: {string: '[]'}
    headers:
    - !!python/tuple
      - Date
      - ['Mon, 30 Dec 2019 11:33:10 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
      - Content-Length
      - ['2']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Server
      - [GitHub.com]
    - !!python/tuple
      - Status
      - [200 OK]
    - !!python/tuple
      - X-Ratelimit-Limit
      - ['5000']
    - !!pytho[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/issues?q=2e2600aa09525e2e1e1d98b09de61454d29c94bb+repo%3AThiagoCodecov%2Fexample-python+type%3Apr+state%3Aopen
  response:
    body: {string: '{"total_count":1,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/15","repository_url":"https://api.github.com/repos/ThiagoCodecov/example-python","labels_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/15/labels{/name}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/15/comments","events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/15/events","html_url":"https://github.com/ThiagoCodecov/example-python/pull/15","id":534893380,"node_id":"MDExOlB1bGxSZXF1ZXN0MzUwNjgzNzkx","number":15,"title":"Thiago/test
        1","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2019-12-09T12:19:01Z","updated_at":"2019-12-09T12:19:01Z","closed_at":null,"author_association":"OWNER","pull_request":{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/15","html_url":"https://github.com/ThiagoCodecov/example-python/pull/15","diff_url":"https://github.com/ThiagoCodecov/example-python/pull/15.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/pull/15.patch"},"body":"","score":100.0}]}'}
    headers:
    - !!python/tuple
      - Date
      - ['Mon, 30 Dec 2019 11:33:11 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
      - Transfer-Encoding
      - [chunked]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Server
      - [GitHub.com]
    - !!python/tuple
      - Status
      - [200 OK]
    - !!python/tuple
      - X-Ratelimit-Limit
      - ['30']
    - !!python/tuple
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/pulls/15
  response:
    body: {string: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/15","id":350683791,"node_id":"MDExOlB1bGxSZXF1ZXN0MzUwNjgzNzkx","html_url":"https://github.com/ThiagoCodecov/example-python/pull/15","diff_url":"https://github.com/ThiagoCodecov/example-python/pull/15.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/pull/15.patch","issue_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/15","number":15,"state":"open","locked":false,"title":"Thiago/test
        1","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"body":"","created_at":"2019-12-09T12:19:01Z","updated_at":"2019-12-09T12:19:01Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/15/commits","review_comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/15/comments","review_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/comments{/number}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/15/comments","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/2e2600aa09525e2e1e1d98b09de61454d29c94bb","head":{"label":"ThiagoCodecov:thiago/test-1","ref":"thiago/test-1","sha":"2e2600aa09525e2e1e1d98b09de61454d29c94bb","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"repo":{"id":156617777,"node_id":"MDEwOlJlcG9zaXRvcnkxNTY2MTc3Nzc=","name":"example-python","full_name":"ThiagoCodecov/example-python","private":false,"owner":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ThiagoCodecov/example-python","description":"Python
        coverage example","fork":true,"url":"https://api.github.com/repos/ThiagoCodecov/example-python","forks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/forks","keys_url":"https://api.github.com/repos/ThiagoCodecov/example-python/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ThiagoCodecov/example-python/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ThiagoCodecov/example-python/teams","hooks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks","issue_events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/events{/number}","events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/events","assignees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/assignees{/user}","branches_url":"https://api.github.com/repos/ThiagoCodecov/example-python/branches{/branch}","tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/tags","blobs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/refs{/sha}","trees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/{sha}","languages_url":"https://api.github.com/repos/ThiagoCodecov/example-python/languages","stargazers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/stargazers","contributors_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contributors","subscribers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscribers","subscription_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscription","commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits{/sha}","git_commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits{/sha}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/comments{/number}","issue_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/comments{/number}","contents_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/{+path}","compare_url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ThiagoCodecov/example-python/merges","archive_url":"https://api.github.com/repos/ThiagoCodecov/example-python/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ThiagoCodecov/example-python/downloads","issues_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues{/number}","pulls_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls{/number}","milestones_url":"https://api.github.com/repos/ThiagoCodecov/example-python/milestones{/number}","notifications_url":"https://api.github.com/repos/ThiagoCodecov/example-python/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ThiagoCodecov/example-python/labels{/name}","releases_url":"https://api.github.com/repos/ThiagoCodecov/example-python/releases{/id}","deployments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/deployments","created_at":"2018-11-07T22:40:20Z","updated_at":"2019-12-30T11:29:45Z","pushed_at":"2019-12-30T11:29:42Z","git_url":"git://github.com/ThiagoCodecov/example-python.git","ssh_url":"git@github.com:ThiagoCodecov/example-python.git","clone_url":"https://github.com/ThiagoCodecov/example-python.git","svn_url":"https://github.com/ThiagoCodecov/example-python","homepage":"https://codecov.io","size":158,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":4,"license":null,"forks":0,"open_issues":4,"watchers":0,"default_branch":"master"}},"base":{"label":"ThiagoCodecov:master","ref":"master","sha":"d723f5cb5c9c9f48c47f2df97c47de20457d3fdc","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/d723f5cb5c9c9f48c47f2df97c47de20457d3fdc
  response:
    body: {string: '{"sha":"d723f5cb5c9c9f48c47f2df97c47de20457d3fdc","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OmQ3MjNmNWNiNWM5YzlmNDhjNDdmMmRmOTdjNDdkZTIwNDU3ZDNmZGM=","commit":{"author":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2019-12-09T12:18:12Z"},"committer":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2019-12-09T12:18:12Z"},"message":"83D8CF33-58C9-48A8-B013-D8D2A1B99FBA","tree":{"sha":"48da2c7bb2fea870f0fde3fe8b3a4635271dd9f6","url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees/48da2c7bb2fea870f0fde3fe8b3a4635271dd9f6"},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits/d723f5cb5c9c9f48c47f2df97c47de20457d3fdc","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/d723f5cb5c9c9f48c47f2df97c47de20457d3fdc","html_url":"https://github.com/ThiagoCodecov/example-python/commit/d723f5cb5c9c9f48c47f2df97c47de20457d3fdc","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/d723f5cb5c9c9f48c47f2df97c47de20457d3fdc/comments","author":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/[...]
[...]
- request:
    body: '{"state": "success", "target_url": "https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/compare/30cc1ed751a59fa9e7ad8e79fff41a6fe11ef5dd...2e2600aa09525e2e1e1d98b09de61454d29c94bb",
      "context": "codecov/project", "description": "85.00000% (+0.00%) compared to
      30cc1ed"}'
    headers:
    method: POST
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/statuses/2e2600aa09525e2e1e1d98b09de61454d29c94bb
  response:
    body: {string: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/2e2600aa09525e2e1e1d98b09de61454d29c94bb","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","id":8459159593,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ4NDU5MTU5NTkz","state":"success","description":"85.00000%
        (+0.00%) compared to 30cc1ed","target_url":"https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/compare/30cc1ed751a59fa9e7ad8e79fff41a6fe11ef5dd...2e2600aa09525e2e1e1d98b09de61454d29c94bb","context":"codecov/project","created_at":"2019-12-30T11:33:12Z","updated_at":"2019-12-30T11:33:12Z","creator":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"ht[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/compare/30cc1ed751a59fa9e7ad8e79fff41a6fe11ef5dd...2e2600aa09525e2e1e1d98b09de61454d29c94bb
  response:
    body: {string: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/30cc1ed751a59fa9e7ad8e79fff41a6fe11ef5dd...2e2600aa09525e2e1e1d98b09de61454d29c94bb","html_url":"https://github.com/ThiagoCodecov/example-python/compare/30cc1ed751a59fa9e7ad8e79fff41a6fe11ef5dd...2e2600aa09525e2e1e1d98b09de61454d29c94bb","permalink_url":"https://github.com/ThiagoCodecov/example-python/compare/ThiagoCodecov:30cc1ed...ThiagoCodecov:2e2600a","diff_url":"https://github.com/ThiagoCodecov/example-python/compare/30cc1ed751a59fa9e7ad8e79fff41a6fe11ef5dd...2e2600aa09525e2e1e1d98b09de61454d29c94bb.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/compare/30cc1ed751a59fa9e7ad8e79fff41a6fe11ef5dd...2e2600aa09525e2e1e1d98b09de61454d29c94bb.patch","base_commit":{"sha":"30cc1ed751a59fa9e7ad8e79fff41a6fe11ef5dd","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjMwY2MxZWQ3NTFhNTlmYTllN2FkOGU3OWZmZjQxYTZmZTExZWY1ZGQ=","commit":{"author":{"name":"Thiago","email":"44376991+ThiagoCodecov@users.noreply.github.com","date":"2019-12-09T12:02:11Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2019-12-09T12:02:11Z"},"message":"Update
        README.md","tree":{"sha":"c901b3cb75fd85aebf03f254494d5ad06b86777e","url":"https://api.github.com/repos/ThiagoCodecov[...]
[...]
