interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/649eaaf2924e92dc7fd8d370ddb857033231e67a/status?page=1&per_page=100
  response:
    content: '{"state":"success","statuses":[{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/649eaaf2924e92dc7fd8d370ddb857033231e67a","avatar_url":"https://avatars1.githubusercontent.com/oa/166618?v=4","id":8231102724,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ4MjMxMTAyNzI0","state":"success","description":"Coverage
      not affected when comparing 17a71a9...649eaaf","target_url":"http://localhost/gh/ThiagoCodecov/example-python/compare/17a71a9a2f5335ed4d00496c7bbc6405f547a527...649eaaf2924e92dc7fd8d370ddb857033231e67a","context":"codecov/patch","created_at":"2019-11-27T00:01:14Z","updated_at":"2019-11-27T00:01:14Z"},{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/649eaaf2924e92dc7fd8d370ddb857033231e67a","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","id":8459091358,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ4NDU5MDkxMzU4","state":"success","description":"No
      unexpected coverage changes found","target_url":"https://codecov.io/gh/ThiagoCodecov/example-python/commit/649eaaf2924e92dc7fd8d370ddb857033231e67a","context":"codecov/changes","created_at":"2019-12-30T11:15:30Z","updated_at":"2019-12-30T11:15:30Z"},{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/649eaaf2924e92dc7fd8d370ddb857033231e67a","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","id":9333173070,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ5MzMzMTczMDcw","state":"success","description":"85.00%
      (+0.00%) compared to 17a71a9","target_url":"https://codecov.io/gh/ThiagoCodecov/example-python/compare/17a71a9a2f5335ed4d00496c7bbc6405f547a527...649eaaf2924e92dc7fd8d370ddb857033231e67a","context":"codecov/project","created_at":"2020-04-09T16:02:50Z","updated_at":"2020-04-09T16:02:50Z"}],"sha":"649eaaf2924e92dc7fd8d370ddb857033231e67a","total_count":3,"repository":{"id":156617777,"node_id":"MDEwOlJlcG9zaXRvcnkxNTY2MTc3Nzc=","name":"example-python","full_name":"ThiagoCodecov/example-python","private":false,"owner":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ThiagoCodecov/example-python","description":"Python
      coverage example","fork":true,"url":"https://api.github.com/repos/ThiagoCodecov/example-python","forks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/forks","keys_url":"https://api.github.com/repos/ThiagoCodecov/example-python/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ThiagoCodecov/example-python/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ThiagoCodecov/example-python/teams","hooks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks","issue_events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/events{/number}","events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/events","assignees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/assignees{/user}","branches_url":"https://api.github.com/repos/ThiagoCodecov/example-python/branches{/branch}","tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/tags","blobs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/refs{/sha}","trees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/{sha}","languages_url":"https://api.github.com/repos/ThiagoCodecov/example-python/languages","stargazers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/stargazers","contributors_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contributors","subscribers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscribers","subscription_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscription","commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits{/sha}","git_commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits{/sha}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/comments{/number}","issue_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/comments{/number}","contents_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/{+path}","compare_url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ThiagoCodecov/example-python/merges","archive_url":"https://api.github.com/repos/ThiagoCodecov/example-python/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ThiagoCodecov/example-python/downloads","issues_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues{/number}","pulls_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls{/number}","milestones_url":"https://api.github.com/repos/ThiagoCodecov/example-python/milestones{/number}","notifications_url":"https://api.github.com/repos/ThiagoCodecov/example-python/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ThiagoCodecov/example-python/labels{/name}","releases_url":"https://api.github.com/repos/ThiagoCodecov/example-python/releases{/id}","deployments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/deployments"},"commit_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/649eaaf2924e92dc7fd8d370ddb857033231e67a","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/649eaaf2924e92dc7fd8d370ddb857033231e67a/status"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"acd2c609a1b52d50bf51328ff3634f60"
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo, repo:status
      X-Github-Media-Type:
      - github.v3
      X-Http-Reason:
      - OK
      X-Oauth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, write:discussion
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1588270410'
    status:
      code: 200
      message: OK
    status_code: 200
    url: https://api.github.com/repos/ThiagoCodecov/example-python/commits/649eaaf2924e92dc7fd8d370ddb857033231e67a/status?page=1&per_page=100
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/issues?q=649eaaf2924e92dc7fd8d370ddb857033231e67a+repo%3AThiagoCodecov%2Fexample-python+type%3Apr+state%3Aopen
  response:
    content: '{"total_count":0,"incomplete_results":false,"items":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
      X-Http-Reason:
      - OK
      X-Oauth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, write:discussion
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1588266870'
    status:
      code: 200
      message: OK
    status_code: 200
    url: https://api.github.com/search/issues?q=649eaaf2924e92dc7fd8d370ddb857033231e67a+repo%3AThiagoCodecov%2Fexample-python+type%3Apr+state%3Aopen
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/649eaaf2924e92dc7fd8d370ddb857033231e67a/pulls
  response:
    content: '[{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/11","id":331918181,"node_id":"MDExOlB1bGxSZXF1ZXN0MzMxOTE4MTgx","html_url":"https://github.com/ThiagoCodecov/example-python/pull/11","diff_url":"https://github.com/ThiagoCodecov/example-python/pull/11.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/pull/11.patch","issue_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/11","number":11,"state":"closed","locked":false,"title":"Adding
      requirements","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"body":"","created_at":"2019-10-24T08:23:32Z","updated_at":"2019-12-09T12:13:28Z","closed_at":"2019-12-06T15:46:04Z","merged_at":"2019-12-06T15:46:04Z","merge_commit_sha":"5936002ddf11f01a9fc1641a5bbb620691443239","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/11/commits","review_comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/11/comments","review_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/comments{/number}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/11/comments","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/10063a8d1d721d8d6c1b731f5273754a3675962d","head":{"label":"ThiagoCodecov:test-branch-1","ref":"test-branch-1","sha":"10063a8d1d721d8d6c1b731f5273754a3675962d","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"repo":{"id":156617777,"node_id":"MDEwOlJlcG9zaXRvcnkxNTY2MTc3Nzc=","name":"example-python","full_name":"ThiagoCodecov/example-python","private":false,"owner":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https:[...]
