interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/cd2336eec5d0108ce964b6cfba876863498c44a5/statuses?page=1&per_page=100
  response:
    body: {string: '[]'}
    headers:
    - !!python/tuple
      - Date
      - ['Mon, 30 Dec 2019 11:30:21 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
      - Content-Length
      - ['2']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Server
      - [GitHub.com]
    - !!python/tuple
      - Status
      - [200 OK]
    - !!python/tuple
      - X-Ratelimit-Limit
      - ['5000']
    - !!pytho[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/issues?q=cd2336eec5d0108ce964b6cfba876863498c44a5+repo%3AThiagoCodecov%2Fexample-python+type%3Apr+state%3Aopen
  response:
    body: {string: '{"total_count":0,"incomplete_results":false,"items":[]}'}
    headers:
    - !!python/tuple
      - Date
      - ['Mon, 30 Dec 2019 11:30:21 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
      - Transfer-Encoding
      - [chunked]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Server
      - [GitHub.com]
    - !!python/tuple
      - Status
      - [200 OK]
    - !!python/tuple
      - X-Ratelimit-Limit
      - ['30']
    - !!python/tuple
      -[...]
[...]
- request:
    body: '{"state": "success", "target_url": "https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/commit/cd2336eec5d0108ce964b6cfba876863498c44a5",
      "context": "codecov/project", "description": "85.00000% (+0.00%) compared to
      598a170"}'
    headers:
    method: POST
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/statuses/cd2336eec5d0108ce964b6cfba876863498c44a5
  response:
    body: {string: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/cd2336eec5d0108ce964b6cfba876863498c44a5","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","id":8459148187,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ4NDU5MTQ4MTg3","state":"success","description":"85.00000%
        (+0.00%) compared to 598a170","target_url":"https://myexamplewebsite.io/gh/ThiagoCodecov/example-python/commit/cd2336eec5d0108ce964b6cfba876863498c44a5","context":"codecov/project","created_at":"2019-12-30T11:30:21Z","updated_at":"2019-12-30T11:30:21Z","creator":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false}}'}
    headers:
    - !!python/tuple
      - Date
      - ['Mon, 30 Dec 2019 11:30:22 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
      - Content-Length
      - ['1526']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Server
      - [GitHub.com]
    - !!python/tuple
      - Status
      - [201 Created]
    - !!python/tuple
      - X-Ratelimit-Limit
      - ['5000']
    - !!python/tuple
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/compare/598a170616a6c61898bb673e7b314c5dadb81d1e...cd2336eec5d0108ce964b6cfba876863498c44a5
  response:
    body: {string: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/598a170616a6c61898bb673e7b314c5dadb81d1e...cd2336eec5d0108ce964b6cfba876863498c44a5","html_url":"https://github.com/ThiagoCodecov/example-python/compare/598a170616a6c61898bb673e7b314c5dadb81d1e...cd2336eec5d0108ce964b6cfba876863498c44a5","permalink_url":"https://github.com/ThiagoCodecov/example-python/compare/ThiagoCodecov:598a170...ThiagoCodecov:cd2336e","diff_url":"https://github.com/ThiagoCodecov/example-python/compare/598a170616a6c61898bb673e7b314c5dadb81d1e...cd2336eec5d0108ce964b6cfba876863498c44a5.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/compare/598a170616a6c61898bb673e7b314c5dadb81d1e...cd2336eec5d0108ce964b6cfba876863498c44a5.patch","base_commit":{"sha":"598a170616a6c61898bb673e7b314c5dadb81d1e","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjU5OGExNzA2MTZhNmM2MTg5OGJiNjczZTdiMzE0YzVkYWRiODFkMWU=","commit":{"author":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2019-12-30T11:29:36Z"},"committer":{"name":"Thiago
        Ramos","email":"thiago@codecov.io","date":"2019-12-30T11:29:36Z"},"message":"094A8584-F366-47E6-8E86-4098F6450D8F","tree":{"sha":"208a8b53d610cdfd0cfe0c84c3afa45dccab83a8","url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees/208a8b53d610cdfd0cfe0c84c3afa45dccab83a8"},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits/598a170616a6c61898bb673e7b314c5dadb81d1e","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/598a170616a6c61898bb673e7b314c5dadb81d1e","html_url":"https://github.com/ThiagoCodecov/example-python/commit/598a170616a6c61898bb673e7b314c5dadb81d1e","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/598a170616a6c61898bb673e7b314c5dadb81d1e/comments","author":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/T[...]
[...]
