interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/joseph-sentry/codecov-demo/commits/5601846871b8142ab0df1e0b8774756c658bcc7d/status?page=1&per_page=100
  response:
    content: '{"state":"failure","statuses":[{"url":"https://api.github.com/repos/joseph-sentry/codecov-demo/statuses/5601846871b8142ab0df1e0b8774756c658bcc7d","avatar_url":"https://avatars.githubusercontent.com/u/136376984?v=4","id":24842855406,"node_id":"SC_kwDOJu7MkM8AAAAFyL_j7g","state":"success","description":"No
      unexpected coverage changes found","target_url":"https://myexamplewebsite.io/gh/joseph-sentry/codecov-demo/pull/9","context":"codecov/changes","created_at":"2023-08-30T16:03:04Z","updated_at":"2024-10-03T16:41:59Z"},{"url":"https://api.github.com/repos/joseph-sentry/codecov-demo/statuses/5601846871b8142ab0df1e0b8774756c658bcc7d","avatar_url":"https://avatars.githubusercontent.com/u/136376984?v=4","id":24926969286,"node_id":"SC_kwDOJu7MkM8AAAAFzcNdxg","state":"success","description":"Coverage
      not affected","target_url":"https://app.codecov.io/gh/joseph-sentry/codecov-demo/commit/5601846871b8142ab0df1e0b8774756c658bcc7d","context":"codecov/patch","created_at":"2023-09-05T16:24:56Z","updated_at":"2024-10-09T17:00:29Z"},{"url":"https://api.github.com/repos/joseph-sentry/codecov-demo/statuses/5601846871b8142ab0df1e0b8774756c658bcc7d","avatar_url":"https://avatars.githubusercontent.com/u/136376984?v=4","id":25155261742,"node_id":"SC_kwDOJu7MkM8AAAAF217VLg","state":"failure","description":"97.77%
      (target 100.00%)","target_url":"https://app.codecov.io/gh/joseph-sentry/codecov-demo/commit/5601846871b8142ab0df1e0b8774756c658bcc7d","context":"codecov/project","created_at":"2023-09-19T14:33:53Z","updated_at":"2023-09-19T14:33:53Z"}],"sha":"5601846871b8142ab0df1e0b8774756c658bcc7d","total_count":3,"repository":{"id":653184144,"node_id":"R_kgDOJu7MkA","name":"codecov-demo","full_name":"joseph-sentry/codecov-demo","private":false,"owner":{"login":"joseph-sentry","id":136376984,"node_id":"U_kgDOCCDymA","avatar_url":"https://avatars.githubusercontent.com/u/136376984?v=4","gravatar_id":"","url":"https://api.github.com/users/joseph-sentry","html_url":"https://github.com/joseph-sentry","followers_url":"https://api.github.com/users/joseph-sentry/followers","following_url":"https://api.github.com/users/joseph-sentry/following{/other_user}","gists_url":"https://api.github.com/users/joseph-sentry/gists{/gist_id}","starred_url":"https://api.github.com/users/joseph-sentry/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joseph-sentry/subscriptions","organizations_url":"https://api.github.com/users/joseph-sentry/orgs","repos_url":"https://api.github.com/users/joseph-sentry/repos","events_url":"https://api.github.com/users/joseph-sentry/events{/privacy}","received_events_url":"https://api.github.com/users/joseph-sentry/received_events","type":"User","site_admin":false},"html_url":"https://github.com/joseph-sentry/codecov-demo","description":null,"fork":true,"url":"https://api.github.com/repos/joseph-sentry/codecov-demo","forks_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/forks","keys_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/teams","hooks_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/hooks","issue_events_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/issues/events{/number}","events_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/events","assignees_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/assignees{/user}","branches_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/branches{/branch}","tags_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/tags","blobs_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/git/refs{/sha}","trees_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/statuses/{sha}","languages_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/languages","stargazers_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/stargazers","contributors_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/contributors","subscribers_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/subscribers","subscription_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/subscription","commits_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/commits{/sha}","git_commits_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/git/commits{/sha}","comments_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/comments{/number}","issue_comment_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/issues/comments{/number}","contents_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/contents/{+path}","compare_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/merges","archive_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/downloads","issues_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/issues{/number}","pulls_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/pulls{/number}","milestones_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/milestones{/number}","notifications_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/labels{/name}","releases_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/releases{/id}","deployments_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/deployments"},"commit_url":"https://api.github.com/repos/joseph-sentry/codecov-demo/commits/5601846871b8142ab0df1e0b8774756c658bcc7d","url":"https://api.github.com/repos/joseph-sentry/codecov-demo/commits/5601846871b8142ab0df1e0b8774756c658bcc7d/status"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"bec327cedf81caa797dda7f9d6f2c2b41c26ab787e31affc1c7597cfa863636b"
      X-Accepted-OAuth-Scopes:
      - repo, repo:status
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4995'
      X-RateLimit-Reset:
      - '1728551192'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '5'
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: '{"query": "query GetPullRequest($owner: String!, $repo: String!, $pr_number:
      Int!) {\n    repository(owner: $owner, name: $repo) {\n        pullRequest(number:
      $pr_number) {\n            number\n            title\n            author {\n                login\n                ...
      on User {\n                    databaseId\n                }\n                ...
      on Bot {\n                    databaseId\n                }\n            }\n            labels(first:
      100) {\n                nodes {\n                    name\n                }\n            }\n            state\n            mergeCommit
      {\n                oid\n            }\n            baseRefOid\n            baseRefName\n            baseRepository
      {\n                name\n                owner {\n                    login\n                }\n            }\n            headRefOid\n            headRefName\n            headRepository
      {\n                name\n                owner {\n                    login\n                }\n            }\n        }\n    }\n}\n",
      "variables": {"owner": "joseph-sentry", "repo": "codecov-demo", "pr_number":
      9}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    content: '{"data":{"repository":{"pullRequest":{"number":9,"title":"make change","author":{"login":"joseph-sentry","databaseId":136376984},"labels":{"nodes":[]},"state":"CLOSED","mergeCommit":null,"baseRefOid":"38c2d0214f2a48c9212a140f5311977059a15b35","baseRefName":"main","baseRepository":{"name":"codecov-demo","owner":{"login":"joseph-sentry"}},"headRefOid":"5601846871b8142ab0df1e0b8774756c658bcc7d","headRefName":"test","headRepository":{"name":"codecov-demo","owner":{"login":"joseph-sentry"}}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v4
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4998'
      X-RateLimit-Reset:
      - '1728551192'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '2'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/joseph-sentry/codecov-demo/pulls/9/commits?per_page=100&page=1
  response:
    content: '[{"sha":"5601846871b8142ab0df1e0b8774756c658bcc7d","node_id":"C_kwDOJu7MkNoAKDU2MDE4NDY4NzFiODE0MmFiMGRmMWUwYjg3NzQ3NTZjNjU4YmNjN2Q","commit":{"author":{"name":"joseph-sentry","email":"joseph.sawaya@sentry.io","date":"2023-08-14T15:16:17Z"},"committer":{"name":"joseph-sentry","email":"joseph.sawaya@sentry.io","date":"2023-08-14T15:23:50Z"},"message":"make
      change","tree":{"sha":"3ca6632aeb641e579bea4391294d9ebe55c062c7","url":"https://api.github.com/repos/joseph-sentry/codecov-demo/git/trees/3ca6632aeb641e579bea4391294d9ebe55c062c7"},"url":"https://api.github.com/repos/joseph-sentry/codecov-demo/git/commits/5601846871b8142ab0df1e0b8774756c658bcc7d","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
      SSH SIGNATURE-----\nU1NIU0lHAAAAAQAAADMAAAALc3NoLWVkMjU1MTkAAAAgZAgzn4ZBqwutNsBP2EqViyU9PP\n/bJINxsDu+12+Wr9EAAAADZ2l0AAAAAAAAAAZzaGE1MTIAAABTAAAAC3NzaC1lZDI1NTE5\nAAAAQAmeUxSTgmd3FlcaYtRmVpuCh0n6L0/2Oy7wnsoGF6zjLoBO+aDz22vOG+bywNp4bc\nlmOl+Tu5Jk9woOhH2Olg8=\n-----END
      SSH SIGNATURE-----","payload":"tree 3ca6632aeb641e579bea4391294d9ebe55c062c7\nparent
      5b174c2b40d501a70c479e91025d5109b1ad5c1b\nauthor joseph-sentry <joseph.sawaya@sentry.io>
      1692026177 -0400\ncommitter joseph-sentry <joseph.sawaya@sentry.io> 1692026630
      -0400\n\nmake change\n"}},"url":"https://api.github.com/repos/joseph-sentry/codecov-demo/commits/5601846871b8142ab0df1e0b8774756c658bcc7d","html_url":"https://github.com/joseph-sentry/codecov-demo/commit/5601846871b8142ab0df1e0b8774756c658bcc7d","comments_url[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/joseph-sentry/codecov-demo/compare/5b174c2b40d501a70c479e91025d5109b1ad5c1b...5601846871b8142ab0df1e0b8774756c658bcc7d
  response:
    content: '{"url":"https://api.github.com/repos/joseph-sentry/codecov-demo/compare/5b174c2b40d501a70c479e91025d5109b1ad5c1b...5601846871b8142ab0df1e0b8774756c658bcc7d","html_url":"https://github.com/joseph-sentry/codecov-demo/compare/5b174c2b40d501a70c479e91025d5109b1ad5c1b...5601846871b8142ab0df1e0b8774756c658bcc7d","permalink_url":"https://github.com/joseph-sentry/codecov-demo/compare/joseph-sentry:5b174c2...joseph-sentry:5601846","diff_url":"https://github.com/joseph-sentry/codecov-demo/compare/5b174c2b40d501a70c479e91025d5109b1ad5c1b...5601846871b8142ab0df1e0b8774756c658bcc7d.diff","patch_url":"https://github.com/joseph-sentry/codecov-demo/compare/5b174c2b40d501a70c479e91025d5109b1ad5c1b...5601846871b8142ab0df1e0b8774756c658bcc7d.patch","base_commit":{"sha":"5b174c2b40d501a70c479e91025d5109b1ad5c1b","node_id":"C_kwDOJu7MkNoAKDViMTc0YzJiNDBkNTAxYTcwYzQ3OWU5MTAyNWQ1MTA5YjFhZDVjMWI","commit":{"author":{"name":"joseph-sentry","email":"joseph.sawaya@sentry.io","date":"2023-08-14T15:19:08Z"},"committer":{"name":"joseph-sentry","email":"joseph.sawaya@sentry.io","date":"2023-08-14T15:19:08Z"},"message":"make
      change on main","tree":{"sha":"a9d6c66e50012a6d42f3f4c4e6d6de845230e73b","url":"https://api.github.com/repos/joseph-sentry/codecov-demo/g[...]
- request:
    body: '{"repo": {"url": "https://myexamplewebsite.io/gh/joseph-sentry/codecov-demo",
      "service_id": "id_0", "name": "codecov-demo", "private": true}, "head": {"author":
      {"username": "joseph-sentry", "service_id": "136376984", "email": "joseph.sawaya@sentry.io",
      "service": "github", "name": "Mackenzie Gibson"}, "url": "https://myexamplewebsite.io/gh/joseph-sentry/codecov-demo/commit/5601846871b8142ab0df1e0b8774756c658bcc7d",
      "timestamp": "2019-02-01T17:59:47", "totals": {"files": 3, "lines": 20, "hits":
      17, "misses": 3, "partials": 0, "coverage": "85.00000", "branches": 0, "methods":
      0, "messages": 0, "sessions": 1, "complexity": 0, "complexity_total": 0, "diff":
      [1, 2, 1, 1, 0, "50.00000", 0, 0, 0, 0, 0, 0, 0]}, "commitid": "5601846871b8142ab0df1e0b8774756c658bcc7d",
      "service_url": "https://github.com/joseph-sentry/codecov-demo/commit/5601846871b8142ab0df1e0b8774756c658bcc7d",
      "branch": "test", "message": ""}, "base": {"author": {"username": "joseph-sentry",
      "service_id": "136376984", "email": "joseph.sawaya@sentry.io", "service": "github",
      "name": "Mackenzie Gibson"}, "url": "https://myexamplewebsite.io/gh/joseph-sentry/codecov-demo/commit/5b174c2b40d501a70c479e91025d5109b1ad5c1b",
      "timestamp": "2019-02-01T17:59:47", "totals": {"files": 3, "lines": 20, "hits":
      17, "misses": 3, "partials": 0, "coverage": "85.00000", "branches": 0, "methods":
      0, "messages": 0, "sessions": 1, "complexity": 0, "complexity_total": 0, "diff":
      [1, 2, 1, 1, 0, "50.00000", 0, 0, 0, 0, 0, 0, 0]}, "commitid": "5b174c2b40d501a70c479e91025d5109b1ad5c1b",
      "service_url": "https://github.com/joseph-sentry/codecov-demo/commit/5b174c2b40d501a70c479e91025d5109b1ad5c1b",
      "branch": "main", "message": ""}, "compare": {"url": "https://myexamplewebsite.io/gh/joseph-sentry/codecov-demo/pull/9",
      "message": "no change", "coverage": "0.00", "notation": ""}, "owner": {"username":
      "joseph-sentry", "service_id": "136376984", "service": "github"}, "pull": {"head":
      {"commit": "5601846871b8142ab0df1e0b8774756c658bcc7d", "branch": "master"},
      "number": "9", "base": {"commit": "5b174c2b40d501a70c479e91025d5109b1ad5c1b",
      "branch": "master"}, "open": false, "id": 9, "merged": false}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://6da6786648c8a8e5b8b09bc6562af8b4.m.pipedream.net
  response:
    content: "{\n  \"success\": true,\n  \"info\": \"To customize this response, check
      out our docs at https://pipedream.com/docs/workflows/steps/triggers/#customizing-the-http-response\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      ETag:
      - W/"a8-1927271d238"
    status_code: 200
- request:
    body: '{"text": "Coverage for <https://myexamplewebsite.io/gh/joseph-sentry/codecov-demo/commit/5601846871b8142ab0df1e0b8774756c658bcc7d|joseph-sentry/codecov-demo>
      *no change* `<https://myexamplewebsite.io/gh/joseph-sentry/codecov-demo/pull/9|0.00%>`
      on `test` is `85.00000%` via `<https://myexamplewebsite.io/gh/joseph-sentry/codecov-demo/commit/5601846871b8142ab0df1e0b8774756c658bcc7d|5601846>`",
      "author_name": "Codecov", "author_link": "https://myexamplewebsite.io/gh/joseph-sentry/codecov-demo/commit/5601846871b8142ab0df1e0b8774756c658bcc7d",
      "attachments": []}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://hooks.slack.com/services/testkylhk/test01hg7/testohfnij1e83uy4xt8sxml
  response:
    content: no_team
    headers:
      content-type:
      - text/html
      x-backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      x-edge-backend:
      - envoy-www
      x-server:
      - slack-www-hhvm-main-iad-nvia
      x-slack-backend:
      - r
      x-slack-edge-shared-secret-outcome:
      - no-match
      x-slack-shared-secret-outcome:
      - no-match
      x-slack-unique-id:
      - ZweLvJle1E4pRYeuTKqb2gAAEAU
    status_code: 404
[...]
- request:
    body: '{"state": "success", "target_url": "https://myexamplewebsite.io/gh/joseph-sentry/codecov-demo/pull/9",
      "context": "codecov/project", "description": "85.00% (+0.00%) compared to 5b174c2"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/joseph-sentry/codecov-demo/statuses/5601846871b8142ab0df1e0b8774756c658bcc7d
  response:
    content: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/commits/statuses#create-a-commit-status","status":"404"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4991'
      X-RateLimit-Reset:
      - '1728551192'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '9'
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 404
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/joseph-sentry/codecov-demo/branches/main
  response:
    content: '{"name":"main","commit":{"sha":"862334aa097a14b2537fe2f25fedbe833a5bf41e","node_id":"C_kwDOJu7MkNoAKDg2MjMzNGFhMDk3YTE0YjI1MzdmZTJmMjVmZWRiZTgzM2E1YmY0MWU","commit":{"author":{"name":"joseph-sentry","email":"136376984+joseph-sentry@users.noreply.github.com","date":"2024-07-04T16:13:43Z"},"committer":{"name":"GitHub","email":"noreply@github.[...]
[...]
- request:
    body: '{"body": "## [Codecov](https://myexamplewebsite.io/gh/joseph-sentry/codecov-demo/pull/9?dropdown=coverage&src=pr&el=h1)
      Report\nAll modified and coverable lines are covered by tests :white_check_mark:\n>
      Project coverage is 85.00%. Comparing base [(`5b174c2`)](https://myexamplewebsite.io/gh/joseph-sentry/codecov-demo/commit/5b174c2b40d501a70c479e91025d5109b1ad5c1b?dropdown=coverage&el=desc)
      to head [(`5601846`)](https://myexamplewebsite.io/gh/joseph-sentry[...]
