interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/649eaaf2924e92dc7fd8d370ddb857033231e67a/statuses?page=1&per_page=100
  response:
    body: {string: '[{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/649eaaf2924e92dc7fd8d370ddb857033231e67a","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","id":8296741626,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ4Mjk2NzQxNjI2","state":"success","description":"85.00000%
        (+0.00%) compared to 17a71a9","target_url":"https://codecov.io/gh/ThiagoCodecov/example-python/compare/17a71a9a2f5335ed4d00496c7bbc6405f547a527...649eaaf2924e92dc7fd8d370ddb857033231e67a","context":"codecov/project","created_at":"2019-12-05T13:44:00Z","updated_at":"2019-12-05T13:44:00Z","creator":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false}},{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/649eaaf2924e92dc7fd8d370ddb857033231e67a","avatar_url":"https://avatars1.githubusercontent.com/oa/166618?v=4","id":8231102724,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ4MjMxMTAyNzI0","state":"success","description":"Coverage
        not affected when comparing 17a71a9...649eaaf","target_url":"http://localhost/gh/ThiagoCodecov/example-python/compare/17a71a9a2f5335ed4d00496c7bbc6405f547a527...649eaaf2924e92dc7fd8d370ddb8570[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/issues?q=649eaaf2924e92dc7fd8d370ddb857033231e67a+repo%3AThiagoCodecov%2Fexample-python+type%3Apr+state%3Aopen
  response:
    body: {string: '{"total_count":0,"incomplete_results":false,"items":[]}'}
    headers:
    - !!python/tuple
      - Date
      - ['Sun, 15 Dec 2019 23:31:58 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
      - Transfer-Encoding
      - [chunked]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Server
      - [GitHub.com]
    - !!python/tuple
      - Status
      - [200 OK]
    - !!python/tuple
      - X-Ratelimit-Limit
      - ['30']
    - !!python/tuple
      -[...]
[...]
