interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/649eaaf2924e92dc7fd8d370ddb857033231e67a/status?page=1&per_page=100
  response:
    content: '{"state":"pending","statuses":[],"sha":"649eaaf2924e92dc7fd8d370ddb857033231e67a","total_count":0,"repository":{"id":156617777,"node_id":"MDEwOlJlcG9zaXRvcnkxNTY2MTc3Nzc=","name":"example-python","full_name":"ThiagoCodecov/example-python","private":false,"owner":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ThiagoCodecov/example-python","description":"Python coverage example","fork":true,"url":"https://api.github.com/repos/ThiagoCodecov/example-python","forks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/forks","keys_url":"https://api.github.com/repos/ThiagoCodecov/example-python/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ThiagoCodecov/example-python/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ThiagoCodecov/example-python/teams","hooks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks","issue_events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/events{/number}","events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/events","assignees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/assignees{/user}","branches_url":"https://api.github.com/repos/ThiagoCodecov/example-python/branches{/branch}","tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/tags","blobs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/refs{/sha}","trees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/{sha}","languages_url":"https://api.github.com/repos/ThiagoCodecov/example-python/languages","stargazers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/stargazers","contributors_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contributors","subscribers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscribers","subscription_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscription","commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits{/sha}","git_commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits{/sha}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/comments{/number}","issue_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/comments{/number}","contents_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/{+path}","compare_url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ThiagoCodecov/example-python/merges","archive_url":"https://api.github.com/repos/ThiagoCodecov/example-python/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ThiagoCodecov/example-python/downloads","issues_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues{/number}","pulls_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls{/number}","milestones_url":"https://api.github.com/repos/ThiagoCodecov/example-python/milestones{/number}","notifications_url":"https://api.github.com/repos/ThiagoCodecov/example-python/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ThiagoCodecov/example-python/labels{/name}","releases_url":"https://api.github.com/repos/ThiagoCodecov/example-python/releases{/id}","deployments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/deployments"},"commit_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/649eaaf2924e92dc7fd8d370ddb857033231e67a","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/649eaaf2924e92dc7fd8d370ddb857033231e67a/status"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '50'
      X-RateLimit-Reset:
      - '1725372143'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '10'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/649eaaf2924e92dc7fd8d370ddb857033231e67a/pulls
  response:
    content: '[{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/11","id":331918181,"node_id":"MDExOlB1bGxSZXF1ZXN0MzMxOTE4MTgx","html_url":"https://github.com/ThiagoCodecov/example-python/pull/11","diff_url":"https://github.com/ThiagoCodecov/example-python/pull/11.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/pull/11.patch","issue_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/11","number":11,"state":"closed","locked":true,"title":"Adding requirements","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"body":"","created_at":"2019-10-24T08:23:32Z","updated_at":"2019-12-09T12:13:28Z","closed_at":"2019-12-06T15:46:04Z","merged_at":"2019-12-06T15:46:04Z","merge_commit_sha":"5936002ddf11f01a9fc1641a5bbb620691443239","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/11/commits","review_comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/11/comments","review_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls/comments{/number}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/11/comments","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/10063a8d1d721d8d6c1b731f5273754a3675962d","head":{"label":"ThiagoCodecov:test-branch-1","ref":"test-branch-1","sha":"10063a8d1d721d8d6c1b731f5273754a3675962d","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"repo":{"id":156617777,"node_id":"MDEwOlJlcG9zaXRvcnkxNTY2MTc3Nzc=","name":"example-python","full_name":"ThiagoCodecov/example-python","private":false,"owner":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https:[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/compare/17a71a9a2f5335ed4d00496c7bbc6405f547a527...649eaaf2924e92dc7fd8d370ddb857033231e67a
  response:
    content: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/17a71a9a2f5335ed4d00496c7bbc6405f547a527...649eaaf2924e92dc7fd8d370ddb857033231e67a","html_url":"https://github.com/ThiagoCodecov/example-python/compare/17a71a9a2f5335ed4d00496c7bbc6405f547a527...649eaaf2924e92dc7fd8d370ddb857033231e67a","permalink_url":"https://github.com/ThiagoCodecov/example-python/compare/ThiagoCodecov:17a71a9...ThiagoCodecov:649eaaf","diff_url":"https://github.com/ThiagoCodecov/example-python/compare/17a71a9a2f5335ed4d00496c7bbc6405f547a527...649eaaf2924e92dc7fd8d370ddb857033231e67a.diff","patch_url":"https://github.com/ThiagoCodecov/example-python/compare/17a71a9a2f5335ed4d00496c7bbc6405f547a527...649eaaf2924e92dc7fd8d370ddb857033231e67a.patch","base_commit":{"sha":"17a71a9a2f5335ed4d00496c7bbc6405f547a527","node_id":"MDY6Q29tbWl0MTU2NjE3Nzc3OjE3YTcxYTlhMmY1MzM1ZWQ0ZDAwNDk2YzdiYmM2NDA1ZjU0N2E1Mjc=","commit":{"author":{"name":"Thiago Ramos","email":"thiago@codecov.io","date":"2019-10-05T18:21:13Z"},"committer":{"name":"Thiago Ramos","email":"thiago@codecov.io","date":"2019-10-05T18:21:13Z"},"message":"Adding file 20191005-4f786e3e-a901-4816-890a-295fa4aca6f7","tree":{"sha":"c78a6415857cd33367f26e78c4be1fcf3ca4d05f","url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees/c78a6415857cd33367f26e78c4be1fcf3ca4d05f"},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits/17a71a9a2f5335ed4d00496c7bbc6405f547a527","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/17a71a9a2f5335ed4d00496c7bbc6405f547a527","html_url":"https://github.com/ThiagoCodecov/example-python/commit/17a71a9a2f5335ed4d00496c7bbc6405f547a527","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/17a71a9a2f5335ed4d00496c7bbc6405f547a527/comments","author":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars.githubusercontent.com/u/4[...]
[...]
- request:
    body: ''
    headers:
    method: POST
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/statuses/649eaaf2924e92dc7fd8d370ddb857033231e67a
  response:
    content: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/649eaaf2924e92dc7fd8d370ddb857033231e67a","avatar_url":"https://github.com/images/error/hubot_happy.gif","id":1,"node_id":"MDY6U3RhdHVzMQ==","state":"success","description":"Build has completed successfully","target_url":"https://ci.example.com/1000/output","context":"continuous-integration/jenkins","created_at":"2012-07-20T01:19:13Z","updated_at":"2012-07-20T01:19:13Z","creator":{"login":"octocat","id":1,"node_id":"MDQ6VXNlcjE=","avatar_url":"https://github.com/images/error/octocat_happy.gif","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following{/other_user}","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","site_admin":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '50'
      X-RateLimit-Reset:
      - '1725372143'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '10'
    status_code: 201
version: 1