version: 2.1
executors:
  codecov-deploy:
    docker:
      - image: gcr.io/test6u3411ty6xqh462sri/codecov-deploy:latest
        user: root
        auth:
          username: _json_key
          password: $GCLOUD_SERVICE_KEY
    working_directory: /work
  codecov-worker:
    docker:
      - image: gcr.io/test6u3411ty6xqh462sri/codecov-worker:latest
        user: root
        auth:
          username: _json_key
          password: $GCLOUD_SERVICE_KEY
      - image: circleci/postgres:9.6.2
        name: postgres
    working_directory: /worker

gcloud_auth: &gcloud_auth
  name: Copy gcloud auth for docker push
  command: |-
    echo "$GCLOUD_SERVICE_KEY" > service.json
    gcloud auth activate-service-account --key-file=service.json
    gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
    gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
    gcloud auth configure-docker

gcloud_auth_enterprise: &gcloud_auth_enterprise
  name: Copy gcloud auth for docker push
  command: |-
    echo "$GCLOUD_SERVICE_KEY" > service.json
    gcloud auth activate-service-account --key-file=service.json
    gcloud --quiet config set project ${GOOGLE_ENTERPRISE_PROJECT_ID}
    gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
    gcloud auth configure-docker

jobs:
  linter:
    docker:
      - image: circleci/python:3.7.6
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Running linter
          command: |
            echo "Installing..."
            pip3 install -Iv black==19.10b0 isort
            echo "Linting..."
            black --check .
            echo "Sorting..."
            isort --profile black --check .
  build:
    executor: codecov-deploy
    steps:
      - checkout
      - setup_remote_docker
      - run:
          <<: *gcloud_auth
      - run:
          name: build container
          command: |-
            make -f Makefile.circle build-requirements GH_ACCESS_TOKEN=$GH_ACCESS_TOKEN
            make -f Makefile.circle build VERSION=$CIRCLE_TAG
            make -f Makefile.circle push
  standards-coverage-comparison:
    machine: true
    steps:
      - checkout
      - run:
          name: Pull Latest Worker Image
          command: |
            docker login -u _json_key -p "$GCLOUD_SERVICE_KEY" https://gcr.io/test6u3411ty6xqh462sri/codecov-deploy:latest
            make -f Makefile.circle pull-latest
      - run:
          name: Clone Autotest and Start Acceptance Testing Containers
          command: |
            cd ..
            git clone --depth 5 ssh://git@github.com/codecov/autotest.git
            cd autotest/
            echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKER_USERNAME" --password-stdin
            docker-compose -f docker-compose-acceptance.yml up -d > /dev/null 2>&1
            sleep 10
      - run:
          name: Standards Coverage Comparison
          command: make -f Makefile.circle run-standards-comparison
  build-enterprise:
    executor: codecov-deploy
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.6
      - run: |
          ssh remote-docker \<<EOF
            sudo bash -c 'echo "{\"experimental\": true}" > /etc/docker/daemon.json'
            sudo systemctl restart docker
          EOF
      - run:
          <<: *gcloud_auth_enterprise
      - run:
          name: build container
          command: |-
            make -f Makefile.circle build-requirements
            make -f Makefile.circle build-enterprise VERSION=$CIRCLE_TAG
            make -f Makefile.circle push-enterprise
  test:
    environment:
      SONARSCANNER_VERSION: "4.3.0.2102"
    executor: codecov-worker
    steps:
      - run:
          name: verify postgres is up
          command: |
            while ! nc -vz postgres 5432; do sleep 1; echo "waiting for postgres"; done
      - run:
          name: run tests
          command: |
            make test.unit
            make test.integration

      - run:
          name: codecov
          command: |
            wget https://github.com/codecov/uploader/releases/download/v0.1.0_8470/codecov-alpine
            chmod +x ./codecov-alpine
            ./codecov-alpine -R . -F integration -f integration.coverage.xml -Z
            ./codecov-alpine -R . -F unit -f unit.coverage.xml -Z

  staging:
    executor: codecov-deploy
    steps:
      - checkout
      - setup_remote_docker
      - run:
          <<: *gcloud_auth
      - run:
          name: docker build, tag, and upload to staging
          command: |
            make -f Makefile.circle staging

  production:
    executor: codecov-deploy
    steps:
      - checkout
      - setup_remote_docker
      - run:
          <<: *gcloud_auth
      - run:
          name: docker build, tag, and upload to production
          command: |
            make -f Makefile.circle production
  enterprise:
    executor: codecov-deploy
    steps:
      - checkout
      - setup_remote_docker
      - run:
          <<: *gcloud_auth_enterprise
      - run: echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - run:
          name: docker build, tag, and upload to enterprise qa
          command: |
            make -B -f Makefile.circle enterprise
  enterprise-release:
    executor: codecov-deploy
    steps:
      - checkout
      - setup_remote_docker
      - run:
          <<: *gcloud_auth_enterprise
      - run: echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - run:
          name: Release Enterprise to Dockerhub
          command: |
            make -B -f Makefile.circle release-enterprise
  deploy:
    executor: codecov-deploy
    steps:
      - checkout
      - setup_remote_docker
      - run:
          <<: *gcloud_auth
      - run:
          name: tag for k8s
          command: |-
            make -f Makefile.circle tag
  dockerhub:
    executor: codecov-deploy
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Pull Latest Worker Image and Deploy to DockerHub
          command: |
            docker login -u _json_key -p "$GCLOUD_SERVICE_KEY" https://gcr.io/test6u3411ty6xqh462sri/codecov-deploy:latest
            make -f Makefile.circle pull-latest
            echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKER_USERNAME" --password-stdin
            make -f Makefile.circle dockerhub-deploy-master

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - linter
      - build:
          context: "circleci google deploy context"
          filters:
            tags:
              only: /.*/
      - build-enterprise:
          context: "circleci google deploy context"
          requires:
            - build
          filters:
            branches:
              only:
                - master
            tags:
              only:
                - /enterprise-.*/
                - /qa-.*/
      - test:
          context: "circleci google deploy context"
          requires:
            - build
          filters:
            tags:
              only: /.*/
      - standards-coverage-comparison:
          context:
            - "DockerHub Push Context"
            - "circleci google deploy context"
          requires:
            - build
      - staging:
          context: "circleci google deploy context"
          requires:
            - build
            - test
          filters:
            branches:
              only: master
      - production:
          context: "circleci google deploy context"
          requires:
            - build
            - test
          filters:
            tags:
              only: "/^prod(uction)?-[0-9]{4}-[0-9]{2}-[0-9]{3,4}/"
            branches:
              only: production
      - enterprise:
          context:
            - "DockerHub Push Context"
            - "circleci google deploy context"
          requires:
            - build-enterprise
            - test
          filters:
            tags:
              only:
                - /^qa-.*/
                - /^enterprise-.*/
            branches:
              only: master
      - hold:
          type: approval
          requires:
            - enterprise
          filters:
            tags:
              only:
                - /^enterprise-.*/
            branches:
              ignore: /.*/
      - enterprise-release:
          context:
            - "DockerHub Push Context"
            - "circleci google deploy context"
          requires:
            - enterprise
            - hold
          filters:
            tags:
              only: /^enterprise-.*/
            branches:
              ignore: /.*/
      - deploy:
          context: "circleci google deploy context"
          requires:
            - build
            - test
          filters:
            branches:
              only: production
      - dockerhub:
          context:
            - "DockerHub Push Context"
            - "circleci google deploy context"
          requires:
            - build
            - test
            - standards-coverage-comparison
          filters:
            branches:
              only: master
