interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/contents?ref=e3b6c976efe88b2a3781dc8157485e46bf2ac7ab
  response:
    content: '[{"name":".gitignore","path":".gitignore","sha":"e9428a03c7fc4ce77bba5997760efb3bb6ec42ee","size":1765,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.gitignore?ref=e3b6c976efe88b2a3781dc8157485e46bf2ac7ab","html_url":"https://github.com/ThiagoCodecov/example-python/blob/e3b6c976efe88b2a3781dc8157485e46bf2ac7ab/.gitignore","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/e9428a03c7fc4ce77bba5997760efb3bb6ec42ee","download_url":"https://raw.githubusercontent.com/ThiagoCodecov/example-python/e3b6c976efe88b2a3781dc8157485e46bf2ac7ab/.gitignore","type":"file","_links":{"self":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.gitignore?ref=e3b6c976efe88b2a3781dc8157485e46bf2ac7ab","git":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/e9428a03c7fc4ce77bba5997760efb3bb6ec42ee","html":"https://github.com/ThiagoCodecov/example-python/blob/e3b6c976efe88b2a3781dc8157485e46bf2ac7ab/.gitignore"}},{"name":"Makefile","path":"Makefile","sha":"8feacc0b967da9f0be4d936d2e43a9d9c23ade8e","size":854,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/Makefile?ref=e3b6c976efe88b2a3781dc8157485e46bf2ac7ab","html_url":"https://github.com/ThiagoCodecov/example-python/blob/e3b6c976efe88b2a3781dc8157485e46bf2ac7ab/Makefile","git_url":"https://api.github.com/repos/ThiagoCod[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/contents/codecov.yaml?ref=e3b6c976efe88b2a3781dc8157485e46bf2ac7ab
  response:
    content: '{"name":"codecov.yaml","path":"codecov.yaml","sha":"e7bb8d289876a0b30be8fa103999f40dc3e0375e","size":354,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/codecov.yaml?ref=e3b6c976efe88b2a3781dc8157485e46bf2ac7ab","html_url":"https://github.com/ThiagoCodecov/example-python/blob/e3b6c976efe88b2a3781dc8157485e46bf2ac7ab/codecov.yaml","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/e7bb8d289876a0b30be8fa103999f40dc3e0375e","download_url":"https://raw.githubusercontent.com/ThiagoCodecov/example-python/e3b6c976efe88b2a3781dc8157485e46bf2ac7ab/codecov.yaml","type":"file","content":"Y29kZWNvdjoKICBub3RpZnk6CiAgICByZXF1aXJlX2NpX3RvX3Bhc3M6IHll\ncwoKY292ZXJhZ2U6CiAgcHJlY2lzaW9uOiAyCiAgcm91bmQ6IGRvd24KICBy\nYW5nZTogIjcwLi4uMTAwIgoKICBzdGF0dXM6CiAgICBwcm9qZWN0OiB5ZXMK\nICAgIHBhdGNoOiB5ZXMKICAgIGNoYW5nZXM6IG5vCgpwYXJzZXJzOgogIGdj\nb3Y6CiAgICBicmFuY2hfZGV0ZWN0aW9uOgogICAgICBjb25kaXRpb25hbDog\neWVzCiAgICAgIGxvb3A6IHllcwogICAgICBtZXRob2Q6IG5vCiAgICAgIG1h\nY3JvOiBubwoKY29tbWVudDoKICBsYXlvdXQ6ICJoZWFkZXIsIGRpZmYiCiAg\nYmVoYXZpb3I6IGRlZmF1bHQKICByZXF1aXJlX2NoYW5nZXM6IG5v\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/codecov.yaml?ref=e3b6c976efe88b2a3781dc8157485e46bf2ac7ab","git":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/e7bb8d289876a0b30be8fa103999f40dc3e0375e","html":"https://github.com/ThiagoCodecov/example-python/blob/e3b6c976efe88b2a3781dc8157485e46bf2ac7ab/codecov.yaml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e7bb8d289876a0b30be8fa103999f40dc3e0375e"
      Last-Modified:
      - Thu, 12 Dec 2019 00:29:55 GMT
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - ''
      X-Consumed-Content-Encoding:
      - gzip
      X-Github-Media-Type:
      - github.v3
      X-Oauth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, write:discussion
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4938'
      X-Ratelimit-Reset:
      - '1586451769'
    status:
      code: 200
      message: OK
    status_code: 200
    url: https://api.github.com/repos/ThiagoCodecov/example-python/contents/codecov.yaml?ref=e3b6c976efe88b2a3781dc8157485e46bf2ac7ab
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/e3b6c976efe88b2a3781dc8157485e46bf2ac7ab/status?page=1&per_page=100
  response:
    content: '{"state":"pending","statuses":[],"sha":"e3b6c976efe88b2a3781dc8157485e46bf2ac7ab","total_count":0,"repository":{"id":156617777,"node_id":"MDEwOlJlcG9zaXRvcnkxNTY2MTc3Nzc=","name":"example-python","full_name":"ThiagoCodecov/example-python","private":false,"owner":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ThiagoCodecov/example-python","description":"Python
      coverage example","fork":true,"url":"https://api.github.com/repos/ThiagoCodecov/example-python","forks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/forks","keys_url":"https://api.github.com/repos/ThiagoCodecov/example-python/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ThiagoCodecov/example-python/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ThiagoCodecov/example-python/teams","hooks_url":"https://api.github.com/repos/ThiagoCodecov/example-python/hooks","issue_events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/events{/number}","events_url":"https://api.github.com/repos/ThiagoCodecov/example-python/events","assignees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/assignees{/user}","branches_url":"https://api.github.com/repos/ThiagoCodecov/example-python/branches{/branch}","tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/tags","blobs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/refs{/sha}","trees_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/{sha}","languages_url":"https://api.github.com/repos/ThiagoCodecov/example-python/languages","stargazers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/stargazers","contributors_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contributors","subscribers_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscribers","subscription_url":"https://api.github.com/repos/ThiagoCodecov/example-python/subscription","commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits{/sha}","git_commits_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/commits{/sha}","comments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/comments{/number}","issue_comment_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues/comments{/number}","contents_url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/{+path}","compare_url":"https://api.github.com/repos/ThiagoCodecov/example-python/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ThiagoCodecov/example-python/merges","archive_url":"https://api.github.com/repos/ThiagoCodecov/example-python/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ThiagoCodecov/example-python/downloads","issues_url":"https://api.github.com/repos/ThiagoCodecov/example-python/issues{/number}","pulls_url":"https://api.github.com/repos/ThiagoCodecov/example-python/pulls{/number}","milestones_url":"https://api.github.com/repos/ThiagoCodecov/example-python/milestones{/number}","notifications_url":"https://api.github.com/repos/ThiagoCodecov/example-python/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ThiagoCodecov/example-python/labels{/name}","releases_url":"https://api.github.com/repos/ThiagoCodecov/example-python/releases{/id}","deployments_url":"https://api.github.com/repos/ThiagoCodecov/example-python/deployments"},"commit_url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/e3b6c976efe88b2a3781dc8157485e46bf2ac7ab","url":"https://api.github.com/repos/ThiagoCodecov/example-python/commits/e3b6c976efe88b2a3781dc8157485e46bf2ac7ab/status"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bdda6a550951f06b521ebc9838932182"
      Status:
      - 200 OK
      X-Accepted-Oauth-Scopes:
      - repo, repo:status
      X-Consumed-Content-Encoding:
      - gzip
      X-Github-Media-Type:
      - github.v3
      X-Oauth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, write:discussion
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4937'
      X-Ratelimit-Reset:
      - '1586451769'
    status:
      code: 200
      message: OK
    status_code: 200
    url: https://api.github.com/repos/ThiagoCodecov/example-python/commits/e3b6c976efe88b2a3781dc8157485e46bf2ac7ab/status?page=1&per_page=100
- request:
    body: '{"state": "pending", "target_url": "https://codecov.io/gh/ThiagoCodecov/example-python/commit/e3b6c976efe88b2a3781dc8157485e46bf2ac7ab",
      "context": "codecov/project", "description": "Collecting reports and waiting
      for CI to complete"}'
    headers:
    method: POST
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/statuses/e3b6c976efe88b2a3781dc8157485e46bf2ac7ab
  response:
    content: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/e3b6c976efe88b2a3781dc8157485e46bf2ac7ab","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","id":9333691206,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ5MzMzNjkxMjA2","state":"pending","description":"Collecting
      reports and waiting for CI to complete","target_url":"https://codecov.io/gh/ThiagoCodecov/example-python/commit/e3b6c976efe88b2a3781dc8157485e46bf2ac7ab","context":"codecov/project","created_at":"2020-04-09T16:47:43Z","updated_at":"2020-04-09T16:47:43Z","creator":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"caece04984e5de4b88a3d4366633e3b3"'
      Location:
      - https://api.github.com/repos/ThiagoCodecov/example-python/statuses/e3b6c976efe88b2a3781dc8157485e46bf2ac7ab
      Status:
      - 201 Created
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
      X-Oauth-Scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, write:discussion
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4936'
      X-Ratelimit-Reset:
      - '1586451770'
    status:
      code: 201
      message: Created
    status_code: 201
    url: https://api.github.com/repos/ThiagoCodecov/example-python/statuses/e3b6c976efe88b2a3781dc8157485e46bf2ac7ab
[...]
