interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/contents?ref=b7acacdefaed67f5fba102d7001cc17539539e63
  response:
    body: {string: '[{"name":".gitignore","path":".gitignore","sha":"e9428a03c7fc4ce77bba5997760efb3bb6ec42ee","size":1765,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.gitignore?ref=b7acacdefaed67f5fba102d7001cc17539539e63","html_url":"https://github.com/ThiagoCodecov/example-python/blob/b7acacdefaed67f5fba102d7001cc17539539e63/.gitignore","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/e9428a03c7fc4ce77bba5997760efb3bb6ec42ee","download_url":"https://raw.githubusercontent.com/ThiagoCodecov/example-python/b7acacdefaed67f5fba102d7001cc17539539e63/.gitignore","type":"file","_links":{"self":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/.gitignore?ref=b7acacdefaed67f5fba102d7001cc17539539e63","git":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/e9428a03c7fc4ce77bba5997760efb3bb6ec42ee","html":"https://github.com/ThiagoCodecov/example-python/blob/b7acacdefaed67f5fba102d7001cc17539539e63/.gitignore"}},{"name":"Makefile","path":"Makefile","sha":"8feacc0b967da9f0be4d936d2e43a9d9c23ade8e","size":854,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/Makefile?ref=b7acacdefaed67f5fba102d7001cc17539539e63","html_url":"https://github.com/ThiagoCodecov/example-python/blob/b7acacdefaed67f5fba102d7001cc17539539e63/Makefile","git_url":"https://api.github.com/repos/ThiagoCod[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/contents/codecov.yaml?ref=b7acacdefaed67f5fba102d7001cc17539539e63
  response:
    body: {string: '{"name":"codecov.yaml","path":"codecov.yaml","sha":"e7bb8d289876a0b30be8fa103999f40dc3e0375e","size":354,"url":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/codecov.yaml?ref=b7acacdefaed67f5fba102d7001cc17539539e63","html_url":"https://github.com/ThiagoCodecov/example-python/blob/b7acacdefaed67f5fba102d7001cc17539539e63/codecov.yaml","git_url":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/e7bb8d289876a0b30be8fa103999f40dc3e0375e","download_url":"https://raw.githubusercontent.com/ThiagoCodecov/example-python/b7acacdefaed67f5fba102d7001cc17539539e63/codecov.yaml","type":"file","content":"Y29kZWNvdjoKICBub3RpZnk6CiAgICByZXF1aXJlX2NpX3RvX3Bhc3M6IHll\ncwoKY292ZXJhZ2U6CiAgcHJlY2lzaW9uOiAyCiAgcm91bmQ6IGRvd24KICBy\nYW5nZTogIjcwLi4uMTAwIgoKICBzdGF0dXM6CiAgICBwcm9qZWN0OiB5ZXMK\nICAgIHBhdGNoOiB5ZXMKICAgIGNoYW5nZXM6IG5vCgpwYXJzZXJzOgogIGdj\nb3Y6CiAgICBicmFuY2hfZGV0ZWN0aW9uOgogICAgICBjb25kaXRpb25hbDog\neWVzCiAgICAgIGxvb3A6IHllcwogICAgICBtZXRob2Q6IG5vCiAgICAgIG1h\nY3JvOiBubwoKY29tbWVudDoKICBsYXlvdXQ6ICJoZWFkZXIsIGRpZmYiCiAg\nYmVoYXZpb3I6IGRlZmF1bHQKICByZXF1aXJlX2NoYW5nZXM6IG5v\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/ThiagoCodecov/example-python/contents/codecov.yaml?ref=b7acacdefaed67f5fba102d7001cc17539539e63","git":"https://api.github.com/repos/ThiagoCodecov/example-python/git/blobs/e7bb8d289876a0b30be8fa103999f40dc3e0375e","html":"https://github.com/ThiagoCodecov/example-python/blob/b7acacdefaed67f5fba102d7001cc17539539e63/codecov.yaml"}}'}
    headers:
    - !!python/tuple
      - Server
      - [GitHub.com]
    - !!python/tuple
      - Date
      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/commits/b7acacdefaed67f5fba102d7001cc17539539e63/statuses?page=1&per_page=100
  response:
    body: {string: '[]'}
    headers:
    - !!python/tuple
      - Server
      - [GitHub.com]
    - !!python/tuple
      - Date
      - ['Thu, 09 Jan 2020 20:48:11 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
      - Cont[...]
- request:
    body: '{"state": "pending", "target_url": "https://codecov.io/gh/ThiagoCodecov/example-python/commit/b7acacdefaed67f5fba102d7001cc17539539e63",
      "context": "codecov/project", "description": "Collecting reports and waiting
      for CI to complete"}'
    headers:
    method: POST
    uri: https://api.github.com/repos/ThiagoCodecov/example-python/statuses/b7acacdefaed67f5fba102d7001cc17539539e63
  response:
    body: {string: '{"url":"https://api.github.com/repos/ThiagoCodecov/example-python/statuses/b7acacdefaed67f5fba102d7001cc17539539e63","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","id":8525406979,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ4NTI1NDA2OTc5","state":"pending","description":"Collecting
        reports and waiting for CI to complete","target_url":"https://codecov.io/gh/ThiagoCodecov/example-python/commit/b7acacdefaed67f5fba102d7001cc17539539e63","context":"codecov/project","created_at":"2020-01-09T20:48:12Z","updated_at":"2020-01-09T20:48:12Z","creator":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false}}'}
    headers:
    - !!python/tuple
      - Server
      - [GitHub.com]
    - !!python/tuple
      - Date
      - ['Thu, 09 Jan 2020 20:48:12 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json; charset=utf-8]
    - !!python/tuple
      - Content-Length
      - ['1528']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Status
      - [201 Created]
    - !!python/tuple
      - X-Ratelimit-Limit
      - ['5000']
    - !!python/tuple
[...]
[...]
