interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/test-acc9/test_example/commits/a2d3e3c30547a000f026daa47610bb3f7b63aece
  response:
    content: '{"sha":"a2d3e3c30547a000f026daa47610bb3f7b63aece","node_id":"C_kwDOHP_eEdoAKGEyZDNlM2MzMDU0N2EwMDBmMDI2ZGFhNDc2MTBiYjNmN2I2M2FlY2U","commit":{"author":{"name":"test-acc9","email":"104562106+test-acc9@users.noreply.github.com","date":"2022-07-27T06:13:31Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2022-07-27T06:13:31Z"},"message":"random-commit-msg","tree":{"sha":"d9899981dca2af8bfa20263c9c97413f017e7602","url":"https://api.github.com/repos/test-acc9/test_example/git/trees/d9899981dca2af8bfa20263c9c97413f017e7602"},"url":"https://api.github.com/repos/test-acc9/test_example/git/commits/a2d3e3c30547a000f026daa47610bb3f7b63aece","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
      PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJi4NeLCRBK7hj4Ov3rIwAAHFIIAD0YVuosBePsrNall2Qti6RF\nO4+4QzF5wK6WBgkuCX5mPaGUZMfwYohYUf6iipVVPJHhnxwGA/MIj5pt+muChJCx\nziP6+QfEg8uHR+od0MyG4atpojM2WpBa/gqNzTWnk1Ti7PCyMlueZQGVWLkTuU+Y\ng0fbKg7FFTAxWBhm4sTnb+8vFfwFiuHef7J2NpIdBVAUh4lmfk/hsqKlLz7s6xxS\n8qWz6BhCZSjXUjG+i4/DbwezV9YqsZMz73TbE04TX/pZvqXPoTyLQfCg1mpL2hrI\ndGJBHDZfr0CB8a+33e9TWT80U8TD4g6gjtwrwrZTVzwMfJVVSQcxIfVndQ7ihDg=\n=qgU3\n-----END
      PGP SIGNATURE-----\n","payload":"tree d9899981dca2af8bfa20263c9c97413f017e7602\nparent
      610ada9fa2bbc49f1a08917da3f73bef2d03709c\nauthor test-acc9 <104562106+test-acc9@users.noreply.github.com>
      1658902411 +0300\ncommitter GitHub <noreply@github.com> 1658902411 +0300\n\nrandom-commit-msg"}},"url":"https://api.github.com/repos/test-acc9/test_example/commits/a2d3e3c30547a000f026daa47610bb3f7b63aece","html_url":"https://github.com/test-acc9/test_example/commit/a2d3e3c30547a000f026daa47610bb3f7b63aece","comments_url":"https://api.github.com/repos/test-acc9/test_example/commits/a2d3e3c30547a000f026daa47610bb3f7b63aece/comments","author":{"login":"test-acc9","id":104562106,"node_id":"U_kgDOBjt9ug","avatar_url":"https://avatars.githubusercontent.com/u/104562106?v=4","gravatar_id":"","url":"https://api.github.com/users/test-acc9","html_url":"https://github.com/test-acc9","followers_url":"https://api.github.com/users/test-acc9/followers","following_url":"https://api.github.com/users/test-acc9/following{/other_user}","gists_url":"https://api.github.com/users/test-acc9/gists{/gist_id}","starred_url":"https://api.github.com/users/test-acc9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-acc9/subscriptions","organizations_url":"https://api.github.com/users/test-acc9/orgs","repos_url":"https://api.github.com/users/test-acc9/repos","events_url":"https://api.github.com/users/test-acc9/events{/privacy}","received_events_url":"https://api.github.com/users/test-acc9/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"610ada9fa2bbc49f1a08917da3f73bef2d03709c","url":"https://api.github.com/repos/test-acc9/test_example/commits/610ada9fa2bbc49f1a08917da3f73bef2d03709c","html_url":"https://github.com/test-acc9/test_example/commit/610ada9fa2bbc49f1a08917da3f73bef2d03709c"}],"stats":{"total":1,"additions":1,"deletions":0},"files":[{"sha":"b2b9cc97bb0f4415ce6fcb16d7a40ccd60fb4a40","filename":"random-commit.me","status":"modified","additions":1,"deletions":0,"changes":1,"blob_url":"https://github.com/test-acc9/test_example/blob/a2d3e3c30547a000f026daa47610bb3f7b63aece/random-commit.me","raw_url":"https://github.com/test-acc9/test_example/raw/a2d3e3c30547a000f026daa47610bb3f7b63aece/random-commit.me","contents_url":"https://api.github.com/repos/test-acc9/test_example/contents/random-commit.me?ref=a2d3e3c30547a000f026daa47610bb3f7b63aece","patch":"@@
      -1 +1,2 @@\n hello\n+test"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"3056cfcf8f1a5c76c44ffdb23e495b3796fa612e43a0fbea79bd02a3956c563f"
      Last-Modified:
      - Wed, 27 Jul 2022 06:13:31 GMT
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - admin:repo_hook, repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4999'
      X-RateLimit-Reset:
      - '1658917789'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '1'
      github-authentication-token-expiration:
      - 2022-08-25 14:53:43 UTC
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/test-acc9/test_example/pulls/1
  response:
    content: '{"url":"https://api.github.com/repos/test-acc9/test_example/pulls/1","id":921616238,"node_id":"PR_kwDOHP_eEc427r9u","html_url":"https://github.com/test-acc9/test_example/pull/1","diff_url":"https://github.com/test-acc9/test_example/pull/1.diff","patch_url":"https://github.com/test-acc9/test_example/pull/1.patch","issue_url":"https://api.github.com/repos/test-acc9/test_example/issues/1","number":1,"state":"open","locked":false,"title":"Create
      random-commit.me","user":{"login":"test-acc9","id":104562106,"node_id":"U_kgDOBjt9ug","avatar_url":"https://avatars.githubusercontent.com/u/104562106?v=4","gravatar_id":"","url":"https://api.github.com/users/test-acc9","html_url":"https://github.com/test-acc9","followers_url":"https://api.github.com/users/test-acc9/followers","following_url":"https://api.github.com/users/test-acc9/following{/other_user}","gists_url":"https://api.github.com/users/test-acc9/gists{/gist_id}","starred_url":"https://api.github.com/users/test-acc9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-acc9/subscriptions","organizations_url":"https://api.github.com/users/test-acc9/orgs","repos_url":"https://api.github.com/users/test-acc9/repos","events_url":"https://api.github.com/users/test-acc9/events{/privacy}","received_events_url":"https://api.github.com/users/test-acc9/received_events","type":"User","site_admin":false},"body":null,"created_at":"2022-04-28T09:37:10Z","updated_at":"2022-07-27T06:13:31Z","closed_at":null,"merged_at":null,"merge_commit_sha":"188bca08574e22fdc3cbdbde0bb98bfcf7e64425","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/test-acc9/test_example/pulls/1/commits","review_comments_url":"https://api.github.com/repos/test-acc9/test_example/pulls/1/comments","review_comment_url":"https://api.github.com/repos/test-acc9/test_example/pulls/comments{/number}","comments_url":"https://api.github.com/repos/test-acc9/test_example/issues/1/comments","statuses_url":"https://api.github.com/repos/test-acc9/test_example/statuses/a2d3e3c30547a000f026daa47610bb3f7b63aece","head":{"label":"test-acc9:featureA","ref":"featureA","sha":"a2d3e3c30547a000f026daa47610bb3f7b63aece","user":{"login":"test-acc9","id":104562106,"node_id":"U_kgDOBjt9ug","avatar_url":"https://avatars.githubusercontent.com/u/104562106?v=4","gravatar_id":"","url":"https://api.github.com/users/test-acc9","html_url":"https://github.com/test-acc9","followers_url":"https://api.github.com/users/test-acc9/followers","following_url":"https://api.github.com/users/test-acc9/following{/other_user}","gists_url":"https://api.github.com/users/test-acc9/gists{/gist_id}","starred_url":"https://api.github.com/users/test-acc9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-acc9/subscriptions","organizations_url":"https://api.github.com/users/test-acc9/orgs","repos_url":"https://api.github.com/users/test-acc9/repos","events_url":"https://api.github.com/users/test-acc9/events{/privacy}","received_events_url":"https://api.github.com/users/test-acc9/received_events","type":"User","site_admin":false},"repo":{"id":486530577,"node_id":"R_kgDOHP_eEQ","name":"test_example","full_name":"test-acc9/test_example","private":false,"owner":{"login":"test-acc9","id":104562106,"node_id":"U_kgDOBjt9ug","avatar_url":"https://avatars.githubusercontent.com/u/104562106?v=4","gravatar_id":"","url":"https://api.github.com/users/test-acc9","html_url":"https://github.com/test-acc9","followers_url":"https://api.github.com/users/test-acc9/followers","following_url":"https://api.github.com/users/test-acc9/following{/other_user}","gists_url":"https://api.github.com/users/test-acc9/gists{/gist_id}","starred_url":"https://api.github.com/users/test-acc9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-acc9/subscriptions","organizations_url":"https://api.github.com/users/test-acc9/orgs","repos_url":"https://api.github.com/users/test-acc9/repos","events_url":"https://api.github.com/users/test-acc9/events{/privacy}","received_events_url":"https://api.github.com/users/test-acc9/received_events","type":"User","site_admin":false},"html_url":"https://github.com/test-acc9/test_example","description":null,"fork":false,"url":"https://api.github.com/repos/test-acc9/test_example","forks_url":"https://api.github.com/repos/test-acc9/test_example/forks","keys_url":"https://api.github.com/repos/test-acc9/test_example/keys{/key_id}","collaborators_url":"https://api.github.com/repos/test-acc9/test_example/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/test-acc9/test_example/teams","hooks_url":"https://api.github.com/repos/test-acc9/test_example/hooks","issue_events_url":"https://api.github.com/repos/test-acc9/test_example/issues/events{/number}","events_url":"https://api.github.com/repos/test-acc9/test_example/events","assignees_url":"https://api.github.com/repos/test-acc9/test_example/assignees{/user}","branches_url":"https://api.github.com/repos/test-acc9/test_example/branches{/branch}","tags_url":"https://api.github.com/repos/test-acc9/test_example/tags","blobs_url":"https://api.github.com/repos/test-acc9/test_example/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/test-acc9/test_example/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/test-acc9/test_example/git/refs{/sha}","trees_url":"https://api.github.com/repos/test-acc9/test_example/git/trees{/sha}","statuses_url":"https://api.github.com/repos/test-acc9/test_example/statuses/{sha}","languages_url":"https://api.github.com/repos/test-acc9/test_example/languages","stargazers_url":"https://api.github.com/repos/test-acc9/test_example/stargazers","contributors_url":"https://api.github.com/repos/test-acc9/test_example/contributors","subscribers_url":"https://api.github.com/repos/test-acc9/test_example/subscribers","subscription_url":"https://api.github.com/repos/test-acc9/test_example/subscription","commits_url":"https://api.github.com/repos/test-acc9/test_example/commits{/sha}","git_commits_url":"https://api.github.com/repos/test-acc9/test_example/git/commits{/sha}","comments_url":"https://api.github.com/repos/test-acc9/test_example/comments{/number}","issue_comment_url":"https://api.github.com/repos/test-acc9/test_example/issues/comments{/number}","contents_url":"https://api.github.com/repos/test-acc9/test_example/contents/{+path}","compare_url":"https://api.github.com/repos/test-acc9/test_example/compare/{base}...{head}","merges_url":"https://api.github.com/repos/test-acc9/test_example/merges","archive_url":"https://api.github.com/repos/test-acc9/test_example/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/test-acc9/test_example/downloads","issues_url":"https://api.github.com/repos/test-acc9/test_example/issues{/number}","pulls_url":"https://api.github.com/repos/test-acc9/test_example/pulls{/number}","milestones_url":"https://api.github.com/repos/test-acc9/test_example/milestones{/number}","notifications_url":"https://api.github.com/repos/test-acc9/test_example/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/test-acc9/test_example/labels{/name}","releases_url":"https://api.github.com/repos/test-acc9/test_example/releases{/id}","deployments_url":"https://api.github.com/repos/test-acc9/test_example/deployments","created_at":"2022-04-28T09:34:42Z","updated_at":"2022-07-27T08:02:03Z","pushed_at":"2022-07-27T06:13:31Z","git_url":"git://github.com/test-acc9/test_example.git","ssh_url":"git@github.com:test-acc9/test_example.git","clone_url":"https://github.com/test-acc9/test_example.git","svn_url":"https://github.com/test-acc9/test_example","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":1,"watchers":0,"default_branch":"main"}},"base":{"label":"test-acc9:main","ref":"main","sha":"ef6edf5ae6643d53a7971fb8823d3f7b2ac65619","user":{"login":"test-acc9","id":104562106,"node_id":"U_kgDOBjt9ug","avatar_url":"https://avatars.githubusercontent.com/u/104562106?v=4","gravatar_id":"","url":"https://api.github.com/users/test-acc9","html_url":"https://github.com/test-acc9","followers_url":"https://api.github.com/users/test-acc9/followers","following_url":"https://api.github.com/users/test-acc9/following{/other_user}","gists_url":"https://a[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/test-acc9/test_example/pulls/1/commits?per_page=250
  response:
    content: '[{"sha":"610ada9fa2bbc49f1a08917da3f73bef2d03709c","node_id":"C_kwDOHP_eEdoAKDYxMGFkYTlmYTJiYmM0OWYxYTA4OTE3ZGEzZjczYmVmMmQwMzcwOWM","commit":{"author":{"name":"test-acc9","email":"104562106+test-acc9@users.noreply.github.com","date":"2022-04-28T09:37:05Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2022-04[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/test-acc9/test_example/commits?sha=a2d3e3c30547a000f026daa47610bb3f7b63aece
  response:
    content: '[{"sha":"a2d3e3c30547a000f026daa47610bb3f7b63aece","node_id":"C_kwDOHP_eEdoAKGEyZDNlM2MzMDU0N2EwMDBmMDI2ZGFhNDc2MTBiYjNmN2I2M2FlY2U","commit":{"author":{"name":"test-acc9","email":"104562106+test-acc9@users.noreply.github.com","date":"2022-07-27T06:13:31Z"},"committer":{"name":"GitHub","email":"noreply@git[...]
