interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/test-acc9/test_example/commits/a2d3e3c30547a000f026daa47610bb3f7b63aece
  response:
    content: '{"sha":"a2d3e3c30547a000f026daa47610bb3f7b63aece","node_id":"C_kwDOHP_eEdoAKGEyZDNlM2MzMDU0N2EwMDBmMDI2ZGFhNDc2MTBiYjNmN2I2M2FlY2U","commit":{"author":{"name":"test-acc9","email":"104562106+test-acc9@users.noreply.github.com","date":"2022-07-27T06:13:31Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2022-07-27T06:13:31Z"},"message":"random-commit-msg","tree":{"sha":"d9899981dca2af8bfa20263c9c97413f017e7602","url":"https://api.github.com/repos/test-acc9/test_example/git/trees/d9899981dca2af8bfa20263c9c97413f017e7602"},"url":"https://api.github.com/repos/test-acc9/test_example/git/commits/a2d3e3c30547a000f026daa47610bb3f7b63aece","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
      PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJi4NeLCRBK7hj4Ov3rIwAAHFIIAD0YVuosBePsrNall2Qti6RF\nO4+4QzF5wK6WBgkuCX5mPaGUZMfwYohYUf6iipVVPJHhnxwGA/MIj5pt+muChJCx\nziP6+QfEg8uHR+od0MyG4atpojM2WpBa/gqNzTWnk1Ti7PCyMlueZQGVWLkTuU+Y\ng0fbKg7FFTAxWBhm4sTnb+8vFfwFiuHef7J2NpIdBVAUh4lmfk/hsqKlLz7s6xxS\n8qWz6BhCZSjXUjG+i4/DbwezV9YqsZMz73TbE04TX/pZvqXPoTyLQfCg1mpL2hrI\ndGJBHDZfr0CB8a+33e9TWT80U8TD4g6gjtwrwrZTVzwMfJVVSQcxIfVndQ7ihDg=\n=qgU3\n-----END
      PGP SIGNATURE-----\n","payload":"tree d9899981dca2af8bfa20263c9c97413f017e7602\nparent
      610ada9fa2bbc49f1a08917da3f73bef2d03709c\nauthor test-acc9 <104562106+test-acc9@users.noreply.github.com>
      1658902411 +0300\ncommitter GitHub <noreply@github.com> 1658902411 +0300\n\nrandom-commit-msg"}},"url":"https://api.github.com/repos/test-acc9/test_example/commits/a2d3e3c30547a000f026daa47610bb3f7b63aece","html_url":"https://github.com/test-acc9/test_example/commit/a2d3e3c30547a000f026daa47610bb3f7b63aece","comments_url":"https://api.github.com/repos/test-acc9/test_example/commits/a2d3e3c30547a000f026daa47610bb3f7b63aece/comments","author":{"login":"test-acc9","id":104562106,"node_id":"U_kgDOBjt9ug","avatar_url":"https://avatars.githubusercontent.com/u/104562106?v=4","gravatar_id":"","url":"https://api.github.com/users/test-acc9","html_url":"https://github.com/test-acc9","followers_url":"https://api.github.com/users/test-acc9/followers","following_url":"https://api.github.com/users/test-acc9/following{/other_user}","gists_url":"https://api.github.com/users/test-acc9/gists{/gist_id}","starred_url":"https://api.github.com/users/test-acc9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-acc9/subscriptions","organizations_url":"https://api.github.com/users/test-acc9/orgs","repos_url":"https://api.github.com/users/test-acc9/repos","events_url":"https://api.github.com/users/test-acc9/events{/privacy}","received_events_url":"https://api.github.com/users/test-acc9/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"610ada9fa2bbc49f1a08917da3f73bef2d03709c","url":"https://api.github.com/repos/test-acc9/test_example/commits/610ada9fa2bbc49f1a08917da3f73bef2d03709c","html_url":"https://github.com/test-acc9/test_example/commit/610ada9fa2bbc49f1a08917da3f73bef2d03709c"}],"stats":{"total":1,"additions":1,"deletions":0},"files":[{"sha":"b2b9cc97bb0f4415ce6fcb16d7a40ccd60fb4a40","filename":"random-commit.me","status":"modified","additions":1,"deletions":0,"changes":1,"blob_url":"https://github.com/test-acc9/test_example/blob/a2d3e3c30547a000f026daa47610bb3f7b63aece/random-commit.me","raw_url":"https://github.com/test-acc9/test_example/raw/a2d3e3c30547a000f026daa47610bb3f7b63aece/random-commit.me","contents_url":"https://api.github.com/repos/test-acc9/test_example/contents/random-commit.me?ref=a2d3e3c30547a000f026daa47610bb3f7b63aece","patch":"@@
      -1 +1,2 @@\n hello\n+test"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1d6c4ca2dde45ac1933e6ab9cc35b9a9563c084ea964575bcd37e3f8a6e9c794"
      Last-Modified:
      - Wed, 27 Jul 2022 06:13:31 GMT
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4971'
      X-RateLimit-Reset:
      - '1728551192'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '29'
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: '{"query": "query GetPullRequest($owner: String!, $repo: String!, $pr_number:
      Int!) {\n    repository(owner: $owner, name: $repo) {\n        pullRequest(number:
      $pr_number) {\n            number\n            title\n            author {\n                login\n                ...
      on User {\n                    databaseId\n                }\n                ...
      on Bot {\n                    databaseId\n                }\n            }\n            labels(first:
      100) {\n                nodes {\n                    name\n                }\n            }\n            state\n            mergeCommit
      {\n                oid\n            }\n            baseRefOid\n            baseRefName\n            baseRepository
      {\n                name\n                owner {\n                    login\n                }\n            }\n            headRefOid\n            headRefName\n            headRepository
      {\n                name\n                owner {\n                    login\n                }\n            }\n        }\n    }\n}\n",
      "variables": {"owner": "test-acc9", "repo": "test_example", "pr_number": 1}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    content: '{"data":{"repository":{"pullRequest":{"number":1,"title":"Create random-commit.me","author":{"login":"test-acc9","databaseId":104562106},"labels":{"nodes":[]},"state":"OPEN","mergeCommit":null,"baseRefOid":"ef6edf5ae6643d53a7971fb8823d3f7b2ac65619","baseRefName":"main","baseRepository":{"name":"test_example","owner":{"login":"test-acc9"}},"headRefOid":"a2d3e3c30547a000f026daa47610bb3f7b63aece","headRefName":"featureA","headRepository":{"name":"test_example","owner":{"login":"test-acc9"}}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v4
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4994'
      X-RateLimit-Reset:
      - '1728551192'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '6'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/test-acc9/test_example/pulls/1/commits?per_page=100&page=1
  response:
    content: '[{"sha":"610ada9fa2bbc49f1a08917da3f73bef2d03709c","node_id":"C_kwDOHP_eEdoAKDYxMGFkYTlmYTJiYmM0OWYxYTA4OTE3ZGEzZjczYmVmMmQwMzcwOWM","commit":{"author":{"name":"test-acc9","email":"104562106+test-acc9@users.noreply.github.com","date":"2022-04-28T09:37:05Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/repos/test-acc9/test_example/commits?sha=a2d3e3c30547a000f026daa47610bb3f7b63aece
  response:
    content: '[{"sha":"a2d3e3c30547a000f026daa47610bb3f7b63aece","node_id":"C_kwDOHP_eEdoAKGEyZDNlM2MzMDU0N2EwMDBmMDI2ZGFhNDc2MTBiYjNmN2I2M2FlY2U","commit":{"author":{"name":"test-acc9","email":"104562106+test-acc9@users.noreply.github.com","date":"2022-07-27T06:13:31Z"},"committer":{"name":"GitHub","email":"noreply@git[...]
