{% extends "base.html" %} {% block main %}
<h2
  style="
    font-size: 50px;
    font-weight: 300;
    line-height: 55px;
    margin: 0;
    text-align: center;
    color: black;
  "
>
  Oops! Let's fix this, {{ name }}
</h2>
<p
  style="
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: black;
  "
>
  Total: USD
  <span style="color: rgb(245, 32, 32); font-weight: 700">${{ amount }}</span>
  <b>|</b> {{ date }}
</p>
<div>
  <p
    id="error-banner"
    style="
      background-color: rgb(255, 247, 247);
      padding: 15px 20px;
      width: 95%;
      border-left: solid 3px rgb(245, 32, 32);
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      color: rgb(14, 27, 41);
    "
  >
    Your ${{ amount }} payment to Functional Software, Inc, dba Sentry has
    failed
  </p>
</div>
<p
  style="
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    color: black;
  "
>
  We were unable to process your {% if is_credit_card %} {% if card_type %} {{
  card_type | capitalize }} {% else %} card {% endif %} {% elif
  is_us_bank_account %} US Bank Account {% if bank_name %} from {{ bank_name
  }}{% endif %} {% endif %} {% if is_us_bank_account and bank_last_four %}
  ending in {{ bank_last_four }} {% elif is_credit_card and last_four %} ending
  in {{ last_four }} {% endif %}. Please take a moment to double check your
  payment information to ensure your account continues to run smoothly.
</p>
<p style="width: 100%; padding: 35px 0px; text-align: center">
  <a
    href="{{ cta_link }}"
    style="
      background-color: rgb(0, 113, 194);
      color: white;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      padding: 25px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      text-decoration: none;
    "
    >Update your billing info</a
  >
</p>
<div
  style="
    background-color: rgb(247, 248, 251);
    border-radius: 8px;
    padding: 15px 35px;
    margin-bottom: 20px;
  "
>
  <h3
    style="font-size: 18px; font-weight: 600; line-height: 27px; color: black"
  >
    Why did the payment fail?
  </h3>
  <p style="font-weight: 400; font-size: 18px; line-height: 27px; color: black">
    In most cases, a payment might fail due to:
  </p>
  <ul
    style="
      padding-left: 25px;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: black;
    "
  >
    <li>An expired card</li>
    <li>Insufficient funds</li>
    <li>Requiring additional authentication</li>
  </ul>
  <p style="font-weight: 400; font-size: 18px; line-height: 27px; color: black">
    If you have any questions or need help, please contact us at
    <a
      href="mailto:support@codecov.io"
      style="color: rgb(0, 113, 194); text-decoration: none; font-weight: 500"
      >support@codecov.io</a
    >
  </p>
</div>
{% endblock %}
