interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/user/repos?per_page=100&page=1
  response:
    content: '[{"id":168373402,"node_id":"MDEwOlJlcG9zaXRvcnkxNjgzNzM0MDI=","name":"neomake","full_name":"1nf1n1t3l00p/neomake","private":false,"owner":{"login":"1nf1n1t3l00p","id":45343385,"node_id":"MDQ6VXNlcjQ1MzQzMzg1","avatar_url":"https://avatars1.githubusercontent.com/u/45343385?v=4","gravatar_id":"","url":"https://api.github.com/users/1nf1n1t3l00p","html_url":"https://github.com/1nf1n1t3l00p","followers_url":"https://api.github.com/users/1nf1n1t3l00p/followers","following_url":"https://api.github.com/users/1nf1n1t3l00p/following{/other_user}","gists_url":"https://api.github.com/users/1nf1n1t3l00p/gists{/gist_id}","starred_url":"https://api.github.com/users/1nf1n1t3l00p/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/1nf1n1t3l00p/subscriptions","organizations_url":"https://api.github.com/users/1nf1n1t3l00p/orgs","repos_url":"https://api.github.com/users/1nf1n1t3l00p/repos","events_url":"https://api.github.com/users/1nf1n1t3l00p/events{/privacy}","received_events_url":"https://api.github.com/users/1nf1n1t3l00p/received_events","type":"User","site_admin":false},"html_url":"https://github.com/1nf1n1t3l00p/neomake","description":"Asynchronous
      linting and make framework for Neovim/Vim","fork":true,"url":"https://api.github.com/repos/1nf1n1t3l00p/neomake","forks_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/forks","keys_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/keys{/key_id}","collaborators_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/teams","hooks_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/hooks","issue_events_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/issues/events{/number}","events_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/events","assignees_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/assignees{/user}","branches_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/branches{/branch}","tags_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/tags","blobs_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/git/refs{/sha}","trees_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/git/trees{/sha}","statuses_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/statuses/{sha}","languages_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/languages","stargazers_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/stargazers","contributors_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/contributors","subscribers_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/subscribers","subscription_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/subscription","commits_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/commits{/sha}","git_commits_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/git/commits{/sha}","comments_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/comments{/number}","issue_comment_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/issues/comments{/number}","contents_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/contents/{+path}","compare_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/compare/{base}...{head}","merges_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/merges","archive_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/downloads","issues_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/issues{/number}","pulls_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/pulls{/number}","milestones_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/milestones{/number}","notifications_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/labels{/name}","releases_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/releases{/id}","deployments_url":"https://api.github.com/repos/1nf1n1t3l00p/neomake/deployments","created_at":"2019-01-30T16:13:56Z","updated_at":"2019-01-30T16:13:59Z","pushed_at":"2019-01-27T15:56:53Z","git_url":"git://github.com/1nf1n1t3l00p/neomake.git","ssh_url":"git@github.com:1nf1n1t3l00p/neomake.git","clone_url":"https://github.com/1nf1n1t3l00p/neomake.git","svn_url":"https://github.com/1nf1n1t3l00p/neomake","homepage":"","size":4862,"stargazers_count":0,"watchers_count":0,"language":"Vim
      script","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
      License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":159090505,"node_id":"MDEwOlJlcG9zaXRvcnkxNTkwOTA1MDU=","name":"priv_example","full_name":"1nf1n1t3l00p/priv_example","private":true,"owner":{"login":"1nf1n1t3l00p","id":45343385,"node_id":"MDQ6VXNlcjQ1MzQzMzg1","avatar_url":"https://avatars1.githubusercontent.com/u/45343385?v=4","gravatar_id":"","url":"https://api.github.com/users/1nf1n1t3l00p","html_url":"https://github.com/1nf1n1t3l00p","followers_url":"https://api.github.com/users/1nf1n1t3l00p/followers","following_url":"https://[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/1nf1n1t3l00p/neomake
  response:
    content: '{"id":168373402,"node_id":"MDEwOlJlcG9zaXRvcnkxNjgzNzM0MDI=","name":"neomake","full_name":"1nf1n1t3l00p/neomake","private":false,"owner":{"login":"1nf1n1t3l00p","id":45343385,"node_id":"MDQ6VXNlcjQ1MzQzMzg1","avatar_url":"https://avatars1.githubusercontent.com/u/45343385?v=4","gravatar_id":"","url":"https://api.github.com/users/1nf1n1t3l00p","html_url":"http[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/1nf1n1t3l00p/pytest
  response:
    content: '{"id":159089634,"node_id":"MDEwOlJlcG9zaXRvcnkxNTkwODk2MzQ=","name":"pytest","full_name":"1nf1n1t3l00p/pytest","private":false,"owner":{"login":"1nf1n1t3l00p","id":45343385,"node_id":"MDQ6VXNlcjQ1MzQzMzg1","avatar_url":"https://avatars1.githubusercontent.com/u/45343385?v=4","gravatar_id":"","url":"https://api.github.com/users/1nf1n1t3l00p","html_url":"https:/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/1nf1n1t3l00p/spack
  response:
    content: '{"id":164948070,"node_id":"MDEwOlJlcG9zaXRvcnkxNjQ5NDgwNzA=","name":"spack","full_name":"1nf1n1t3l00p/spack","private":false,"owner":{"login":"1nf1n1t3l00p","id":45343385,"node_id":"MDQ6VXNlcjQ1MzQzMzg1","avatar_url":"https://avatars1.githubusercontent.com/u/45343385?v=4","gravatar_id":"","url":"https://api.github.com/users/1nf1n1t3l00p","html_url":"https://gi[...]
