interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/user
  response:
    body: {string: '{"id":3215137,"name":"Infinite Loop","username":"1nf1n1t3l00p","state":"active","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/user/avatar/3215137/avatar.png","web_url":"https://gitlab.com/1nf1n1t3l00p","created_at":"2018-12-01T19:43:16.121Z","bio":"","location":"","public_email":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":"","last_sign_in_at":"2019-10-20T22:24:28.741Z","confirmed_at":"2018-12-01T19:43:33.397Z","last_activity_on":"2019-11-07","email":"tjbiii.photo@gmail.com","theme_id":1,"color_scheme_id":1,"projects_limit":100000,"current_sign_in_at":"2019-11-07T22:23:23.652Z","identities":[],"can_create_group":true,"can_create_project":true,"two_factor_enabled":false,"external":false,"private_profile":false,"shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null}'}
    headers:
    - !!python/tuple
      - Server
      - [nginx]
    - !!python/tuple
      - Date
      - ['Thu, 07 Nov 2019 22:24:48 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json]
    - !!python/tuple
      - Content-Length
      - ['843']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - ['max-age=0, private, must-revalidate']
    - !!python/tuple
      - Etag
      - [W/"2b4a569af963e5456798e07f62cbb19c"]
    - !!python/tuple
      - Vary
      - [Origin]
    - !!python/tuple
      - X-Content-Type-Options
      - [nosniff]
    - !!python/tuple
      - X-Frame-Options
      - [SAMEORIGIN]
    - !!python/tuple
      - X-Request-Id
      - [Tu1X3IMfcQ]
    - !!python/tuple
      - X-Runtime
      - ['0.033973']
    - !!python/tuple
      - Strict-Transport-Security
      - [max-age=31536000]
    - !!python/tuple
      - Referrer-Policy
      - [strict-origin-when-cross-origin]
    - !!python/tuple
      - Ratelimit-Limit
      - ['600']
    - !!python/tuple
      - Ratelimit-Observed
      - ['1']
    - !!python/tuple
      - Ratelimit-Remaining
      - ['599']
    - !!python/tuple
      - Ratelimit-Reset
      - ['1573165548']
    - !!python/tuple
      - Ratelimit-Resettime
      - ['Thu, 07 Nov 2019 22:25:48 GMT']
    - !!python/tuple
      - Gitlab-Lb
      - [fe-22-lb-gprd]
    - !!python/tuple
      - Gitlab-Sv
      - [localhost]
    status: {code: 200, message: OK}
    url: https://gitlab.com/api/v4/user
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups?per_page=100
  response:
    body: {string: '[{"id":5608536,"web_url":"https://gitlab.com/groups/bevera","name":"Bevera","path":"bevera","description":"Bevera
        Code and Issues.","visibility":"private","share_with_group_lock":false,"require_two_factor_authentication":false,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"owner","emails_disabled":null,"lfs_enabled":true,"avatar_url":null,"request_access_enabled":false,"full_name":"Bevera","full_path":"bevera","parent_id":null,"ldap_cn":null,"ldap_access":null},{"id":4165904,"web_url":"https://gitlab.com/groups/l00p_group_1","name":"My
        Awesome Group","path":"l00p_group_1","description":"","visibility":"private","share_with_group_lock":false,"require_two_factor_authentication":false,"two_factor_grace_period":48,"project_creation_level":"developer","auto_devops_enabled":null,"subgroup_creation_level":"owner","emails_disabled":null,"lfs_enabled":true,"avatar_url":null,"request_access_enabled":false,"full_name":"My
        Awesome Group","ful[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups/5608536/projects?per_page=50&page=1
  response:
    body: {string: '[{"id":13258489,"description":"by Michael G. Scott","name":"BeVera","name_with_namespace":"Bevera
        / BeVera","path":"BeVera","path_with_namespace":"bevera/BeVera","created_at":"2019-07-10T15:35:54.122Z","default_branch":"0_0_dev","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:bevera/BeVera.git","http_url_to_repo":"https://gitlab.com/bevera/BeVera.git","web_url":"https://gitlab.com/bevera/BeVera","readme_url":"https://gitlab.com/bevera/BeVera/blob/0_0_dev/README.md","avatar_url":null,"star_count":0,"forks_count":0,"last_activity_at":"2019-07-10T20:30:54.406Z","namespace":{"id":5608536,"name":"Bevera","path":"bevera","kind":"group","full_path":"bevera","parent_id":null,"avatar_url":null,"web_url":"https://gitlab.com/groups/bevera"},"_links":{"self":"https://gitlab.com/api/v4/projects/13258489","issues":"https://gitlab.com/api/v4/projects/13258489/issues","merge_requests":"https://gitlab.com/api/v4/projects/13258489/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/13258489/repository/branches","labels":"https://gitlab.com/api/v4/projects/13258489/labels","events":"https://gitlab.com/api/v4/projects/13258489/events","members":"https://gitlab.com/api/v4/projects/13258489/members"},"empty_repo":false,"archived":false,"visibility":"private","resolve_outdated_diff_discussions":false,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","shared_runners_enabled":true,"lfs_enabled":true,"creator_id":4097368,"import_status":"finished","open_issues_count":10,"ci_default_git_depth":50,"public_jobs":true,"build_timeout":3600,"auto_cancel_pending_pipelines":"enabled","build_coverage_regex":null,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":null,"printing_merge_request_link_enabled":true,"merge_method":"merge","auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","mirror":false,"external_authorization_classification_label":""}]'}
    headers:
    - !!python/tuple
      - Server
      - [nginx]
    - !!python/tuple
      - Date
      - ['Thu, 07 Nov 2019 22:24:49 GMT']
    - !!python/tuple
      - Content-Type
      - [application/json]
    - !!python/tuple
      - Content-Length
      - ['2347']
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - ['max-age=0, private, must-revalidate']
    - !!python/tuple
  [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects?owned=true&per_page=50&page=1
  response:
    body: {string: '[{"id":12071992,"description":"","name":"proj-c","name_with_namespace":"My
        Awesome Group / subgroup1 / proj-c","path":"proj-c","path_with_namespace":"l00p_group_1/subgroup1/proj-c","created_at":"2019-04-28T17:45:14.077Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:l00p_group_1/subgroup1/proj-c.git","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/users?username=hootener
  response:
    body: {string: '[{"id":3108129,"name":"Eli Hooten","username":"hootener","state":"active","avatar_url":"https://secure.gravatar.com/avatar/ab022b5adf4e3edc9ea77fe7fd561837?s=80\u0026d=identicon","web_url":"https://gitlab.com/hootener"}]'}
    headers:
    - !!python/tuple
      - Server
      - [nginx]
    - !!python/tuple
      - Date
      - ['Thu, 07 Nov 2019 22:24[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/9422960
  response:
    body: {string: '{"id":9422960,"description":"The pytest framework makes it easy
        to write small tests, yet scales to support complex functional testing","name":"pytest","name_with_namespace":"Eli
        Hooten / pytest","path":"pytest","path_with_namespace":"hootener/pytest","created_at":"2018-11-15T16:52:55.486Z","default_branch":"master","tag_list":[],"ssh_url_to_r[...]
