interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/installation/repositories?per_page=100&page=1
  response:
    content: '{ "total_count": 3, "repositories": [ { "id": 159089634, "node_id":
      "MDEwOlJlcG9zaXRvcnkxMjk2MjY5", "name": "pytest", "full_name": "1nf1n1t3l00p/pytest",
      "owner": { "login": "1nf1n1t3l00p", "id": 45343385, "node_id": "MDQ6VXNlcjE=",
      "avatar_url": "https://github.com/images/error/octocat_happy.gif", "gravatar_id":
      "", "url": "https://api.github.com/users/octocat", "html_url": "https://github.com/octocat",
      "followers_url": "https://api.github.com/users/octocat/followers", "following_url":
      "https://api.github.com/users/octocat/following{/other_user}", "gists_url":
      "https://api.github.com/users/octocat/gists{/gist_id}", "starred_url": "https://api.github.com/users/octocat/starred{/owner}{/repo}",
      "subscriptions_url": "https://api.github.com/users/octocat/subscriptions", "organizations_url":
      "https://api.github.com/users/octocat/orgs", "repos_url": "https://api.github.com/users/octocat/repos",
      "events_url": "https://api.github.com/users/octocat/events{/privacy}", "received_events_url":
      "https://api.github.com/users/octocat/received_events", "type": "User", "site_admin":
      false }, "private": false, "html_url": "https://github.com/octocat/Hello-World",
      "description": "This your first repo!", "fork": false, "url": "https://api.github.com/repos/octocat/Hello-World"
      }, { "id": 164948070, "node_id": "MDEwOlJlcG9zaXRvcnkxMjk2MjY5", "name": "spack",
      "full_name": "1nf1n1t3l00p/spack", "owner": { "login": "1nf1n1t3l00p", "id":
      45343385, "node_id": "MDQ6VXNlcjE=", "avatar_url": "https://github.com/images/error/octocat_happy.gif",
      "gravatar_id": "", "url": "https://api.github.com/users/octocat", "html_url":
      "https://github.com/octocat", "followers_url": "https://api.git[...]
