interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/user/repos?per_page=100&page=1
  response:
    content: '[{"id":159090647,"node_id":"MDEwOlJlcG9zaXRvcnkxNTkwOTA2NDc=","name":"pub","full_name":"1nf1n1t3l00p/pub","private":false,"owner":{"login":"1nf1n1t3l00p","id":45343385,"node_id":"MDQ6VXNlcjQ1MzQzMzg1","avatar_url":"https://avatars1.githubusercontent.com/u/45343385?v=4","gravatar_id":"","url":"https://api.github.com/users/1nf1n1t3l00p","html_url":"https://github.com/1nf1n1t3l00p","followers_url":"https://api.github.com/users/1nf1n1t3l00p/followers","following_url":"https://api.github.com/users/1nf1n1t3l00p/following{/other_user}","gists_url":"https://api.github.com/users/1nf1n1t3l00p/gists{/gist_id}","starred_url":"https://api.github.com/users/1nf1n1t3l00p/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/1nf1n1t3l00p/subscriptions","organizations_url":"https://api.github.com/users/1nf1n1t3l00p/orgs","repos_url":"https://api.github.com/users/1nf1n1t3l00p/repos","events_url":"https://api.github.com/users/1nf1n1t3l00p/events{/privacy}","received_events_url":"https://api.github.com/users/1nf1n1t3l00p/received_events","type":"User","site_admin":false},"html_url":"https://github.com/1nf1n1t3l00p/pub","description":null,"fork":false,"url":"https://api.github.com/repos/1nf1n1t3l00p/pub","forks_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/forks","keys_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/keys{/key_id}","collaborators_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/teams","hooks_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/hooks","issue_events_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/issues/events{/number}","events_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/events","assignees_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/assignees{/user}","branches_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/branches{/branch}","tags_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/tags","blobs_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/git/refs{/sha}","trees_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/git/trees{/sha}","statuses_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/statuses/{sha}","languages_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/languages","stargazers_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/stargazers","contributors_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/contributors","subscribers_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/subscribers","subscription_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/subscription","commits_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/commits{/sha}","git_commits_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/git/commits{/sha}","comments_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/comments{/number}","issue_comment_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/issues/comments{/number}","contents_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/contents/{+path}","compare_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/compare/{base}...{head}","merges_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/merges","archive_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/downloads","issues_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/issues{/number}","pulls_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/pulls{/number}","milestones_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/milestones{/number}","notifications_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/labels{/name}","releases_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/releases{/id}","deployments_url":"https://api.github.com/repos/1nf1n1t3l00p/pub/deployments","created_at":"2018-11-26T01:00:55Z","updated_at":"2018-11-26T01:00:58Z","pushed_at":"2018-11-26T01:00:57Z","git_url":"git://github.com/1nf1n1t3l00p/pub.git","ssh_url":"git@github.com:1nf1n1t3l00p/pub.git","clone_url":"https://github.com/1nf1n1t3l00p/pub.git","svn_url":"https://github.com/1nf1n1t3l00p/pub","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":159089634,"node_id":"MDEwOlJlcG9zaXRvcnkxNTkwODk2MzQ=","name":"pytest","full_name":"1nf1n1t3l00p/pytest","private":false,"owner":{"login":"1nf1n1t3l00p","id":45343385,"node_id":"MDQ6VXNlcjQ1MzQzMzg1","avatar_url":"https://avatars1.githubusercontent.com/u/45343385?v=4","gravatar_id":"","url":"https://api.github.com/users/1nf1n1t3l00p","html_url":"https://github.com/1nf1n1t3l00p","followers_url":"https://api.github.com/users/1nf1n1t3l00p/followers","following_url":"https://api.github.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/1nf1n1t3l00p/pytest
  response:
    content: '{"id":159089634,"node_id":"MDEwOlJlcG9zaXRvcnkxNTkwODk2MzQ=","name":"pytest","full_name":"1nf1n1t3l00p/pytest","private":false,"owner":{"login":"1nf1n1t3l00p","id":45343385,"node_id":"MDQ6VXNlcjQ1MzQzMzg1","avatar_url":"https://avatars1.githubusercontent.com/u/45343385?v=4","gravatar_id":"","url":"https://api.github.com/users/1nf1n1t3l00p","html_url":"https:/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/1nf1n1t3l00p/spack
  response:
    content: '{"id":164948070,"node_id":"MDEwOlJlcG9zaXRvcnkxNjQ5NDgwNzA=","name":"spack","full_name":"1nf1n1t3l00p/spack","private":false,"owner":{"login":"1nf1n1t3l00p","id":45343385,"node_id":"MDQ6VXNlcjQ1MzQzMzg1","avatar_url":"https://avatars1.githubusercontent.com/u/45343385?v=4","gravatar_id":"","url":"https://api.github.com/users/1nf1n1t3l00p","html_url":"https://gi[...]
