interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/commit/6895b64?oauth_consumer_key=testzdcviyi3x7f8h0&oauth_token=H6scSkq7rKZDXtDqe4&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1569615857&oauth_nonce=b98bd6399cff4029ae7cadeef4d7ecd2&oauth_version=1.0&oauth_signature=QoXcCFU5p8sc0mHtAypAkqXi1wQ%3D
  response:
    content: '{"rendered": {"message": {"raw": "Adding ''include'' term if multiple
      sources\n\nbased on a support ticket around multiple sources\r\n\r\nhttps://codecov.freshdesk.com/a/tickets/87",
      "markup": "markdown", "html": "<p>Adding ''include'' term if multiple sources</p>\n<p>based
      on a support ticket around multiple sources</p>\n<p><a href=\"https://codecov.freshdesk.com/a/tickets/87\"
      rel=\"nofollow\" class=\"ap-connect-link\">https://codecov.freshdesk.com/a/tickets/87</a></p>",
      "type": "rendered"}}, "hash": "6895b6479dbe12b5cb3baa02416c6343ddb888b4", "repository":
      {"links": {"self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python"}, "avatar":
      {"href": "https://bytebucket.org/ravatar/%7Ba8c50527-2c3a-480e-afe1-7700e2b00074%7D?ts=default"}},
      "type": "repository", "name": "example-python", "full_name": "ThiagoCodecov/example-python",
      "uuid": "{a8c50527-2c3a-480e-afe1-7700e2b00074}"}, "links": {"self": {"href":
      "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/6895b6479dbe12b5cb3baa02416c6343ddb888b4"},
      "comments": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/6895b6479dbe12b5cb3baa02416c6343ddb888b4/comments"},
      "patch": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/patch/6895b6479dbe12b5cb3baa02416c6343ddb888b4"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python/commits/6895b6479dbe12b5cb3baa02416c6343ddb888b4"},
      "diff": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/diff/6895b6479dbe12b5cb3baa02416c6343ddb888b4"},
      "approve": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/6895b6479dbe12b5cb3baa02416c6343ddb888b4/approve"},
      "statuses": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/6895b6479dbe12b5cb3baa02416c6343ddb888b4/statuses"}},
      "author": {"raw": "Jerrod <jerrod@fundersclub.com>", "type": "author"}, "summary":
      {"raw": "Adding ''include'' term if multiple sources\n\nbased on a support ticket
      around multiple sources\r\n\r\nhttps://codecov.freshdesk.com/a/tickets/87",
      "markup": "markdown", "html": "<p>Adding ''include'' term if multiple sources</p>\n<p>based
      on a support ticket around multiple sources</p>\n<p><a href=\"https://codecov.freshdesk.com/a/tickets/87\"
      rel=\"nofollow\" class=\"ap-connect-link\">https://codecov.freshdesk.com/a/tickets/87</a></p>",
      "type": "rendered"}, "participants": [], "parents": [{"hash": "adb252173d2107fad86bcdcbc149884c2dd4c609",
      "type": "commit", "links": {"self": {"href": "https://bitbucket.org/!api/2.0/repositories/ThiagoCodecov/example-python/commit/adb252173d2107fad86bcdcbc149884c2dd4c609"},
      "html": {"href": "https://bitbucket.org/ThiagoCodecov/example-python/commits/adb252173d2107fad86bcdcbc149884c2dd4c609"}}}],
      "date": "2018-07-09T23:39:20+00:00", "message": "Adding ''include'' term if
      multiple sources\n\nbased on a support ticket around multiple sources\r\n\r\nhttps://codecov.freshdesk.com/a/tickets/87",
      "type": "commit"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"gz[30b44719f3163e6c11b3ad93a6deddd8]"'
      Last-Modified:
      - Thu, 26 Sep 2019 00:58:27 GMT
      X-Accepted-Oauth-Scopes:
      - repository
      X-Consumed-Content-Encoding:
      - gzip
      X-Credential-Type:
      - oauth1
      X-Oauth-Scopes:
      - pipeline:variable, webhook, snippet:write, wiki, issue:write, pullrequest:write,
        repository:delete, repository:admin, project:write, team:write, account:write
      X-Reads-Before-Write-From:
      - default
      X-Render-Time:
      - '0.431403160095'
      X-Request-Count:
      - '76'
      X-Static-Version:
      - ca263699922c
      X-Version:
      - ca263699922c
    status:
      code: 200
      message: OK
    status_code: 200
    url: https://bitbucket.org/api/2.0/repositories/ThiagoCodecov/example-python/commit/6895b64?oauth_consumer_key=testzdcviyi3x7f8h0&oauth_token=H6scSkq7rKZDXtDqe4&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1569615857&oauth_nonce=b98bd6399cff4029ae7cadeef4d7ecd2&oauth_version=1.0&oauth_signature=QoXcCFU5p8sc0mHtAypAkqXi1wQ%3D
version: 1
