interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/187725/repository/commits/0028015f7fa260f5fd68f78c0deffc15183d955e
  response:
    content: '{"id":"0028015f7fa260f5fd68f78c0deffc15183d955e","short_id":"0028015f","created_at":"2014-10-19T14:32:33.000Z","parent_ids":["5716de23b27020419d1a40dd93b469c041a1eeef"],"title":"added
      large file","message":"added large file\n","author_name":"stevepeak","author_email":"steve@stevepeak.net","authored_date":"2014-10-19T14:32:33.000Z","committer_name":"stevepeak","committer_email":"steve@stevepeak.net","committed_date":"2014-10-19T14:32:33.000Z","stats":{"additions":816,"deletions":0,"total":816},"status":"success","last_pipeline":{"id":558130,"sha":"0028015f7fa260f5fd68f78c0deffc15183d955e","ref":null,"status":"success","web_url":"https://gitlab.com/codecov/ci-repo/pipelines/558130"},"project_id":187725}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"14982171f02402a9f16a64fd67c7a652"
      Gitlab-Lb:
      - fe-10-lb-gprd
      Gitlab-Sv:
      - localhost
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '598'
      Ratelimit-Reset:
      - '1569616016'
      Ratelimit-Resettime:
      - Fri, 27 Sep 2019 20:26:56 GMT
    status:
      code: 200
      message: OK
    status_code: 200
    url: https://gitlab.com/api/v4/projects/187725/repository/commits/0028015f7fa260f5fd68f78c0deffc15183d955e
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/users?search=steve%40stevepeak.net
  response:
    content: '[{"id":109479,"name":"Steve Peak","username":"stevepeak","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3712e9b9aee2ce5090aae58c2495cdee?s=80\u0026d=identicon","web_url":"https://gitlab.com/stevepeak"}]'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"741342810fb814ea719ddb0b3c927b6d"
      Gitlab-Lb:
      - fe-09-lb-gprd
      Gitlab-Sv:
      - localhost
      Link:
      - <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&search=steve%40stevepeak.net&skip_ldap=false&with_custom_attributes=false>;
        rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&search=steve%40stevepeak.net&skip_ldap=false&with_custom_attributes=false>;
        rel="last"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '3'
      Ratelimit-Remaining:
      - '597'
      Ratelimit-Reset:
      - '1569616017'
      Ratelimit-Resettime:
      - Fri, 27 Sep 2019 20:26:57 GMT
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    status:
      code: 200
      message: OK
    status_code: 200
    url: https://gitlab.com/api/v4/users?search=steve%40stevepeak.net
version: 1
