name: Worker CI

on:
  push:
    tags:
      - prod-*
    branches:
      - main
      - staging
  pull_request:
  merge_group:

permissions:
  contents: "read"
  id-token: "write"
  issues: "write"
  pull-requests: "write"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    name: Run Lint

    uses: codecov/gha-workflows/.github/workflows/lint.yml@v1.2.27

  build:
    name: Build Worker
    uses: codecov/gha-workflows/.github/workflows/build-app.yml@v1.2.33

    secrets: inherit
    with:
      repo: ${{ vars.CODECOV_IMAGE_V2 || 'codecov/self-hosted-worker' }}
      cache_file: "uv.lock"


  codecovstartup:
    name: Codecov Startup
    needs: build
    uses: codecov/gha-workflows/.github/workflows/codecov-startup.yml@v1.2.27

    secrets: inherit

  test:
    name: Test
    needs: [build]
    uses: codecov/gha-workflows/.github/workflows/run-tests.yml@v1.2.33

    secrets: inherit
    with:
      repo: ${{ vars.CODECOV_IMAGE_V2 || 'codecov/self-hosted-worker' }}

  build-self-hosted:
    name: Build Self Hosted Worker
    needs: [build, test]

    uses: codecov/gha-workflows/.github/workflows/self-hosted.yml@v1.2.33
    secrets: inherit
    with:
      repo: ${{ vars.CODECOV_IMAGE_V2 || 'codecov/self-hosted-worker' }}
      cache_file: "uv.lock"

  staging:
    name: Push Staging Image
    needs: [build, test]
    if: ${{ github.event_name == 'push' && (github.event.ref == 'refs/heads/main' || github.event.ref == 'refs/heads/staging') && github.repository_owner == 'codecov' }}
    uses: codecov/gha-workflows/.github/workflows/push-env.yml@v1.2.27
    secrets: inherit
    with:
      environment: staging
      repo: ${{ vars.CODECOV_IMAGE_V2 || 'codecov/self-hosted-worker' }}

  production:
    name: Push Production Image
    needs: [build, test]
    if: ${{ github.event_name == 'push' && github.event.ref == 'refs/heads/main' && github.repository_owner == 'codecov' }}
    uses: codecov/gha-workflows/.github/workflows/push-env.yml@v1.2.27
    secrets: inherit
    with:
      environment: production
      repo: ${{ vars.CODECOV_IMAGE_V2 || 'codecov/self-hosted-worker' }}

  self-hosted:
    name: Push Self Hosted Image
    needs: [build-self-hosted, test]
    secrets: inherit
    if: ${{ github.event_name == 'push' && github.event.ref == 'refs/heads/main' && github.repository_owner == 'codecov' }}
    uses: codecov/gha-workflows/.github/workflows/self-hosted.yml@v1.2.27
    with:
      push_rolling: true
      repo: ${{ vars.CODECOV_IMAGE_V2 || 'codecov/self-hosted-worker' }}
