interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/user/orgs?page=1
  response:
    content: '[{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","url":"https://api.github.com/orgs/codecov","repos_url":"https://api.github.com/orgs/codecov/repos","events_url":"https://api.github.com/orgs/codecov/events","hooks_url":"https://api.github.com/orgs/codecov/hooks","issues_url":"https://api.github.com/orgs/codecov/issues","members_url":"https://api.github.com/orgs/codecov/members{/member}","public_members_url":"https://api.github.com/orgs/codecov/public_members{/member}","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","description":"Empower
      developers with tools to improve code quality and testing."}]'
    headers:
      Content-Type: [application/json; charset=utf-8]
      Etag: [W/"dc069f2696a19f8b0cee3784d657ea74"]
      Status: [200 OK]
      X-Accepted-Oauth-Scopes: ['admin:org, read:org, repo, user, write:org']
      X-Consumed-Content-Encoding: [gzip]
      X-Github-Media-Type: [github.v3]
      X-Oauth-Scopes: [repo]
      X-Ratelimit-Limit: ['5000']
      X-Ratelimit-Remaining: ['4999']
      X-Ratelimit-Reset: ['1571958366']
    status: {code: 200, message: OK}
    status_code: 200
    url: https://api.github.com/user/orgs?page=1
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/users/codecov
  response:
    content: '{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github.com/codecov","followers_url":"https://api.github.com/users/codecov/followers","following_url":"https://api.github.com/users/codecov/following{/other_user}","gists_url":"https://api.github.com/users/codecov/gists{/gist_id}","starred_url":"https://api.github.com/users/codecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codecov/subscriptions","organizations_url":"https://api.github.com/users/codecov/orgs","repos_url":"https://api.github.com/users/codecov/repos","events_url":"https://api.github.com/users/codecov/events{/privacy}","received_events_url":"https://api.github.com/users/codecov/received_events","type":"Organization","site_admin":false,"name":"Codecov","company":null,"blog":"https://codecov.io/","location":null,"email":"hello@codecov.io","hireable":null,"bio":"Empower
      developers with tools to improve code quality and testing.","public_repos":89,"public_gists":0,"followers":0,"following":0,"created_at":"2014-07-21T16:22:31Z","updated_at":"2019-09-25T18:53:30Z"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      Etag: [W/"166555d71f2c61d50a44129cfc25b7d9"]
      Last-Modified: ['Wed, 25 Sep 2019 18:53:30 GMT']
      Status: [200 OK]
      X-Accepted-Oauth-Scopes: ['']
      X-Consumed-Content-Encoding: [gzip]
      X-Github-Media-Type: [github.v3]
      X-Oauth-Scopes: [repo]
      X-Ratelimit-Limit: ['5000']
      X-Ratelimit-Remaining: ['4996']
      X-Ratelimit-Reset: ['1571958366']
    status: {code: 200, message: OK}
    status_code: 200
    url: https://api.github.com/users/codecov
