interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/user/memberships/orgs?page=1
  response:
    content: '[{"url":"https://api.github.com/orgs/codecov/memberships/ThiagoCodecov","state":"active","role":"member","organization_url":"https://api.github.com/orgs/codecov","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.com/ThiagoCodecov","followers_url":"https://api.github.com/users/ThiagoCodecov/followers","following_url":"https://api.github.com/users/ThiagoCodecov/following{/other_user}","gists_url":"https://api.github.com/users/ThiagoCodecov/gists{/gist_id}","starred_url":"https://api.github.com/users/ThiagoCodecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ThiagoCodecov/subscriptions","organizations_url":"https://api.github.com/users/ThiagoCodecov/orgs","repos_url":"https://api.github.com/users/ThiagoCodecov/repos","events_url":"https://api.github.com/users/ThiagoCodecov/events{/privacy}","received_events_url":"https://api.github.com/users/ThiagoCodecov/received_events","type":"User","site_admin":false},"organization":{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","url":"https://api.github.com/orgs/codecov","repos_url":"https://api.github.com/orgs/codecov/repos","events_url":"https://api.github.com/orgs/codecov/events","hooks_url":"https://api.github.com/orgs/codecov/hooks","issues_url":"https://api.github.com/orgs/codecov/issues","members_url":"https://api.github.com/orgs/codecov/members{/member}","public_members_url":"https://api.github.com/orgs/codecov/public_members{/member}","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","description":"Empower
      developers with tools to improve code quality and testing."}},{"url":"https://api.github.com/orgs/ThiagoCodecovTeam/memberships/ThiagoCodecov","state":"active","role":"admin","organization_url":"https://api.github.com/orgs/ThiagoCodecovTeam","user":{"login":"ThiagoCodecov","id":44376991,"node_id":"MDQ6VXNlcjQ0Mzc2OTkx","avatar_url":"https://avatars3.githubusercontent.com/u/44376991?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecov","html_url":"https://github.[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/users/codecov
  response:
    content: '{"login":"codecov","id":8226205,"node_id":"MDEyOk9yZ2FuaXphdGlvbjgyMjYyMDU=","avatar_url":"https://avatars3.githubusercontent.com/u/8226205?v=4","gravatar_id":"","url":"https://api.github.com/users/codecov","html_url":"https://github.com/codecov","followers_url":"https://api.github.com/users/codecov/followers","following_url":"https://api.github.com/users/codecov/following{/other_user}","gists_url":"https://api.github.com/users/codecov/gists{/gist_id}","starred_url":"https://api.github.com/users/codecov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/codecov/subscriptions","organizations_url":"https://api.github.com/users/codecov/orgs","repos_url":"https://api.github.com/users/codecov/repos","events_url":"https://api.github.com/users/codecov/events{/privacy}","received_events_url":"https://api.github.com/users/codecov/received_events","type":"Organization","site_admin":false,"name":"Codecov","company":null,"blog":"https://codecov.io/","location":null,"email":"hello@codecov.io","hireable":null,"bio":"Empower
      developers with tools to improve code quality and testing.","twitter_username":null,"public_repos":98,"public_gists":0,"followers":0,"following":0,"created_at":"2014-07-21T16:22:31Z","updated_at":"2020-10-28T19:29:26Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c24e96a03914be633678cca4f59e1941e1b1ecbdd5be7f45527a0b98e71e15a8"
      last-modified:
      - Wed, 28 Oct 2020 19:29:26 GMT
      status:
      - 200 OK
      x-accepted-oauth-scopes:
      - ''
      x-github-media-type:
      - github.v3
      x-oauth-scopes:
      - admin:org, admin:public_key, admin:repo_hook, repo, user, workflow, write:discussion
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-reset:
      - '1604007913'
      x-ratelimit-used:
      - '14'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.github.com/users/ThiagoCodecovTeam
  response:
    content: '{"login":"ThiagoCodecovTeam","id":57222756,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3MjIyNzU2","avatar_url":"https://avatars0.githubusercontent.com/u/57222756?v=4","gravatar_id":"","url":"https://api.github.com/users/ThiagoCodecovTeam","html_url":"https://github.com/ThiagoCodecovTeam","followers_url":"https://api.github.com/users/ThiagoCodecovTeam/followers","following_[...]
